/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Abel&family=Poppins:wght@200&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap'); */
*{
    /* font-family: 'Poppins', sans-serif; */
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
     /* con capitalize pones las primeras con mayusculas */
    /* transition: all .2s linear; */
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    color: #666;
    /* color: rgb(115, 115, 223); */
    text-decoration: none;
}


/* * ==============HEADER INICIO==================== */
.header{
    z-index: 0;
    top: 0;left: 0; right: 0;
    width: 100%;   
    align-items: center ;
    display: inline-block;
    justify-content: space-between;
    font-size: 2rem; 
    padding:1.5rem 15%; 
}

.navbar-opciones{
    
    position: relative;
    display: inline-block;
}

.navbar-opciones a{
    
    font-size: 1rem;
    margin: 0 1.5rem;
    opacity: .8;
}

.navbar-opciones a:focus{
    border-bottom: 3px solid #F5A4C7;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}




.header-general{
    
    display: flex;
    justify-content:space-between;
    
    align-items: center;
    width: 100%;
}

.header-left img{
    margin-top: 2rem;
    width: 23rem;
}

.header-center-right {
    width: 700rem;
    display: inline-block;
    
    margin: 2.5rem 1% 0 1%; 
    text-align: center;
}

.header-center-right a h4{
    display: inline-block;
    opacity: .7;
    font-size: 1.4rem;
    margin: 0 4%;
    font-family: 'Abel', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.header-center-right a:hover{
    border-bottom-width: 1px solid plum;
    
    color: plum;
}

.header-center-right a:focus{
    border-bottom: 3px solid #F5A4C7;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}


/* * =======================HEADER FIN======================== */

/* * ========== MENU INICIO========== */

.menu{
    
    display: inline-flex;
    position: relative;
    width: 100%;
    height: 45rem;
    /* overflow: hidden; */
    background: #007CC3;
    /* background-image: url(../img/image-simple-2/Fondo.png); */
    /* opacity: 0.5; */
    z-index: 0;
    padding: 3rem 9%;
    justify-content: space-between;
    
}
.menu::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    /* Specify the background image to be used */
    background-image: url(../img/image-simple-2/Fondo.png);
    background-size: cover;

    /* Specify the background image */
    opacity: 0.03;
}

.menu nav{
    position: relative;
    
}


.menu-nav1{
    position: relative;
    z-index: 10000;
    padding: 5rem 0;
    text-align: left;
}

.menu-nav1 h2{
    color: #fff;
    position: relative;
    font-family: 'Abel', sans-serif;
    
    text-align: left;
    margin: .5rem 0;  
}



.menu-nav1-h2_1{
    font-size: 3rem;
}

.menu-nav1-h2_2{
    font-size: 4.3rem;
}



.menu-nav1 p{
    color: #fff;
    position: relative;
    font-family: 'Abel', sans-serif;
    font-size: 3rem;
    text-align: left;
}

.menu-nav1 div{  
    margin-top: 2.5rem;
    padding-top: .5rem;
    color: #fff;
    width: 16.5rem;
    height: 3.5rem;
    align-content: center;
    text-align: center;
    background: #F173AC;
    border-radius: 15px;
}

.menu-nav1 a{
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    /* margin-left: .5rem; */
    /* padding-top: 4.5rem; */
    color: #fff;
    /* align-content: center; */
    /* text-align: center; */
    font-size: 1.5rem;
}

.menu-nav1 a i{
    position: relative;
    top: 2px;
    font-size: 2rem;
    margin-right: 1rem;
}




.menu-nav2{
    position: relative;
    text-align: right;   
    /* right: 0px;*/
    /* top: 150px;  */
    /* z-index: 1000; */
     
}

.menu-nav2 img{
    box-shadow: -3rem 0  80px -70px rgb(51, 46, 46);
    position: relative;
    text-align: right;
    
}



/* * ========== MENU FIN========== */

/* * ========== IMPORTANTE INICIO========= */
.importante{
    
    position: relative;
    text-align: center;  
    margin: 7.5rem 0;
    z-index: 0;
    transition: all .6s linear;
}

.importante h1{
    font-size: 2rem;
    /* font-family: 'Abel', sans-serif;
    font-family: 'Poppins', sans-serif; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #F173AC;
    padding: 3rem;
}

.importante  img{
    margin:0 5%;
}

.import-nav{
    /* transition: all .1s linear; */
    margin: 0 2%;
}

.import-nav div{
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    align-items: center;
    text-align: center;
}

.import-nav div h2{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    opacity: .8;
    text-align: center;
    margin: 0 2%;
    padding: 0 9%;
}

.import-nav-2{
    width: 40rem;
}


.import-nav2-h2{
    margin: 0 1.2rem;
}


/* .import-nav-2{
    text-align: center;
    display: inline-flex;
}

.import-nav-2 p{
    margin: 0 5%;
} */
/* 
.importante p{
    font-size: 1.7rem;
    text-align: center;
    margin: 0 30%;
    font-family: 'Abel', sans-serif;
} */
/* * ========== IMPORTANTE FIN========= */

/* *=========== VACIO inicio========== */
.vacio{
    /* transition: all .2s linear; */
    width: 100%;
    height: 45rem;
    background: #D9D9D9;
    opacity: .5;
    z-index: 0;
}
/* *============ VACIO  FIN =========== */


/* *============= OFRECEMOS inicio====== */
.ofrecemos{
    align-items: center;
    width: 100%;
    height: 30rem;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    z-index: 1;
}


/* *BOX1 */
.ofrecemos-box1{
    position: relative;
    margin: auto;
    background: #fff;
    width: 80rem;
    height: 35rem;
    box-shadow: -3rem 0  80px -40px #777;
    top: -40rem;
    /* top: -900px;  */
    z-index: 10; 
}

.ofrecemos-box1 div{
    display: flex;
}

.ofrecemos-box1 div img{
    position: relative;
    height: 20rem;
    bottom: -4.5rem;
    left: -4.5rem;
    /* box-shadow: -3rem 0 80px -20px #777; */
    filter: drop-shadow(-1rem 20px 20px rgba(68, 67, 67, 0.253));
    transform: rotate(-10deg);
}

.ofrecemos-box1 div ul{
    
    font-size: 1.5rem;
    padding-left: 10rem;
    padding-right: 10rem;
    text-align: left;
    /* list-style-type: none; */
    color: #007CC3;
    padding-top: 2.5rem;
}

.ofrecemos-box1 div li h2{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #444;
    padding-top: 0rem;
}

.ofrecemos-box1 div li h2 b{
    font-weight: bold;
    
}

.ofrecemos-box1 h1{
    
    font-family: 'Abel', sans-serif;
    color: #F173AC;
    font-size: 2.5rem;
    padding-top: 1.5rem;
}



/* *BOX2 */
.ofrecemos-box2{
    position: relative;
    display: flex;
    top: -50rem;
    margin: auto;
    justify-content: space-between;
    background: #F5A4C7;
    width: 120rem;
    min-width: 100rem;
    height: 40rem;
    z-index: 9;
}

.ofrecemos-box2 div{
    display: flex;
}

.ofrecemos-box2 div ul{
    list-style-type: none;
}

.ofrecemos-importante ul{
    margin-top: 20%;
    margin-right: 40%;
    margin-left: 10%;
    text-align: left;
    color: #fff;
    font-size: 2rem;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Abel', sans-serif;
}

.ofrecemos-importante ul h1{
    padding-right: 10rem;
    font-family: 'Abel', sans-serif;
}

.ofrecemos-importante ul li p{
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Abel', sans-serif; */
    color: #fff;
    font-size: 1.5rem;
    /* margin: 0 20rem; */
}

.ofrecemos-img{
    position: relative;
    margin-right: 3.5rem;
    /* bottom: 0px;
    right: 0px; */
    
}

/* *============= OFRECEMOS fin====== */


/* *============footer INICIO============ */
.footer{
    text-align: center;
}
.ofrecemos-footer{
    
    position: relative;
    /* top: -20rem; */
    display: inline-block;
    width: 95rem;
    height: 20rem;
    
    margin: 2rem auto;
    
}



.ofrecemos_footer_div1{
    display: flex;
    justify-content: space-between;
}

.ofrecemos_footer_div1 div{
    display: flex;
}

.ofrecemos_footer_div1 div img{
    width: 3rem;
    height: 3rem;
}
.ofrecemos_footer_div1 a img{
    position: relative;
    top: 5px;
    text-align: center;
}


.footer-ul1{
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

.footer-ul2 li{
    color: #007CC3;
}




.ofrecemos_footer_div1 ul{
    list-style-type: none;
    margin-left: 1.5rem;
}


.footer-ul3 li {
    color: #007CC3;
}

.footer-ul3 li img{
    text-align: center;
    width: auto;
    margin: 0 2rem;
    padding:  .2rem;
}

.img-facebook{
    margin: 0 2.5rem;
}



.ofrecemos_footer_div2{
    border-top: 1px solid #BFBFBF;
    margin-top: 10rem;
}
.ofrecemos_footer_div2  p{
    margin-top: 1.5rem;
    color: #BFBFBF;
}

/* * ===== footer FIN====== */


/* *MEDIA QUERIES */
@media (max-width:1670px) {

    /* transition: all .2s linear; */
    .header-center-right{
        
        margin: 1.5rem 2rem 0 2rem; 
    }
    .header-center-right a{
    
        
        font-size: 1.3rem;
        margin: 0 2%;
    }
}

@media (max-width:1450px) {
    
    .menu-nav2 img {
        width: 60rem;
    }

}

@media (max-width:1000px) {
    html {
        font-size: 60%;
    }
    
    .ofrecemos{
        width: 70%;
        font-size: 30%;
    }
    

}


@media (max-width:750px) {
    html {
        font-size: 60%;
    }


    

}

@media (max-width:400px) {
    html {
        font-size: 60%;
    }

    
}