@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Poppins:wght@200&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
     /* con capitalize pones las primeras con mayusculas */
    transition: all .2s linear;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    color: #666;
    /* color: rgb(115, 115, 223); */
    text-decoration: none;
}


/* * ==============HEADER INICIO==================== */
.header{
    z-index: 1000;
    top: 0;left: 0; right: 0;
    width: 100%;   
    align-items: center ;
    display: inline-block;
    justify-content: space-between;
    font-size: 2rem; 
    padding:1.5rem 15%; 
}

.navbar-opciones{
    position: relative;
    display: inline-block;
}

.navbar-opciones a{
    
    font-size: 1.5rem;
    margin: 0 1.5rem;
    opacity: .8;
}


.navbar-opciones a:hover{
    border-top: plum;
}

.header-general{
    display: flex;
    justify-content:space-between;
    
    align-items: center;
    width: 100%;
}

.header-left img{
    width: 30rem;
}

.header-center-right{
    
    width: 700rem;
    display: inline-block;
    justify-content: space-between;
    padding: 2.5rem 15% 0 15%;
    
}

.header-center-right a{
    
    margin: 0 5% 0 5%;
    font-family: 'Abel', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.header-center-right a:hover{
    border-bottom-width: 1px solid plum;
    
    color: plum;
}

.header-center-right a:focus{
    color: plum;
    border-bottom-width: 1px solid plum;
}


/* * =======================HEADER FIN======================== */

/* * ========== MENU INICIO========== */

.menu{
    position: relative;
    width: 100%;
    height: 60rem;
    background: #F173AC;
}

.menu h1{
    position: relative;
    font-family: 'Abel', sans-serif;
    font-size: 5rem;
    text-align: center;
    right: 390px;
    bottom: -150px;
    margin: 0 35%;
}

/* * ========== MENU FIN========== */

/* * ========== IMPORTANTE INICIO========= */
.importante{
    text-align: center;  
    padding-bottom: 4.5rem;
}

.importante h1{
    font-size: 2rem;
    /* font-family: 'Abel', sans-serif;
    font-family: 'Poppins', sans-serif; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #F173AC;
    padding: 3rem;
}

.importante  img{
    margin:0 4%;
}

.import-nav-2{
    text-align: center;
    display: inline-flex;
}

.import-nav-2 p{
    margin: 0 5%;
}
/* .import-nav nav{
    margin: 0 10rem;
}

.importante p{
    font-size: 1.7rem;
    text-align: center;
    margin: 0 30%;
    font-family: 'Abel', sans-serif;
} */
/* * ========== IMPORTANTE FIN========= */

/* *=========== VACIO inicio========== */
.vacio{
    width: 100%;
    height: 50rem;
    background: rgba(70, 112, 99, 0.411);
}
/* *============ VACIO  FIN =========== */


/* *============= OFRECEMOS inicio====== */
.ofrecemos{
    width: 100%;
    height: 70rem;
}

.ofrecemos-box1{
    background: #ddd;
    width: 50rem;
    height: 30rem;
    
}

.ofrecemos-box2{
    background: #F5A4C7;
    width: 70rem;
    height: 40rem;
}
/* *============= OFRECEMOS fin====== */


/* *MEDIA QUERIES */
@media (max-width:1000px) {
    html {
        font-size: 60%;
    }

}


@media (max-width:750px) {
    html {
        font-size: 60%;
    }


    

}

@media (max-width:400px) {
    html {
        font-size: 60%;
    }

    
}