@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
     /* con capitalize pones las primeras con mayusculas */
    transition: all .2s linear;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    color: #666;
    /* color: rgb(115, 115, 223); */
    text-decoration: none;
}


/* * ==============HEADER INICIO==================== */
.header{
    z-index: 1000;
    top: 0;left: 0; right: 0;
    
    width: 100%;   
    align-items: center ;
    display: inline-block;
    justify-content: space-between;
    font-size: 2rem; 
    padding:1.5rem 15%; 

}

.navbar-opciones a{
    
    font-size: 1.5rem;
    margin: 0 1.5rem;
    opacity: .8;
}

.navbar-opciones a:hover{
    color: plum;
}

.header-general{
    display: flex;
    justify-content:space-between;
    
    align-items: center;
    width: 100%;
}

.header-left img{
    width: 30rem;
}

.header-center-right{
    
    width: 700rem;
    display: inline-block;
    justify-content: space-between;
    padding: 2.5rem 15% 0 15%;
    font-family: 'Abel', sans-serif;
}

.header-center-right a{
    
    margin: 0 5% 0 5%;
    font-family: 'Abel', sans-serif;
}

.header-center-right a:hover{
    color: plum;
}

.header-center-right a:focus{
    color: plum;
}


/* * =======================HEADER FIN======================== */

/* * ========== MENU INICIO========== */

.menu{
    position: relative;
    width: 100%;
    height: 60rem;
    background: #F173AC;
}

.menu h1{
    position: relative;
    font-family: 'Abel', sans-serif;
    font-size: 4rem;
    text-align: center;
    right: 500px;
    bottom: -150px;
    margin: 0 40%;
}


/* * ========== MENU FIN========== */

/* * ========== IMPORTANTE INICIO========= */
.importante{
    text-align: center;
}

.importante h1{

    color: #F173AC;
    padding: 3rem;
}

.importante p{
    padding-top: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
    margin: 0 30%;
    font-family: 'Abel', sans-serif;
}
/* * ========== IMPORTANTE FIN========= */

/* *MEDIA QUERIES */
@media (max-width:1000px) {
    html {
        font-size: 60%;
    }

}


@media (max-width:750px) {
    html {
        font-size: 60%;
    }


    

}

@media (max-width:400px) {
    html {
        font-size: 60%;
    }

    
}