@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    // outline: green solid 3px;
    border: none;
}

html {
    // font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

$azul: #007cc3;
$green1: #a6ce39;
$green2: #62bb46;
$green3: #009f46;
$gray1: #d9d9d9;
$gray2: #bfbfbf;
$gray3: #999999;

.home {
    margin: auto;
    // background-color: $gray2;
    height: 35rem;
    width: 60rem;

    .home-box {
        display: flex;
        position: relative;

        .home__div1 {
            width: 70%;
            padding-right: 15rem;

            img{
                width: 12rem;
            }

            div{

                margin-top: 8rem;

                span{

                    font-size: 2rem;
                    // font-family: "Abel", sans-serif;
                    font-family: "Poppins", sans-serif;
                    color: $azul;
                }

                p{
                    font-family: "Poppins", sans-serif;
                    font-size: 1rem;
                    color: $gray3;

                    b{
                        color: $green2;
                        font-size: 3rem;
                        line-height: 1.2;
                    }
                }
            }
        }

        .home__div2 {
            width: 30%;
            height: 30rem;
            background-color: $azul;

            &::before {
                content: "";
                width: 18rem;
                height: 30rem;
                position: absolute;
                // top: 0px;
                // right: 0px;
                // bottom: 0px;
                // left: 0px;
                /* Specify the background image to be used */
                background-image: url(../img/image-simple-2/Fondo.png);
                background-size: cover;
                /* Specify the background image */
                opacity: 0.03;
            }
        }

        .home__div3 {
            // display: none;
            position: absolute;
            right: 8rem;
            bottom: -5rem;
        }
    }
}

.section_2{
    background-color: rgba(217, 217, 217, .30);
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;

    .image{
        // margin-top: 5rem;
        img{
            position: relative;
            top: 5rem;
            // margin-top: 5rem;
            width: 30rem;
        }
    }

    .content{
        width: 30rem;
        height: 10rem;
        position: relative;
        top: 10rem;
        padding: 2rem 10rem 2rem 2rem;

        h3{
            font-family: "Abel", sans-serif;
            color: $green2;
        }

        span{
            
            font-size: .8rem;
            color: $gray3;
        }
    }
}

.section_3{
    margin-top: 10rem;
    display: flex;
    justify-content: center;

    .content{
        width: 30rem;
        padding: 6rem 6rem 6rem 3rem;
        font-family: "Poppins", sans-serif;
        

        h3{
            font-family: "Abel", sans-serif;
            color: $green2;
        }

        span{
            font-size: .8rem;
            color: $gray3;
        }
    }

    .image{

        img{
            width: 30rem;
        }
    }
}

.dinamic{
    display: flex;
    // text-align: center;
    justify-content: center;

    .content-content{
        padding-top: 5rem;
        padding-bottom: 5rem;
        // margin: auto;
        width: 30rem;

        ol{
            padding-left: 1rem;
            padding-right: 3rem;

            li{
                margin-bottom: 3rem;
                font-family: "Poppins", sans-serif;
                font-size: .8rem;
                color: $gray3;
                &::marker{

                    color: $green2;
                }
            }
        }
    }

    .content-dinamic{
        width: 40rem;
        height: 60rem;
        padding-top: 5rem;
        // object-fit: fill;

        // img{
        //     object-fit: fill;
        // }
    }
}

.filosofy{
    background-color: rgba(217,217,217, .7);
    text-align: center;
    padding: 2rem 15%;

    h2{
        // font-family: "Poppins", sans-serif;
        font-family: "Abel", sans-serif;
        margin: 2rem auto;
        color: $azul;
        font-weight: 900;
    }

    div{
        justify-content: space-around;
        // margin: 2rem auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
        // background-color: #fff;


        div{
            background-color: #fff;
            width: 20rem;
            height: 25rem;
            text-align: center;
            box-shadow: -3rem 0 80px -70px rgb(51, 46, 46);
            display: block;
            padding: 1rem;
            font-family: "Poppins", sans-serif;
            color: $gray3;

            img{
                margin: 3rem 0;
                position: relative;
                // justify-content: center;
                // text-align: center;
                // width: 10rem;height: 8rem;
            }
        }
    }

    .span-text-footer{
        // height: auto;
        
        padding: 0rem 15%;
        color: $gray3;
    }
}

.section_final{
    width: 100%;
    // height: 30rem;
    min-height: 60vh;

    display: flex;
    position: relative;

    .section_final-contenedor{
        position: relative;
        margin: 0rem 25% 0 auto;
        background-color: #fff;
        width: 25rem;
        height: 30rem;
        text-align: center;
        bottom: -5rem;
        // left: 2%;
        // right: ;
        box-shadow: -3rem 0 80px -40px rgb(51, 46, 46);
        padding: 5rem 2rem 0 2rem;

        

        .section_final-tittle{
            // font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-family: "Abel", sans-serif;
            // font-family: Georgia, 'Times New Roman', Times, serif;
            color: $azul;
            font-weight: 900;
            font-size: 2rem;
        }

        .section_final-info{
            margin-top: 1rem;
            color: $gray3;
        }

        div {
            text-align: center;
            position: relative;
            margin: 2rem auto;
            // margin-top: 2.5rem;
            padding-top: 0.3rem;
            color: #fff;
            width: 13rem;
            height: 2rem;
            // align-content: center;
            text-align: center;
            background: $green2;
            border-radius: 25px;

            a {
                // margin-top: 1rem;
                font-family: "Abel", sans-serif;
                // font-weight: bold;
                color: #fff;
                font-size: 1rem;
                font-weight: 600;

                i {
                    position: relative;
                    top: 2px;
                    font-size: 1rem;
                    margin-right: 1rem;
                }
            }
        }
    }
}

.footer{
    height: 5rem;

    p{
        position: relative;
        left: 15%;
        font-size: .5rem;
        bottom: -30px;
        color: $gray2;
    }
}
