@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

@keyframes miAnimacion-2 {
  from {
    height: 0;
  }
  to {
    height: 50px;
  }
}
@keyframes miAnimacion-3 {
  from {
    height: 50px;
  }
  to {
    height: 0px;
  }
}
@keyframes miAnimacion_menu {
  from {
    height: 10px;
  }
  to {
    height: 20px;
  }
}
@keyframes div_open {
  0% {
    height: 0rem;
  }
  50% {
    height: 3.5rem;
  }
  100% {
    height: 7rem;
  }
}
@keyframes bar_hover {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: rgba(191, 191, 191, 0.25);
}

.home {
  position: relative;
  width: 100%;
  height: 55rem;
  background: rgba(255, 255, 255, 0.4745098039);
  display: flex;
  z-index: 1;
}
.home .home__box {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}
.home .home__box .home_bg_img {
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  max-width: 120rem;
  width: 100%;
  position: absolute;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  background: url(../img/images-gine/ema/ema-bg-3.png);
  background-size: cover;
  background-position: center;
  opacity: 1;
}
.home .home__box .home_bg_img .bg {
  display: none;
}
.home .home__box .home__nav1 {
  width: 100%;
  padding: 0rem 3rem 8rem 9.5rem;
  text-align: left;
  z-index: 11;
}
.home .home__box .home__nav1 .home-img_logo {
  margin: 5rem 0 8rem 0;
}
.home .home__box .home__nav1 .home-img_logo .img_logo, .home .home__box .home__nav1 .home-img_logo .img_logo2 {
  height: 4rem;
}
.home .home__box .home__nav1 .home-img_logo .img_logo2 {
  display: none;
}
.home .home__box .home__nav1 P {
  font-size: 1.5rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-align: left;
  margin: 0.5rem 0;
}
.home .home__box .home__nav1 .home_content {
  color: #000;
  max-width: 39rem;
}
.home .home__box .home__nav1 .home__nav1-P_2 {
  font-family: "Abel", sans-serif;
  color: #007cc3;
  font-size: 4.5rem;
}
.home .home__box .home__nav1 .animated {
  margin-top: 2.5rem;
  padding-top: 0.5rem;
  width: 16.5rem;
  height: 3.5rem;
  align-content: center;
  text-align: center;
  background: #f173ac;
  border-radius: 5px;
  align-items: center;
}
.home .home__box .home__nav1 .animated a {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 100;
}
.home .home__box .home__nav1 .animated a i {
  position: relative;
  font-size: 1.5rem;
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 1px solid #fff;
}
.home .home__box .home__nav1 .animated:hover {
  transition: 0.2s linear;
  transform: scale(1.1);
}
.home .home__box .home__nav1 .nav1-box_link {
  margin-top: 2rem;
}
.home .home__box .home__nav1 .nav1-box_link .link {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #f173ac;
  text-decoration: underline;
  transition: 1.2s;
}
.home .home__box .home__nav1 .nav1-box_link .link:hover {
  color: #007cc3;
}

.study {
  padding: 10rem 0 2rem 0;
  background-color: #fff;
  display: inline-block;
  width: 100%;
}
.study .tittle {
  padding: 0 2rem;
  color: #f173ac;
  text-align: center;
  font-family: "Abel", sans-serif;
  font-size: 2.8rem;
}
.study .info2 {
  padding-top: 4rem;
  display: flex;
  width: 95%;
  max-width: 110rem;
  margin: auto;
  flex-wrap: wrap;
}
.study .info2 div {
  margin: 1rem auto;
  width: 32rem;
  height: 25rem;
  text-align: center;
}
.study .info2 div img {
  margin-bottom: 1rem;
  width: 12rem;
  height: 8rem;
}
.study .info2 div h2 {
  font-size: 2rem;
  text-align: center;
  color: #007cc3;
  padding: 0.5rem 2rem;
  font-family: "Abel", sans-serif;
}
.study .info2 div h2 span {
  font-size: 1.8rem;
  color: #000;
}
.study .info2 div p {
  padding: 0.5rem 2rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 1.4rem;
  color: #000;
}

.time-price {
  display: flex;
  width: 95%;
  max-width: 100rem;
  margin: 5rem auto;
  flex-wrap: wrap;
}
.time-price .time-price_box1, .time-price .time-price_box2 {
  height: 20rem;
  flex: 1 1 30rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.time-price .time-price_box1 .time-price_box2_img, .time-price .time-price_box2 .time-price_box2_img {
  width: 10rem;
  height: 7rem;
}
.time-price .time-price_box1 div, .time-price .time-price_box2 div {
  margin-left: 2rem;
  padding-right: 1rem;
}
.time-price .time-price_box1 div h3, .time-price .time-price_box2 div h3 {
  font-family: "Abel", sans-serif;
}
.time-price .time-price_box1 div p, .time-price .time-price_box2 div p {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}
.time-price .time-price_box1 {
  background-color: #fff;
  position: relative;
}
.time-price .time-price_box1 .point3 {
  width: 10rem;
  position: absolute;
  z-index: 100;
  top: -2rem;
  left: -2rem;
}
.time-price .time-price_box1 div h3 {
  font-size: 2rem;
  color: #f173ac;
}
.time-price .time-price_box1 div p {
  color: #000;
}
.time-price .time-price_box2 {
  text-align: center;
  background-color: #007cc3;
  background-image: url(../img/image-simple-2/Fondo2.png);
  background-size: cover;
}
.time-price .time-price_box2 div {
  color: #fff;
}
.time-price .time-price_box2 div h3 {
  font-size: 2.5rem;
}

.info {
  display: flex;
  width: 100%;
  max-width: 120rem;
  margin: 5rem auto;
}
.info .info_image {
  max-height: 44rem;
  width: 50%;
  display: flex;
}
.info .info_image .img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.info .info_content {
  width: 50%;
  background-color: #f173ac;
  display: flex;
}
.info .info_content .info_content_box {
  margin: auto;
  max-width: 40rem;
}
.info .info_content .info_content_box .content {
  margin: 3rem 2rem;
  display: flex;
}
.info .info_content .info_content_box .content .img {
  align-self: center;
  width: 5.3rem;
}
.info .info_content .info_content_box .content .paragraph {
  font-family: "Poppins", sans-serif;
  color: #fff;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 100;
}
.info .info_content .info_content_box .content:first-child {
  margin-bottom: 4rem;
}

.info-date {
  margin: auto;
  width: 95%;
  max-width: 100rem;
  background-color: #fff;
  text-align: center;
  padding: 4rem 5rem;
  box-shadow: -3rem 4rem 80px -70px rgb(51, 46, 46);
  z-index: 1;
  position: relative;
  top: 1rem;
}
.info-date h2 {
  font-family: "Abel", sans-serif;
  color: #f173ac;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.info-date .section__subtitle {
  padding: 0 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  color: #000;
  background-color: #fff;
  z-index: 1;
  position: relative;
}
.info-date .section_election {
  max-width: 40rem;
  width: 90%;
  display: flex;
  margin: 2rem auto;
  justify-content: space-between;
}
.info-date .section_election .day1, .info-date .section_election .day2 {
  cursor: pointer;
}
.info-date .section_election .day1 strong, .info-date .section_election .day2 strong {
  color: #007cc3;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}
.info-date .section_election .day1 div, .info-date .section_election .day2 div {
  margin: 0 auto;
  border-radius: 5px;
  width: 100%;
  height: 0.2rem;
}
.info-date .section_election .day1:hover div, .info-date .section_election .day2:hover div {
  background-color: #007cc3;
  animation: bar_hover 0.2s linear;
}
.info-date .section_election .day1.active div, .info-date .section_election .day2.active div {
  background-color: #007cc3;
}
.info-date .section_election .day1.active:hover div, .info-date .section_election .day2.active:hover div {
  animation: none;
}
.info-date .info-date-container {
  display: none;
}
.info-date .info-date-container.active {
  display: inline;
  font-size: 1.4rem;
}
.info-date .info-date-container.active .info-contenido {
  margin: 1rem 4rem;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid #f173ac;
  color: #000;
  position: relative;
}
.info-date .info-date-container.active .info-contenido .contenido-header {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1;
  background: #fff;
  position: relative;
}
.info-date .info-date-container.active .info-contenido .contenido-header img {
  display: flex;
  width: 1.6rem;
}
.info-date .info-date-container.active .info-contenido .contenido-header.open img {
  transition: 0.2s all linear;
}
.info-date .info-date-container.active .info-contenido .contenido-header.open i {
  transform: rotate(180deg);
  color: #f173ac;
}
.info-date .info-date-container.active .info-contenido .contenido-header.close img {
  transition: 0.2s all linear;
  transform: rotate(180deg);
}
.info-date .info-date-container.active .info-contenido .contenido-header.close i {
  color: #f173ac;
  transform: rotate(0deg);
}
.info-date .info-date-container.active .info-contenido .contenido-body {
  display: flex;
  justify-content: space-around;
  transition: all 0.5s linear;
  z-index: 0;
}
.info-date .info-date-container.active .info-contenido .contenido-body .div1 {
  text-align: center;
  width: 29rem;
  min-width: 9rem;
}
.info-date .info-date-container.active .info-contenido .contenido-body .div1 .div-image {
  display: flex;
  width: 7rem;
  height: 7rem;
  text-align: center;
  justify-content: center;
  margin: 0 auto 1.5rem auto;
}
.info-date .info-date-container.active .info-contenido .contenido-body .div1 p {
  text-align: center;
  padding: 0 1rem;
}
.info-date .info-date-container.active .info-contenido .contenido-body.open {
  height: auto;
  margin: 3rem 0;
}
.info-date .info-date-container.active .info-contenido .contenido-body.open .div1 .div-image {
  animation: div_open 0.2s linear;
}
.info-date .info-date-container.active .info-contenido .contenido-body.close {
  height: 0rem;
}
.info-date .info-date-container.active .info-contenido .contenido-body.close .div1 .div-image {
  width: 0;
  height: 0;
}
.info-date .info-date-container.active .info-contenido .contenido-body.close .div1 p {
  display: none;
}
.info-date .point4, .info-date .point5, .info-date .point6, .info-date .point7 {
  width: 10rem;
  position: absolute;
  z-index: 100;
}
.info-date .point4 {
  top: 2rem;
  right: -3rem;
}
.info-date .point5 {
  top: 40%;
  left: -3rem;
}
.info-date .point6 {
  bottom: -3rem;
  right: -3rem;
}
.info-date .point7 {
  bottom: -3rem;
  left: -3rem;
}

.footer {
  background-color: #fff;
  text-align: center;
  z-index: 0;
}
.footer .ofrecemos-footer {
  position: relative;
  display: inline-block;
  margin: 10rem auto 2rem auto;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 {
  display: flex;
  justify-content: space-between;
  width: 95rem;
  height: 10rem;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 i {
  color: #f173ac;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div {
  display: flex;
  max-width: 30rem;
  width: 100%;
  justify-content: center;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div a {
  position: relative;
  top: 10px;
  text-align: center;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div a i {
  font-size: 3rem;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul1, .footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul2, .footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul3 {
  list-style-type: none;
  margin-left: 1.5rem;
  font-family: "Poppins", sans-serif;
  text-align: left;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul1 h2, .footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul2 h2, .footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul3 h2 {
  font-size: 1.6rem;
  font-family: "Abel", sans-serif;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul1 li a, .footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul2 li a, .footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul3 li a {
  top: 0;
  color: #007cc3;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul1 li p, .footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul2 li p, .footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul3 li p {
  font-size: 1.3rem;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul1 li {
  padding-top: 1rem;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul2 li {
  padding-top: 0.8rem;
  color: #007cc3;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul3 li {
  font-size: 1.3rem;
  color: #007cc3;
  font-weight: 100;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul3 ul {
  padding: 0.3rem;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul3 ul a {
  padding-top: 0.5rem;
  position: inherit;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul3 ul a i {
  margin-right: 1rem;
  color: #666;
  font-size: 2rem;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul3 ul a i:hover {
  color: #007cc3;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul3 ul a .fab.fa-instagram {
  position: relative;
  top: 0.19rem;
  font-size: 2.3rem;
}
.footer .ofrecemos-footer .ofrecemos_footer_div2 {
  border-top: 1px solid #bfbfbf;
}
.footer .ofrecemos-footer .ofrecemos_footer_div2 p {
  font-family: "Poppins", sans-serif;
  margin-top: 1.5rem;
  color: #000;
  font-size: 1rem;
}

@media (max-width: 1050px) {
  .home {
    height: auto;
  }
  .home .home__box {
    width: 100%;
  }
  .home .home__box .home__nav1 {
    padding: 0 0 0 2rem;
    align-items: center;
    vertical-align: middle;
  }
  .home .home__box .home__nav1 .home-img_logo {
    margin-bottom: 4rem;
  }
  .home .home__box .home__nav1 .home_content {
    max-width: 33rem;
  }
  .home .home__box .home__nav1 .animated {
    margin: 2.5rem 0 2rem 0;
  }
  .home .home__box .home__nav1 .nav1-box_link {
    margin-bottom: 2rem;
  }
  .home .home__box .home-nav2 {
    width: 50%;
    align-items: center;
  }
  .home .home__box .home-nav2 img {
    width: 100%;
  }
  .home .home__box .img-fondo {
    display: none;
  }
  .study {
    padding: 5rem 0 1rem 0;
  }
  .characteres {
    margin: auto;
  }
  .characteres.emi {
    margin: auto;
  }
  .characteres .characteres-center_rigth .arrow-left, .characteres .characteres-center_rigth .arrow-right {
    display: none;
  }
  .characteres .characteres-center_rigth .slider-contenedor {
    width: 100%;
    margin: auto;
    overflow: auto;
  }
  .characteres .characteres-center_rigth .slider-contenedor::-webkit-scrollbar {
    display: none;
  }
  .characteres .characteres-center_rigth .slider-contenedor .point2 {
    display: none;
  }
  .characteres .characteres-center_rigth .slider-contenedor .slider-contenedor2 {
    margin-left: 0;
  }
  .characteres .characteres-center_rigth .slider-contenedor-2 .point2 {
    display: none;
  }
  .time-price .time-price_box1 .point3 {
    display: none;
  }
  .info-date {
    padding: 2rem 1rem;
    width: 100%;
  }
  .info-date .point4, .info-date .point5, .info-date .point6, .info-date .point7 {
    display: none;
  }
  .footer .ofrecemos-footer {
    width: 100%;
    padding: 0 2rem;
  }
  .footer .ofrecemos-footer .ofrecemos_footer_div1 {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .home .home__box .home__nav1 .home__nav1-P_1 {
    font-size: 3.6rem;
  }
  .home .home__box .home__nav1 .home__nav1-P_2 {
    font-size: 3.6rem;
  }
  .footer .ofrecemos-footer {
    width: 80vw;
    padding: 0;
    margin-top: 5rem;
  }
  .footer .ofrecemos-footer .ofrecemos_footer_div1 {
    display: inline;
  }
  .footer .ofrecemos-footer .ofrecemos_footer_div1 div {
    justify-content: left;
    margin: 3rem;
    padding-right: 3rem;
  }
}
@media (max-width: 675px) {
  html {
    font-size: 55%;
  }
  .home .home__box .home_bg_img {
    display: flex;
    text-align: right;
    background: none;
  }
  .home .home__box .home_bg_img .bg {
    margin-left: auto;
    display: block;
  }
  .home .home__box .home__nav1 .home-img_logo {
    margin-top: 3rem;
  }
  .home .home__box .home__nav1 .home-img_logo .img_logo {
    display: none;
  }
  .home .home__box .home__nav1 .home-img_logo .img_logo2 {
    height: 5rem;
    display: flex;
  }
  .characteres .characteres-center_rigth .slider-contenedor .slider-contenedor2 .characteres_all {
    height: 252px;
    padding: 0;
  }
  .characteres .characteres-center_rigth .slider-contenedor .slider-contenedor2 .characteres_all img {
    width: 22rem;
  }
  .characteres .characteres-center_rigth .slider-contenedor .slider-contenedor2 .characteres_all.active {
    padding-top: 2rem;
    height: 282px;
  }
  .characteres .characteres-center_rigth .slider-contenedor-2 .characteres_img {
    width: 25rem;
    height: 25rem;
  }
  .characteres .characteres-center_rigth .slider-contenedor-2 .characteres_img .img {
    width: 25rem;
    height: 25rem;
  }
  .info-date .info-date-container {
    font-size: 1.15rem;
  }
  .info-date .info-date-container .info-contenido .contenido-body .div1 {
    width: 25rem;
  }
  .info-date .info-date-container .info-contenido .contenido-body .div1 .div-image {
    width: 10rem;
  }
  .info-date .info-date-container .info-contenido .contenido-body.open {
    height: 13rem;
  }
  .footer .ofrecemos-footer .ofrecemos_footer_div1 div a i {
    font-size: 3.8rem;
  }
  .footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul1 {
    padding-left: 0.6rem;
  }
  .footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul1 li p {
    font-size: 1.14rem;
  }
  .footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul2 li p {
    font-size: 1.14rem;
  }
  .footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul3 li {
    font-size: 1.14rem;
  }
}
@media (max-width: 530px) {
  .study .tittle {
    font-size: 2.5rem;
  }
  .characteres .characteres-center_rigth .slider-contenedor {
    height: 290px;
  }
  .characteres .characteres-center_rigth .slider-contenedor .slider-contenedor2 {
    left: -22.2rem;
    height: 290px;
  }
  .characteres .characteres-center_rigth .slider-contenedor .slider-contenedor2 .characteres_all {
    height: 250px;
  }
  .info {
    display: block;
  }
  .info .info_image, .info .info_content {
    width: 100%;
  }
  .info .info_image {
    z-index: 1;
    height: 25rem;
  }
  .info .info_image .img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .info .info_content {
    z-index: 2;
  }
  .info-date h2 {
    font-size: 2rem;
  }
  .info-date .section__subtitle {
    font-size: 1.2rem;
  }
  .info-date .info-date-container.active {
    font-size: 1.3rem;
  }
  .info-date .info-date-container.active .info-contenido {
    margin: 1rem 1rem;
  }
  .info-date .info-date-container.active .info-contenido .contenido-body .div1 .div-image {
    width: 7rem;
  }
}
@media screen and (max-width: 460px) {
  .home::before {
    z-index: 0;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    /* Specify the background image to be used */
    background-image: url(../img/images-gine/ema/ema-bg-1.jpg);
    background-size: cover;
    background-position: 75% center;
    /* Specify the background image */
    opacity: 0.35;
  }
  .home .home__box .home_bg_img {
    display: none;
  }
  .home .home__box .home__nav1 {
    padding: 0;
    margin: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .home .home__box .home__nav1 .home-img_logo {
    display: flex;
    justify-content: center;
    margin: 3rem auto;
    text-align: center;
  }
  .home .home__box .home__nav1 p {
    text-align: center;
  }
  .home .home__box .home__nav1 .home__nav1-P_2 {
    margin: auto;
    text-align: center;
  }
  .home .home__box .home__nav1 .home_content {
    margin: 2rem auto;
    padding: 0 1rem;
  }
  .home .home__box .home__nav1 .animated {
    margin: 2.5rem auto 6rem auto;
  }
  .characteres .characteres-center_rigth .slider-contenedor-2 .characteres_img {
    display: none;
  }
  .characteres .characteres-center_rigth .slider-contenedor-2 .characteres_img.second {
    display: flex;
    width: 100%;
    max-width: 35rem;
    height: 22rem;
  }
  .characteres .characteres-center_rigth .slider-contenedor-2 .characteres_img.second .img {
    width: 100%;
    max-width: 35rem;
    height: 22rem;
  }
}
@media (max-width: 370px) {
  .info-date {
    padding: 1rem 0.5rem;
  }
  .info-date h2 {
    font-size: 2.2rem;
  }
  .info-date .section__subtitle {
    font-size: 1.4rem;
  }
  .info-date .info-date-container {
    font-size: 1.3rem;
  }
  .info-date .info-date-container.active .info-contenido .contenido-body {
    flex-direction: column;
  }
  .info-date .info-date-container.active .info-contenido .contenido-body .div1 {
    width: 90%;
    max-width: 35rem;
    margin: 1rem 0 1rem 2rem;
    display: flex;
    align-items: center;
    animation: miAnimacion-3 0.2s linear;
  }
  .info-date .info-date-container.active .info-contenido .contenido-body.open {
    margin: 0;
    animation: none;
  }
  .info-date .info-date-container.active .info-contenido .contenido-body.open .div1 {
    animation: miAnimacion-2 0.2s linear;
  }
  .info-date .info-date-container.active .info-contenido .contenido-body.open .div1 p {
    font-size: 1.3rem;
    width: 100%;
    text-align: left;
    padding: 0 1rem;
  }
  .info-date .info-date-container.active .info-contenido .contenido-body.open .div1 .div-image {
    width: 50px;
    height: 50px;
    margin: auto;
  }
  .info-date .info-date-container.active .info-contenido .contenido-body.open .div1 .div-image img {
    width: 50px;
    height: 50px;
  }
  .info-date .info-date-container.active .info-contenido .contenido-body.open .div1 .div-image .img-incontrolable {
    height: 50px;
  }
  .info-date .info-date-container.active .info-contenido .contenido-body.close .div1 {
    animation: miAnimacion-3 0.2s linear;
  }
}/*# sourceMappingURL=style-gine-ema.css.map */