@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.header {
  padding: 1rem 0;
}

.header .header__div-box {
  width: 90%;
  max-width: 60rem;
  margin: auto;
}

.header .header__div-box .img {
  width: 10rem;
}

.section_tittle {
  padding: 1rem 0;
}

.section_tittle .box {
  margin: auto;
  width: 90%;
  max-width: 60rem;
  font-family: "Abel", sans-serif;
}

.section_tittle .box .tittle {
  font-size: 3rem;
  color: #62bb46;
}

.section_tittle .box .span {
  font-weight: 600;
  font-size: 1.5rem;
  color: #007cc3d2;
}

.patients {
  width: 100%;
  max-width: 1366px;
  height: 40rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: url(../../images/recomendaciones/muestra_sangre/background_img-1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.patients .box {
  z-index: 1;
  width: 90%;
  max-width: 90rem;
  margin: 0 auto;
}

.patients .box .box_div-1 {
  float: right;
  background-color: #62bb46;
  width: 30rem;
  height: 38rem;
  color: #fff;
  font-family: "Abel", sans-serif;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 1rem;
}

.patients .box .box_div-1 .img_pills {
  margin: 1rem 0;
  width: 10rem;
}

.patients .box .box_div-1 .tittle {
  padding: 1rem 0 0 0;
  font-size: 2rem;
}

.patients .box .box_div-1 .subtittle {
  padding: 0.5rem 0;
  font-size: 2rem;
}

.patients .box .box_div-1 .paragraph {
  font-size: 1.5rem;
  padding: 1rem 4rem;
}

.patients .points_1 {
  position: absolute;
  width: 9rem;
  right: 1rem;
  top: -3rem;
}

.patients.b .box .box_div-1 {
  width: 28rem;
  padding: 4rem 1rem;
}

.patients.b .box .box_div-1 .img_pills {
  width: 18rem;
}

.patients.b .box .box_div-1 .subtittle {
  padding: 0.5rem 2rem;
}

.recommendations {
  background-color: rgba(136, 136, 136, 0.164);
}

.recommendations .div-1 {
  margin: auto;
  max-width: 68rem;
  background: #fff;
  padding: 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: -1rem 1rem 40px -10px #c8c8c8;
          box-shadow: -1rem 1rem 40px -10px #c8c8c8;
  position: relative;
}

.recommendations .div-1 .box {
  width: 20rem;
  padding: 0 2rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.recommendations .div-1 .box img {
  padding: 0.5rem;
  width: 5rem;
}

.recommendations .div-1 .box p {
  color: #000;
  font-size: 1rem;
}

.recommendations .div-1 .box:nth-child(2) {
  border-left: 1px solid #62bb46;
  border-right: 1px solid #62bb46;
}

.recommendations .div-1 .points_2 {
  position: absolute;
  width: 9rem;
  left: -4rem;
  bottom: -2rem;
  z-index: -1;
}

.recommendations .div-2 {
  max-width: 40rem;
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.recommendations .div-2 .box {
  width: 20rem;
  padding: 0 2rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.recommendations .div-2 .box img {
  padding: 0.5rem;
  width: 5rem;
}

.recommendations .div-2 .box p {
  color: #000;
  font-size: 1rem;
}

.recommendations .div-2 .box:nth-child(2) {
  border-left: 1px solid #62bb46;
}

.recommendations.b .div-1 {
  max-width: 44rem;
}

.recommendations.b .div-1 .box:nth-child(2) {
  border-right: none;
}

.avoid {
  text-align: center;
  font-family: "Abel", sans-serif;
  padding: 4rem 0;
  position: relative;
}

.avoid .tittle {
  color: #62bb46;
  font-size: 1.8rem;
}

.avoid .subtittle {
  font-weight: 600;
  font-size: 1.7rem;
  color: #007cc3d2;
}

.avoid .avoid_features {
  padding: 2rem 0;
  margin: auto;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30rem;
}

.avoid .avoid_features .features_strong {
  padding: 0 1rem;
  width: 20rem;
  display: inline;
  text-align: right;
}

.avoid .avoid_features .features_p {
  width: 10rem;
  display: inline;
  text-align: left;
}

.avoid .importante {
  font-family: "Abel", sans-serif;
  color: #007cc3;
  font-size: 1.8rem;
  font-weight: 600;
  padding-top: 2rem;
}

.avoid .points_3 {
  position: absolute;
  width: 9rem;
  right: 10%;
  top: -1rem;
}

.import {
  background: #007cc3;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.import .box {
  z-index: 1;
  position: relative;
  top: -2rem;
  margin: auto;
  max-width: 55rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.import .box .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  width: 25rem;
  height: 9rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -1rem -1rem 40px -10px rgba(100, 100, 100, 0.25);
          box-shadow: -1rem -1rem 40px -10px rgba(100, 100, 100, 0.25);
  z-index: 1;
}

.import .box .boxes .subtittle {
  color: #62bb46;
  font-size: 4rem;
  padding: 0 2rem .5rem 2rem;
}

.import .box .boxes .boxes_div {
  font-size: 0.9rem;
  padding-right: 1rem;
}

.import .box .points_4, .import .box .points_5, .import .box .points_6 {
  position: absolute;
  width: 9rem;
  z-index: 0;
}

.import .box .points_4 {
  left: -3rem;
  top: -3rem;
}

.import .box .points_5 {
  right: -3rem;
  top: 40%;
}

.import .box .points_6 {
  left: 33%;
  bottom: -2rem;
}

.import .box_footer {
  padding: 2rem 1rem;
  color: #fff;
  text-align: center;
}

.import .box_footer .text {
  padding-top: .5rem;
}

.footer {
  width: 100%;
}

.footer .ofrecemos-footer {
  width: 90%;
  max-width: 50rem;
  margin: auto;
  padding: 2rem 0;
  margin-top: 2rem;
}

.footer .ofrecemos-footer .ofrecemos_footer_div1 {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Abel", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .ofrecemos-footer .ofrecemos_footer_div1 .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 20rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .ofrecemos-footer .ofrecemos_footer_div1 .box a {
  color: #62bb46;
  font-size: 1.8rem;
  padding: 1rem;
}

.footer .ofrecemos-footer .ofrecemos_footer_div1 .box h2 {
  font-size: 0.9rem;
}

.footer .ofrecemos-footer .ofrecemos_footer_div1 .box p {
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
  color: #007cc3;
}

.footer .ofrecemos-footer .ofrecemos_footer_div1 .box img {
  width: 1.7rem;
}

.footer .ofrecemos-footer .ofrecemos_footer_div1 .box .footer-ul2 div {
  padding-top: .5rem;
}

.footer .ofrecemos-footer .ofrecemos_footer_div1 .box .footer-ul3 div a {
  padding: 0 0.5rem 0 0;
}

.footer .ofrecemos-footer .ofrecemos_footer_div1 .box .footer-ul3 div a i {
  color: #666;
  font-size: 1rem;
}

.footer .ofrecemos-footer .ofrecemos_footer_div1 .box:first-child a {
  padding: 1rem 1.2rem;
}

.footer .ofrecemos-footer .ofrecemos_footer_div2 {
  text-align: center;
  margin-top: 2rem;
  color: #000;
  font-family: "Poppins", sans-serif;
  border-top: 1px solid #ccc;
  padding-top: 0.5rem;
  font-size: 0.6rem;
}

@media screen and (max-width: 1366px) {
  .patients {
    height: 38rem;
  }
  .patients .box .points_1 {
    display: none;
  }
  .recommendations .div-1 .points_2 {
    display: none;
  }
  .avoid .points_3 {
    display: none;
  }
  .import .points_5,
  .import .points_6,
  .import .points_4 {
    display: none;
  }
}

@media screen and (max-width: 1214px) {
  .patients .box {
    width: 100%;
  }
}

@media screen and (max-width: 1050px) {
  html {
    font-size: 70%;
  }
  .patients {
    height: auto;
  }
  .footer .ofrecemos-footer .ofrecemos_footer_div1 .box {
    margin: 0.5rem 0;
  }
  .footer .ofrecemos-footer .ofrecemos_footer_div1 .box h2 {
    font-size: 1rem;
  }
  .footer .ofrecemos-footer .ofrecemos_footer_div1 .box p {
    font-size: 0.9rem;
  }
  .footer .ofrecemos_footer_div2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .patients .box .box_div-1 {
    width: 20rem;
    height: 30rem;
    padding: 1rem 0.5rem;
  }
  .patients .box .box_div-1 .img_pills {
    width: 6rem;
  }
  .patients .box .box_div-1 .tittle {
    font-size: 1.5rem;
  }
  .patients .box .box_div-1 .subtittle {
    font-size: 1.5rem;
  }
  .patients .box .box_div-1 .paragraph {
    font-size: 1.2rem;
  }
  .patients.b .box .box_div-1 {
    padding: 3rem 0.5rem;
  }
  .patients.b .box .box_div-1 .img_pills {
    width: 15rem;
  }
  .footer .ofrecemos-footer .ofrecemos_footer_div1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .recommendations .div-1 {
    margin: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .recommendations .div-1 .box {
    padding: 2rem 0;
  }
  .recommendations .div-1 .box:nth-child(2) {
    border-top: 1px solid #62bb46;
    border-bottom: 1px solid #62bb46;
    border-left: none;
    border-right: none;
  }
  .recommendations.b .div-1 .box:nth-child(2) {
    border-bottom: none;
  }
  .avoid .avoid_features {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .avoid .avoid_features .features_strong {
    padding-left: 0;
    max-width: 16rem;
  }
  .avoid .avoid_features .features_p {
    width: auto;
  }
}

@media screen and (max-width: 400px) {
  .patients .box .box_div-1 {
    background-color: #61bb46b9;
  }
}

@media screen and (max-width: 360px) {
  .section_tittle .box .span {
    font-size: 1.7rem;
  }
  .patients {
    background-position: 25% 10%;
  }
  .patients .box {
    position: relative;
    bottom: -25rem;
  }
  .patients .box .box_div-1 {
    height: auto;
    width: 100%;
    background-color: #62bb46;
  }
  .patients .box .box_div-1 .img_pills {
    width: 8rem;
  }
  .patients .box .box_div-1 .tittle {
    font-size: 1.8rem;
  }
  .patients .box .box_div-1 .subtittle {
    font-size: 1.8rem;
  }
  .patients .box .box_div-1 .paragraph {
    font-size: 1.4rem;
  }
  .patients.b .box .box_div-1 {
    width: 100%;
  }
  .recommendations {
    margin-top: 25rem;
  }
  .recommendations .div-1 {
    padding: 1rem 2rem;
  }
  .recommendations .div-1 .box p {
    font-size: 1.1rem;
  }
  .recommendations .div-2 .box p {
    font-size: 1.1rem;
  }
  .avoid .tittle {
    padding: 0 1rem;
    font-size: 1.8rem;
  }
  .avoid .subtittle {
    font-size: 1.7rem;
  }
  .import .box .boxes .boxes_div {
    font-size: 1rem;
  }
  .footer .ofrecemos-footer .ofrecemos_footer_div1 .box h2 {
    font-size: 1.1rem;
  }
  .footer .ofrecemos-footer .ofrecemos_footer_div1 .box p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 270px) {
  .import .box .boxes {
    max-width: 25rem;
  }
}
/*# sourceMappingURL=style-muestra-sangre.css.map */