@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    /* con capitalize pones las primeras con mayusculas */
    transition: all .2s linear;
}


html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    color: rgb(115, 115, 223);
    text-decoration: none;
}


/* * ==============HEADER INICIO==================== */
.header {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: sticky;
    /* width: 100%;    */
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    padding: 1.5rem 9%;
    z-index: 1;
    background: #fff;
}


.header-left li {
    display: inline-block;
}

.header-right {
    display: inline-block;
}


/* * =======================HEADER FIN======================== */


/* * ============SECTION 1 INICIO */

.section-1 {
    margin: 0 auto;
    align-items: center;
    background: rgb(255, 160, 215);
    width: 70rem;
    height: 62rem;
    color: aliceblue;
    align-items: center;
}

.section-1 h2{
    font-size: 2rem;
}

.section-1_nav-1 {
    padding: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

.nav-1_h2-1 {
    font-family: Arial, Helvetica, sans-serif;
}

.section-1_nav-2 nav {
    display: flex;
    margin:3% 9%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.section-1_nav-2 img {
    
    align-items: center;
    align-content: center;
    width: 15rem;
}

.section-1_nav-2 p {
    
    font-size: 1.8rem;
    justify-content: center;
    text-align: center;
}

.section-1_nav-2_p1{
    margin-left: -2rem;
}
.section-1_nav-2_p3{
    margin-right: -2rem;
}



/* * ============SECTION 1 FIN */

/* * ============SECTION 2 INICIO======= */
.section-2{
    position: relative;
    margin: 0 auto;
    align-items: center;
    background: rgb(48, 75, 167);
    width: 65rem;
    height: 65rem;
    color: aliceblue;
    bottom: 20rem;
    justify-content: space-between;
}

/* =========== */
.section-2_h2{
    text-align: center;
    font-size: 2rem;
}

.section-2 h2{
    padding-top: 3.5rem;
}

.section-2 nav img{
    justify-content: space-between;
}

.section-2 p{
    font-size: 1.8rem;
    text-align: center;
    padding-left:0 .5rem;
    justify-content: space-between;
}


.section-2_nav-1 nav{
    display: flex;
    margin: 9%;
    justify-content: space-between;
    
}



.section-2_nav-2 nav {
    
    margin:4% 20%;
    display: flex;

    justify-content: space-between;
    
}





/* * ============SECTION 2 FIN */

/* *MEDIA QUERIES */

@media (max-width:1500px) {
    html {
        font-size: 50%;
    }

    .header-left img {
        width: 80%;
        size: 50%;
    }

    .header-right img {
        margin-left: 20%;
        width: 80%;
    }


}

@media (max-width:1000px) {
    html {
        font-size: 60%;
    }

    .header-left img {
        width: 70%;
        size: 50%;
    }

    .header-right img {
        margin-left: 40%;
        width: 80%;
    }

    .section-1 {
        z-index: 10;
        /* margin: 9%; */
        width: 40rem;
        height: 35rem;
        margin: 0 auto;
        /* align-items: center; */ 
    }

    .section-1 h2{
        font-size: 1.5rem;
    }

    .section-1_nav-2 img{
        width: 10rem;
    }
    
    .section-1_nav-2 p {
        font-size: 1rem;
        justify-content: space-between;
        align-content: center;
    }

    .section-2{
        
        bottom: 9rem;
        align-items: center;
        
        width: 38rem;
        height: 40rem;
        color: aliceblue;
        
    }
    .section-2 h2{
        font-size: 1.5rem;
    }

    .section-2 img{
        width: 9rem;
    }
    .section-2 nav nav p{
        font-size: 1rem;
    }
    
}
@media (max-width:400px) {
    html {
        font-size: 60%;
    }

    .header-left img {
        width: 70%;
        size: 50%;
    }

    .header-right img {
        margin-left: 40%;
        width: 80%;
    }

    .section-1 {
        /* margin: 9%; */
        width: 30rem;
        height: 30rem;
        margin: 0 auto;
        /* align-items: center; */ 
    }
    .section-1 h2{
        font-size: .8rem;
    }

    .section-1_nav-2 img{
        width: 7rem;
    }
    
    .section-1_nav-2 p {
        font-size: .8rem;
        justify-content: space-between;
        align-content: center;
    }

    .section-2{
        bottom: 12rem;
        width: 27rem;

    }

    .section-2 img{
        width: 5rem;
        justify-content: space-between;
    }

    .section-2 h2{
        font-size: 1rem;
    }

    .section-2 p{
        font-size: .8rem;
    }
    .section-2 nav{
        padding: 0 .1rem;
    }

    nav p {
        font-size: 1rem;
        justify-content: space-between;
        
    }
    
}