.navbar{
    top: 0rem;
}

.h1{
    color: #fff;
    padding-left: 2rem;
}

.table{
    overflow-x: auto;
}

.table-container{
    padding: 2rem;
    overflow: auto;
}

.tables{
    width: 70rem;
    overflow: hidden;
}

th strong{
    font-size: .7rem;
}

img{
    width: 6rem;
}

td{
    vertical-align: middle;
}

td:first-child{
    font-style: italic;
    text-transform: capitalize;
}