@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.header .header_img {
  display: flex;
  width: 95%;
  max-width: 60rem;
  margin: 1rem auto;
  text-align: left;
}
.header .header_img img {
  width: 10rem;
}

.section1 .section1__div {
  display: flex;
  width: 95%;
  max-width: 60rem;
  margin: auto;
}
.section1 .section1__div .div__container {
  display: flex;
  width: 100%;
  max-width: 50rem;
  text-align: left;
}
.section1 .section1__div .div__container .div__container__img {
  width: 8rem;
  margin-top: 2.5rem;
}
.section1 .section1__div .div__container .div__container__div {
  padding: 1rem 2rem;
}
.section1 .section1__div .div__container .div__container__div .tittle {
  font-family: "Abel", sans-serif;
  font-size: 2.4rem;
  color: #62bb46;
}
.section1 .section1__div .div__container .div__container__div .sub_content {
  font-size: 1.5rem;
  font-family: "Abel", sans-serif;
  font-weight: 600;
  color: #007cc3;
}
.section1 .section1__div .div__container .div__container__div .content {
  margin-top: 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}

.section2 .section2__div {
  display: flex;
  width: 95%;
  max-width: 60rem;
  margin: auto;
  align-items: center;
  padding: 2rem 0;
  position: relative;
}
.section2 .section2__div .div__content {
  max-width: 40%;
  padding: 1rem 2rem 1rem 0;
}
.section2 .section2__div .div__content .subtittle {
  font-size: 0.9rem;
  color: #007cc3;
  font-family: "Poppins", sans-serif;
}
.section2 .section2__div .div__content .content {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}
.section2 .section2__div .div__content2 {
  max-width: 40%;
  padding: 1rem 0rem 1rem 2rem;
}
.section2 .section2__div .div__content2 .subtittle {
  font-size: 0.9rem;
  color: #007cc3;
  font-family: "Poppins", sans-serif;
}
.section2 .section2__div .div__content2 .content {
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
}
.section2 .section2__div .div__img {
  display: flex;
  align-items: center;
}
.section2 .section2__div .div__img img {
  width: 100%;
  height: 100%;
}
.section2 .section2__div .points1, .section2 .section2__div .points2, .section2 .section2__div .points3, .section2 .section2__div .points4, .section2 .section2__div .points5 {
  position: absolute;
  width: 8rem;
}
.section2 .section2__div .points1 {
  right: -5rem;
  top: 0;
  z-index: -1;
}
.section2 .section2__div .points2 {
  left: -7.3rem;
}
.section2 .section2__div .points3 {
  left: 35%;
  bottom: 0;
  z-index: -1;
}
.section2 .section2__div .points4 {
  right: 40%;
  bottom: 0;
}
.section2 .section2__div .points5 {
  right: -4rem;
  top: 25%;
}

.footer {
  background-color: #fff;
  text-align: center;
  z-index: 0;
}
.footer .ofrecemos-footer {
  position: relative;
  display: inline-block;
  margin: 10rem auto 2rem auto;
  width: 95%;
  max-width: 60rem;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 {
  display: flex;
  justify-content: space-between;
  height: 5rem;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 i {
  color: #62bb46;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div {
  display: flex;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div a {
  position: relative;
  top: 10px;
  text-align: center;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div a i {
  font-size: 2rem;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul1 {
  list-style-type: none;
  margin-left: 1.5rem;
  font-family: "Poppins", sans-serif;
  text-align: left;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul1 h2 {
  font-family: "Abel", sans-serif;
  font-size: 0.9rem;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul1 li p {
  color: #007cc3;
  font-size: 0.8rem;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul2 {
  list-style-type: none;
  margin-left: 1.5rem;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul2 h2 {
  text-align: start;
  font-family: "Abel", sans-serif;
  font-size: 0.9rem;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul2 li {
  text-align: left;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  color: #007cc3;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul3 {
  list-style-type: none;
  margin-left: 1.5rem;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul3 li {
  font-size: 0.7rem;
  color: #007cc3;
  font-family: "Poppins", sans-serif;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul3 ul {
  padding: 0.2rem;
  text-align: left;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul3 ul a {
  margin: 1rem 0;
}
.footer .ofrecemos-footer .ofrecemos_footer_div1 div .footer-ul3 ul a i {
  margin-right: 1rem;
  color: #666;
  font-size: 1rem;
}
.footer .ofrecemos-footer .ofrecemos_footer_div2 {
  border-top: 1px solid #bfbfbf;
}
.footer .ofrecemos-footer .ofrecemos_footer_div2 p {
  font-family: "Poppins", sans-serif;
  margin-top: 1.5rem;
  color: #000;
  font-size: 0.6rem;
}

@media (max-width: 1050px) {
  .section2 .section2__div .points1, .section2 .section2__div .points2, .section2 .section2__div .points3, .section2 .section2__div .points4, .section2 .section2__div .points5 {
    display: none;
  }
  .footer .ofrecemos-footer {
    width: 100%;
    padding: 0 2rem;
    margin-top: 5rem;
  }
  .footer .ofrecemos-footer .ofrecemos_footer_div1 {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .footer .ofrecemos-footer {
    width: 80vw;
    padding: 0;
    margin-top: 1rem;
  }
  .footer .ofrecemos-footer .ofrecemos_footer_div1 {
    display: inline;
  }
  .footer .ofrecemos-footer .ofrecemos_footer_div1 div {
    margin: 3rem;
  }
}
@media (max-width: 675px) {
  html {
    font-size: 75%;
  }
  .section1 .section1__div .div__container .div__container__div {
    padding: 1rem 1rem;
  }
  .section1 .section1__div .div__container .div__container__div .tittle {
    font-size: 2.4rem;
  }
  .section1 .section1__div .div__container .div__container__div .sub_content {
    font-size: 1.5rem;
  }
  .section1 .section1__div .div__container .div__container__div .content {
    font-size: 0.9rem;
  }
  .section2 .section2__div .div__content .subtittle {
    font-size: 1rem;
  }
  .section2 .section2__div .div__content .content {
    font-size: 0.9rem;
  }
  .section2 .section2__div .div__content2 .subtittle {
    font-size: 1rem;
  }
  .section2 .section2__div .div__content2 .content {
    font-size: 0.9rem;
  }
}
@media (max-width: 480px) {
  .footer .ofrecemos-footer {
    margin-top: 2rem;
  }
}
@media (max-width: 400px) {
  .section2 .section2__div {
    padding-bottom: 0.5rem;
  }
  .section2 .section2__div .div__content {
    padding: 0 2rem 0 0;
  }
  .section2 .section2__div .div__content2 {
    padding: 0 0 0 2rem;
  }
}
@media (max-width: 330px) {
  html {
    font-size: 67%;
  }
}
@media (max-width: 300px) {
  .section1 .section1__div {
    height: auto;
  }
  .section1 .section1__div .div__container {
    height: auto;
  }
  .section1 .section1__div .div__container .div__container__div {
    height: auto;
  }
}/*# sourceMappingURL=style-hierro.css.map */