@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    // outline: green solid 3px;
    border: none;
}

html {
    // font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

$azul: #007cc3;
$green1: #a6ce39;
$green2: #62bb46;
$green3: #009f46;
$gray1: #d9d9d9;
$gray2: #bfbfbf;
$gray3: #999999;

.home {
    margin: auto;
    // background-color: $gray2;
    height: 35rem;
    width: 60rem;

    .home-box {
        display: flex;
        position: relative;

        .home__div1 {
            width: 70%;
            padding-right: 15rem;

            img{
                width: 12rem;
            }

            div{

                margin-top: 8rem;

                span{

                    font-size: 2rem;
                    // font-family: "Abel", sans-serif;
                    font-family: "Poppins", sans-serif;
                    color: $azul;
                }

                p{
                    font-family: "Poppins", sans-serif;
                    font-size: 1rem;
                    color: $gray3;

                    b{
                        color: $green2;
                        font-size: 3rem;
                        line-height: 1.2;
                    }
                }
            }
        }

        .home__div2 {
            width: 30%;
            height: 30rem;
            background-color: $azul;

            &::before {
                content: "";
                width: 18rem;
                height: 30rem;
                position: absolute;
                // top: 0px;
                // right: 0px;
                // bottom: 0px;
                // left: 0px;
                /* Specify the background image to be used */
                background-image: url(../img/image-simple-2/Fondo.png);
                background-size: cover;
                /* Specify the background image */
                opacity: 0.03;
            }
        }

        .home__div3 {
            // display: none;
            position: absolute;
            right: 8rem;
            bottom: -5rem;
        }

        .point1{
            position: absolute;
            left: -10rem;
            top: 10rem;
        }

        .point2{
            z-index: -1;
            position: absolute;
            right: -5rem;
            bottom: -1.5rem;
        }
    }
}

.section_2{
    background-color: rgba(217, 217, 217, .30);
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;

    .image{
        // margin-top: 5rem;
        img{
            position: relative;
            top: 5rem;
            // margin-top: 5rem;
            width: 30rem;
        }
    }

    .content{
        width: 30rem;
        height: 10rem;
        position: relative;
        top: 10rem;
        padding: 2rem 10rem 2rem 2rem;

        h3{
            font-family: "Abel", sans-serif;
            color: $green2;
        }

        span{
            font-size: .8rem;
            color: $gray3;
        }
    }
}

.section_3{
    margin-top: 10rem;
    display: flex;
    justify-content: center;

    .content{
        width: 30rem;
        padding: 6rem 6rem 6rem 3rem;
        font-family: "Poppins", sans-serif;
        position: relative;
        

        h3{
            font-family: "Abel", sans-serif;
            color: $green2;
        }

        span{
            font-size: .8rem;
            color: $gray3;
        }

        .point3{
            
            position: absolute;
            left: -4rem;
            top: -8rem;
            z-index: -1;
        }
    }

    .image{

        img{
            width: 30rem;
        }
    }
}

.dinamic {
    display: flex;
    // text-align: center;
    justify-content: center;
    position: relative;

    .content-content {
        padding-top: 12rem;
        padding-bottom: 5rem;
        // margin: auto;
        width: 30rem;

        ol {
            padding-left: 1rem;
            padding-right: 3rem;

            li {
                margin-bottom: 3rem;
                font-family: "Poppins", sans-serif;
                font-size: 0.8rem;
                color: #888;
                background-color: #fff;

                &::marker {
                    color: $green2;
                }

                &.active{
                    // background-color: #eee;

                    // &::marker {
                    //     color: #222;
                    // }

                    .barrita {
                        margin-top: 1rem;
                        // display: inline-block;
                        width: 00%;
                        // white-space: nowrap;
                        overflow: hidden;
                        border-bottom: 3px solid #007cc3;
                        // width: 0%;
    
                        // &:hover {
                        //     -webkit-transition: width 4s ease-in-out;
                        //     -moz-transition: width 4s ease-in-out;
                        //     -o-transition: width 4s ease-in-out;
                        //     transition: width 4s ease-in-out;
    
                        //     width: 100%;
                        // }
                        animation: changerBorder 4s linear;
                    }
                }

            }
        }
    }

    @keyframes changerBorder {
        0% {
            // border: 2 solid #007cc3;
        }

        50% {
            width: 50%;
            // border: solid 5px white;
            // border-left: solid 5px lime;
            // border-bottom: solid 3px lime;
        }

        100%{
            width: 100%;
        }
    }


    .content-dinamic {
        width: 30rem;
        height: 55rem;
        padding-top: 7rem;
        // display: inline-flex;
        position: relative;
        // flex-direction: row;
        overflow: hidden;

        .dinamic-content {
            display: flex;
            // flex-direction: row;

            div{
                display: flex;

                .img-dinamic {
                    display: flex;
                    // flex-direction: row;
                    margin: auto;
    
                    height: 60rem;
                    justify-content: space-around;
                    // flex-shrink: 0;
                }

                span{
                    display: none;
                }
            }
        }
    }

    .point4{
        z-index: 1;
        position: absolute;
        // left: -10rem;
        top: 4rem;
    }
}

.filosofy{
    background-color: rgba(217,217,217, .5);
    text-align: center;
    padding: 3rem 10%;

    h2{
        // font-family: "Poppins", sans-serif;
        font-family: "Abel", sans-serif;
        margin: 2rem auto;
        color: $azul;
        font-weight: 900;
        font-size: 2rem;
    }

    div{
        width: 100%;
        max-width: 70rem;
        justify-content: space-around;
        // margin: 2rem auto;
        margin: 0rem auto;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        // background-color: #fff;


        div{
            background-color: #fff;
            width: 20rem;
            height: 25rem;
            text-align: center;
            box-shadow: -3rem 2rem 40px -30px rgba(99, 91, 91, 0.596);
            display: block;
            padding: 1rem 2.5rem;
            font-family: "Poppins", sans-serif;
            color: $gray3;

            img{
                margin: 3rem 0;
                position: relative;
                // justify-content: center;
                // text-align: center;
                // width: 10rem;height: 8rem;
            }
            p{
                color: #888;
                font-size: .9rem;
            }
        }
    }

    .span-text-footer{
        margin-top: 5rem;
        // height: auto;
        
        padding: 0rem 15%;
        color: #888;
    }
}

.section_final{
    width: 100%;
    height: 30rem;
    // min-height: 60vh;

    display: flex;
    position: relative;

    .section_final-contenedor{
        position: relative;
        margin: 0rem 25% 0 auto;
        background-color: #fff;
        width: 28rem;
        height: 32rem;
        text-align: center;
        bottom: 0rem;
        // left: 2%;
        // right: ;
        box-shadow: -3rem 1rem 80px -40px rgb(51, 46, 46);
        padding: 5rem 2rem 0 2rem;

        

        .section_final-tittle{
            // font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-family: "Abel", sans-serif;
            // font-family: Georgia, 'Times New Roman', Times, serif;
            color: $azul;
            font-weight: 900;
            font-size: 2rem;
        }

        .section_final-info{
            font-size: 1rem;
            margin-top: 1rem;
            color: $gray3;
            font-family: "Poppins", sans-serif;
        }

        div {
            text-align: center;
            position: relative;
            margin: 2rem auto;
            // margin-top: 2.5rem;
            padding-top: 0.3rem;
            color: #fff;
            width: 13rem;
            height: 2rem;
            // align-content: center;
            text-align: center;
            background: $green2;
            border-radius: 25px;

            a {
                // margin-top: 1rem;
                font-family: "Abel", sans-serif;
                // font-weight: bold;
                color: #fff;
                font-size: 1rem;
                font-weight: 600;

                i {
                    position: relative;
                    top: 1px;
                    font-size: 1rem;
                    margin-right: 1rem;
                }
            }
        }
    }
}

.footer{
    height: 5rem;

    p{  
        padding-top: 2rem;
        display: flex;
        font-size: .5rem;
        color: $gray2;

        margin: 0 20%;
    }
}


@media (max-width:1100px){

    .home{

        .home-box{

            .point2{
                display: none;
            }
        }
    }

    .section_final{

        .section_final-contenedor{
            margin: 0rem 15% 0 auto;
        }
    }
}

// *en esta media se desaparecen los puntitos
@media (max-width:975px){

    html{
        font-size: 70%;
    }

    .home{
        width: 100%;

        .home-box{

            .home__div1{
                padding: 1rem 5rem;
                width: 100%;
            }

            .home__div2{
                display: none;
            }

            .home__div3{
                top: 10.41rem;
                opacity: .2;
                // display: none;
                img{
                    width: 20rem;
                }
            }

            .point1{
                display: none;
            }
        }
    }

    .section_2{
        width: 100%;
        display: inline-block;
        
        .image{ 
            text-align: center;

            img{
                // text-align: center;
                // margin: auto;
                position: relative;
                top: -2rem;
            }
        }

        .content{
            padding: 2rem 3rem 2rem 0rem;
            margin: auto;
            position: inherit;
        }
    }

    .section_3{
        margin-top: 0rem;
        width: 100%;
        display: inline-block;
        
        .content{
            padding: 3rem 0rem 6rem 3rem;
            text-align: right;
            margin: 0rem auto;

            .point3{
                display: none;
            }
        }

        .image{
            text-align: center;
        }
    }

    .dinamic{

        .point4{
            display: none;
        }
    }
}

@media (max-width: 675px){

    .section_2{

        .image{
            
            img{
                width: 20rem;
            }
        }

        .content{
            width: 100%;
            height: auto;
            padding: 1rem 5rem 2rem 2rem;
        }
    }

    .section_3{

        .content{
            width: 100%;
            height: auto;
            padding: 3rem 2rem 3rem 3rem;
        }

        .image{

            img{
                width: 20rem;
            }
        }
    }

    .dinamic{
        margin-bottom: 5rem;

        .content-content{
            display: none;
        }

        .content-dinamic{
            width: 95%;
            max-width: 50rem;
            height: 72rem;
            overflow: auto;

            .dinamic-content{
                gap: 2rem;

                div{
                    display: inline;

                    .img-dinamic{
                        border-radius: 15px 15px 0px 0px;
                        height: 55rem;
                    }

                    span{
                        
                        border-radius: 0px 0px 15px 15px;
                        background-color: #eeeeee;
                        padding: 1rem;
                        font-family: "Poppins", sans-serif;
                        font-size: 1.1rem;
                        display: flex;
                    }

                }

                .last_hidden{
                    display: none;
                }
            }
        }
    }

    .section_final{

        .section_final-contenedor{
            height: 30rem;
        }

    }
}

@media (max-width:400px){

    .home{

        .home-box{

            .home__div1{

                padding: 1rem 2rem;

                div{
                    margin-top: 6rem;

                    span{
                        font-size: 1.5rem;
                    }

                    p{
                        

                        b{
                            font-size: 2.5rem;
                        }
                    }
                }
            }

            .home__div3{
                right: 2rem;
            }
        }
    }
    
    .filosofy{
        padding: 3rem 1%;
    }

    .dinamic{

        .content-dinamic{
            height: 60rem;


            .dinamic-content{

                div{

                    .img-dinamic{
                        height: 40rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 290px){
    .section_final{
        height: 25rem;

        .section_final-contenedor{
            margin: 0;
            width: 100%;
            height: 25rem;

            .section_final-tittle{
                font-size: 1.5rem;
            }

            .section_final-info{
                font-size: .8rem;
            }
        }
    }
}