@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #007cc3;
}

body {
  background: #d9d9d9;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  padding: auto;
  background: #fff;
  text-align: center;
  font-size: 1.5rem;
}

.header div {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
  width: 100rem;
  background: #fff;
}

.header div .navbar-opciones {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #f173ac;
}

.header div .navbar-opciones .navbar-opciones-ul1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #777;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header div .navbar-opciones .navbar-opciones-ul1 a {
  color: #666;
  font-size: 1.3rem;
  margin-right: 2rem;
}

.header div .navbar-opciones .navbar-opciones-ul2 {
  text-align: center;
}

.header div .navbar-opciones .navbar-opciones-ul2 .gestacional {
  display: inline-block;
  padding: 0.5rem 2rem;
  background: #f173ac;
  color: #fff;
  font-size: 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.header div .navbar-opciones .navbar-opciones-ul2 .gestacional:hover {
  letter-spacing: 0.1rem;
}

.header div .navbar-opciones .navbar-opciones-ul2 a {
  margin: 0 0 0 0.5rem;
}

.header div .navbar-opciones .navbar-opciones-ul2 a:focus {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #f173ac;
}

.header div .header-general {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #666;
}

.header div .header-general .navbar-opciones-phone {
  font-family: "Poppins", sans-serif;
  display: none;
}

.header div .header-general .navbar-opciones-phone ul li .gestacional {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #f173ac;
}

.header div .header-general .header-right {
  display: none;
}

.header div .header-general .header-center-right {
  font-family: "Poppins", sans-serif;
  width: 100%;
  margin-top: 1.5rem;
  text-align: right;
}

.header div .header-general .header-center-right .module-1 {
  padding-bottom: 1rem;
  border-bottom: 1px solid #f173ac;
}

.header div .header-general .header-center-right a {
  color: #666;
  margin-left: 4rem;
  margin-right: 1rem;
}

.header div .header-general .header-center-right a:focus {
  padding-bottom: 1rem;
  border-bottom: 1px solid #f173ac;
}

.home {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 100%;
  height: 45rem;
  background: #007cc3;
  z-index: 1;
  padding: 3rem 17%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home::before {
  z-index: 0;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /* Specify the background image to be used */
  background-image: url(../img/image-simple-2/Fondo.png);
  background-size: cover;
  /* Specify the background image */
  opacity: 0.03;
}

.home .home-nav1 {
  z-index: 10;
  padding: 8rem 0;
  text-align: left;
}

.home .home-nav1 P {
  color: #fff;
  font-family: "Abel", sans-serif;
  text-align: left;
  margin: 0.5rem 0;
}

.home .home-nav1 .home-nav1-P_1 {
  font-size: 3.2rem;
}

.home .home-nav1 .home-nav1-P_2 {
  font-size: 3.5rem;
}

.home .home-nav1 div {
  margin-top: 2.5rem;
  padding-top: 0.5rem;
  color: #fff;
  width: 16.5rem;
  height: 3.5rem;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  background: #f173ac;
  border-radius: 15px;
}

.home .home-nav1 div a {
  font-family: "Abel", sans-serif;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}

.home .home-nav1 div a i {
  position: relative;
  top: 2px;
  font-size: 2rem;
  margin-right: 1rem;
}

.home .home-nav2 {
  z-index: 10;
}

.home .home-nav2 img {
  -webkit-box-shadow: -3rem 0 80px -70px #332e2e;
          box-shadow: -3rem 0 80px -70px #332e2e;
  text-align: right;
}

.characteres {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 9%;
  margin: 10rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2;
}

.characteres .characteres-left {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  margin-bottom: 3rem;
}

.characteres .characteres-left h2 {
  color: #007cc3;
}

.characteres .characteres-left .points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.characteres .characteres-left .points .pt {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background-color: rgba(7, 17, 27, 0.4);
  margin-right: 8px;
  line-height: 12px;
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) inset;
          box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) inset;
  cursor: pointer;
}

.characteres .characteres-left .points .pt.active {
  -webkit-box-shadow: 0 0 0 2px rgba(7, 17, 27, 0.4) inset;
          box-shadow: 0 0 0 2px rgba(7, 17, 27, 0.4) inset;
  background: #007cc3;
}

.characteres .characteres-left .animated {
  margin: 2.5rem auto;
  padding-top: 0.5rem;
  color: #fff;
  width: 16.5rem;
  height: 3.5rem;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  background: #f173ac;
  border-radius: 15px;
}

.characteres .characteres-left .animated a {
  font-family: "Abel", sans-serif;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}

.characteres .characteres-left .animated a i {
  position: relative;
  top: 2px;
  font-size: 2rem;
  margin-right: 1rem;
}

.characteres .characteres-center_rigth {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
  height: 40rem;
}

.characteres .characteres-center_rigth .slider-contenedor {
  width: 630px;
  height: 400px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.characteres .characteres-center_rigth .slider-contenedor .slider-contenedor2 {
  width: 630px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.characteres .characteres-center_rigth .slider-contenedor .slider-contenedor2 .characteres_all {
  display: inline-block;
  text-align: center;
  width: 200px;
  height: 400px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 1rem 1rem;
  background: #fff;
}

.characteres .characteres-center_rigth .slider-contenedor .slider-contenedor2 .characteres_all img {
  text-align: center;
  width: 10rem;
}

.characteres .characteres-center_rigth .slider-contenedor .slider-contenedor2 .characteres_all div h3 {
  color: #007cc3;
}

.time-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  max-width: 110rem;
  margin: 3rem auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.time-price .time-price_box1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  height: 20rem;
  background-color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.time-price .time-price_box1 img {
  width: 10rem;
  height: 7rem;
}

.time-price .time-price_box1 div h3 {
  color: #f173ac;
}

.time-price .time-price_box1 div p {
  font-family: "Poppins", sans-serif;
}

.time-price .time-price_box2 {
  height: 20rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #007cc3;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  background-image: url(../img/image-simple-2/Fondo2.png);
  background-size: cover;
}

.time-price .time-price_box2 img {
  width: 10rem;
  height: 7rem;
}

.time-price .time-price_box2 div {
  color: #fff;
}

.time-price .time-price_box2 div p {
  font-family: "Poppins", sans-serif;
}

.info-date {
  margin: auto;
  width: 100rem;
  background-color: #fff;
  text-align: center;
  padding: 2rem;
}

.info-date .info-date-container {
  display: inline;
}

.info-date .info-date-container .info-contenido {
  margin: 1rem;
  height: 20rem;
}

.info-date .info-date-container .info-contenido .contenido-header {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-date .info-date-container .info-contenido .contenido-body {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-date .info-date-container .info-contenido .contenido-body div {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 15rem;
}

.info-date .info-date-container .info-contenido .contenido-body div img {
  text-align: center;
}

.info-date .info-date-container .info-contenido .contenido-body div span {
  text-align: center;
}

@media (max-width: 1050px) {
  .header div {
    padding: 0 1rem;
    width: 100%;
  }
  .home {
    padding: 3rem 2rem;
    height: auto;
  }
  .home .home-nav2 img {
    width: 100%;
    max-width: 60rem;
  }
  .characteres {
    margin: auto;
    padding: 3rem 3rem;
  }
  .characteres .characteres-center_rigth .slider-contenedor {
    margin: auto;
  }
  .info-date {
    padding: 0 1rem;
    width: 100%;
  }
}
/*# sourceMappingURL=style-gine-egi.css.map */