@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

@-webkit-keyframes miAnimacion {
  from {
    height: 0;
  }
  to {
    height: 143px;
  }
}

@keyframes miAnimacion {
  from {
    height: 0;
  }
  to {
    height: 143px;
  }
}
@-webkit-keyframes miAnimacion-2 {
  from {
    height: 0;
  }
  to {
    height: 50px;
  }
}
@keyframes miAnimacion-2 {
  from {
    height: 0;
  }
  to {
    height: 50px;
  }
}
@-webkit-keyframes miAnimacion-3 {
  from {
    height: 50px;
  }
  to {
    height: 0px;
  }
}
@keyframes miAnimacion-3 {
  from {
    height: 50px;
  }
  to {
    height: 0px;
  }
}
@-webkit-keyframes miAnimacion_menu {
  from {
    height: 10px;
  }
  to {
    height: 20px;
  }
}
@keyframes miAnimacion_menu {
  from {
    height: 10px;
  }
  to {
    height: 20px;
  }
}
@-webkit-keyframes div_open {
  0% {
    height: 0rem;
  }
  50% {
    height: 3.5rem;
  }
  100% {
    height: 7rem;
  }
}
@keyframes div_open {
  0% {
    height: 0rem;
  }
  50% {
    height: 3.5rem;
  }
  100% {
    height: 7rem;
  }
}
@-webkit-keyframes bar_hover {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes bar_hover {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
html {
  font-size: 72.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: rgba(191, 191, 191, 0.25);
}

.info-date {
  margin: auto;
  width: 95%;
  max-width: 110rem;
  background-color: #fff;
  text-align: center;
  padding: 2rem 8rem;
  box-shadow: -3rem 4rem 80px -70px rgb(51, 46, 46);
  z-index: 1;
  position: relative;
  top: 1rem;
}
.info-date h2 {
  font-family: "Abel", sans-serif;
  color: #f173ac;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  padding: 0.5rem 2rem;
}
.info-date .section__subtitle {
  padding: 0 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  color: #000;
  background-color: #fff;
  z-index: 1;
  position: relative;
}
.info-date .section_election {
  max-width: 40rem;
  width: 90%;
  display: flex;
  margin: 2rem auto;
  justify-content: space-between;
}
.info-date .section_election .day1, .info-date .section_election .day2 {
  cursor: pointer;
}
.info-date .section_election .day1 strong, .info-date .section_election .day2 strong {
  color: #007cc3;
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
}
.info-date .section_election .day1 div, .info-date .section_election .day2 div {
  margin: 0 auto;
  border-radius: 5px;
  width: 100%;
  height: 0.2rem;
}
.info-date .section_election .day1:hover div, .info-date .section_election .day2:hover div {
  background-color: #007cc3;
  -webkit-animation: bar_hover 0.2s linear;
          animation: bar_hover 0.2s linear;
}
.info-date .section_election .day1.active div, .info-date .section_election .day2.active div {
  background-color: #007cc3;
}
.info-date .section_election .day1.active:hover div, .info-date .section_election .day2.active:hover div {
  -webkit-animation: none;
          animation: none;
}
.info-date .info-date-container {
  display: none;
}
.info-date .info-date-container.active {
  display: inline;
  font-size: 1.4rem;
}
.info-date .info-date-container.active .info-contenido {
  margin: 1rem 4rem;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid #f173ac;
  color: #000;
  position: relative;
}
.info-date .info-date-container.active .info-contenido .contenido-header {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1;
  background: #fff;
  position: relative;
}
.info-date .info-date-container.active .info-contenido .contenido-header img {
  display: flex;
  width: 1.6rem;
}
.info-date .info-date-container.active .info-contenido .contenido-header.open img {
  transition: 0.2s all linear;
}
.info-date .info-date-container.active .info-contenido .contenido-header.open i {
  transform: rotate(180deg);
  color: #f173ac;
}
.info-date .info-date-container.active .info-contenido .contenido-header.close img {
  transition: 0.2s all linear;
  transform: rotate(180deg);
}
.info-date .info-date-container.active .info-contenido .contenido-header.close i {
  color: #f173ac;
  transform: rotate(0deg);
}
.info-date .info-date-container.active .info-contenido .contenido-body {
  display: flex;
  justify-content: space-around;
  transition: all 0.5s linear;
  z-index: 0;
}
.info-date .info-date-container.active .info-contenido .contenido-body .div1 {
  text-align: center;
  width: 29rem;
  min-width: 9rem;
}
.info-date .info-date-container.active .info-contenido .contenido-body .div1 .div-image {
  display: flex;
  width: 7rem;
  height: 7rem;
  text-align: center;
  justify-content: center;
  margin: 0 auto 1.5rem auto;
}
.info-date .info-date-container.active .info-contenido .contenido-body .div1 p {
  text-align: center;
  padding: 0 1rem;
}
.info-date .info-date-container.active .info-contenido .contenido-body.open {
  height: auto;
  margin: 3rem 0;
}
.info-date .info-date-container.active .info-contenido .contenido-body.open .div1 .div-image {
  -webkit-animation: div_open 0.2s linear;
          animation: div_open 0.2s linear;
}
.info-date .info-date-container.active .info-contenido .contenido-body.close {
  height: 0rem;
}
.info-date .info-date-container.active .info-contenido .contenido-body.close .div1 .div-image {
  width: 0;
  height: 0;
}
.info-date .info-date-container.active .info-contenido .contenido-body.close .div1 p {
  display: none;
}
.info-date .point4, .info-date .point5, .info-date .point6, .info-date .point7 {
  width: 10rem;
  position: absolute;
  z-index: 100;
}
.info-date .point4 {
  top: 2rem;
  right: -3rem;
}
.info-date .point5 {
  top: 40%;
  left: -3rem;
}
.info-date .point6 {
  bottom: -3rem;
  right: -3rem;
}
.info-date .point7 {
  bottom: -3rem;
  left: -3rem;
}

@media (max-width: 1050px) {
  .info-date {
    padding: 2rem 1rem;
    width: 100%;
  }
  .info-date .point4, .info-date .point5, .info-date .point6, .info-date .point7 {
    display: none;
  }
}
@media (max-width: 675px) {
  html {
    font-size: 65%;
  }
  .info-date .info-date-container {
    font-size: 1.15rem;
  }
  .info-date .info-date-container .info-contenido .contenido-body .div1 {
    width: 25rem;
  }
  .info-date .info-date-container .info-contenido .contenido-body .div1 .div-image {
    width: 10rem;
  }
  .info-date .info-date-container .info-contenido .contenido-body.open {
    height: 13rem;
  }
}
@media (max-width: 530px) {
  .info-date h2 {
    font-size: 2.3rem;
  }
  .info-date .section__subtitle {
    font-size: 1.4rem;
  }
  .info-date .info-date-container.active {
    font-size: 1.3rem;
  }
  .info-date .info-date-container.active .info-contenido {
    margin: 1rem 1rem;
  }
  .info-date .info-date-container.active .info-contenido .contenido-body .div1 .div-image {
    width: 7rem;
  }
}
@media (max-width: 370px) {
  .info-date {
    padding: 1rem 0.5rem;
  }
  .info-date h2 {
    font-size: 2.2rem;
  }
  .info-date .section__subtitle {
    font-size: 1.4rem;
  }
  .info-date .info-date-container {
    font-size: 1.3rem;
  }
  .info-date .info-date-container.active .info-contenido .contenido-body {
    flex-direction: column;
  }
  .info-date .info-date-container.active .info-contenido .contenido-body .div1 {
    width: 90%;
    max-width: 35rem;
    margin: 1rem 0 1rem 2rem;
    display: flex;
    align-items: center;
    -webkit-animation: miAnimacion-3 0.2s linear;
            animation: miAnimacion-3 0.2s linear;
  }
  .info-date .info-date-container.active .info-contenido .contenido-body.open {
    margin: 0;
    -webkit-animation: none;
            animation: none;
  }
  .info-date .info-date-container.active .info-contenido .contenido-body.open .div1 {
    -webkit-animation: miAnimacion-2 0.2s linear;
            animation: miAnimacion-2 0.2s linear;
  }
  .info-date .info-date-container.active .info-contenido .contenido-body.open .div1 p {
    font-size: 1.3rem;
    width: 100%;
    text-align: left;
    padding: 0 1rem;
  }
  .info-date .info-date-container.active .info-contenido .contenido-body.open .div1 .div-image {
    width: 50px;
    height: 50px;
    margin: auto;
  }
  .info-date .info-date-container.active .info-contenido .contenido-body.open .div1 .div-image img {
    width: 50px;
    height: 50px;
  }
  .info-date .info-date-container.active .info-contenido .contenido-body.open .div1 .div-image .img-incontrolable {
    height: 50px;
  }
  .info-date .info-date-container.active .info-contenido .contenido-body.close .div1 {
    -webkit-animation: miAnimacion-3 0.2s linear;
            animation: miAnimacion-3 0.2s linear;
  }
}/*# sourceMappingURL=style-recomendaciones-emi.css.map */