@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    // outline: green solid 3px;
    border: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

$white: #fff;
$light-color: #666;
$pink1: #f4c6de;
$pink2: #f5a4c7;
$pink3: #f173ac;
$border: 0.2rem solid $pink3;

a {
    color: #666;
    text-decoration: none;
}

.header {
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    padding: auto;
    background: #fff;
    text-align: center;
    font-size: 1.5rem;

    div {
        margin-top: 1rem;
        margin-bottom: 1rem;
        position: relative;
        display: inline-block;
        width: 100rem;
        text-align: left;
        background: $white;

        .navbar-opciones {
            font-size: 1rem;
            // font-weight: 100;
            font-family: "Poppins", sans-serif;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $pink3;

            .navbar-opciones-ul1 {
                display: flex;
                color: #777;
                align-items: center;

                a {
                    font-size: 1.3rem;
                    margin-right: 2rem;
                }
            }

            .navbar-opciones-ul2 {
                text-align: center;

                .gestacional {
                    display: inline-block;
                    // margin-top: 1rem;
                    padding: 0.5rem 2rem;
                    background: $pink3;
                    color: #fff;
                    font-size: 1rem;
                    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
                    cursor: pointer;
                }

                a {
                    margin: 0 0 0 0.5rem;
                }
            }
        }

        .header-general {
            margin-top: 2rem;
            display: flex;
            justify-content: space-between;

            .navbar-opciones-phone {
                font-family: "Poppins", sans-serif;
                display: none;

                ul {
                    li {
                        .gestacional {
                            padding-bottom: 0.5rem;
                            border-bottom: 1px solid #f173ac;
                        }
                    }
                }
            }

            .header-right {
                display: none;
            }

            .header-center-right {
                font-family: "Poppins", sans-serif;
                width: 100%;
                justify-content: space-between;
                display: flex;
                margin-top: 1.5rem;
                padding-left: 4.5rem;

                .module-2 {
                    padding-bottom: 1rem;
                    border-bottom: 1px solid #f173ac;
                }

                a {
                    &:focus {
                        padding-bottom: 1rem;
                        border-bottom: 1px solid #f173ac;
                    }

                    p {
                        color: #777;
                        font-weight: 100;
                    }
                }
            }
        }
    }
}

$boxshadowG: -3rem 0 80px -70px rgb(51, 46, 46);
$azul: #007cc3;

.menu {
    display: inline-flex;
    position: relative;
    width: 100%;
    height: 45rem;
    background: $azul;
    z-index: 1;
    padding: 3rem 18%;
    justify-content: space-between;

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        /* Specify the background image to be used */
        background-image: url(../img/image-simple-2/Fondo.png);
        background-size: cover;
        /* Specify the background image */
        opacity: 0.03;
    }

    .menu-nav1 {
        // position: relative;
        z-index: 10;
        padding: 5rem 0;
        text-align: left;
        font-family: "Abel", sans-serif;

        h2 {
            color: #fff;
            text-align: left;
            margin: 0.5rem 0;
        }

        .menu-nav1-h1_1 {
            font-size: 3rem;
            color: #fff;
            text-align: left;
            margin: 0.5rem 0;
        }

        .menu-nav1-h2_2 {
            font-size: 4.3rem;
        }

        .menu-nav1-p1 {
            color: #fff;
            font-size: 3rem;
            text-align: left;
            margin-right: 10rem;
        }

        .menu-nav1-p2 {
            margin-top: 1rem;
            color: #fff;
            font-size: 1.1rem;
        }

        div {
            margin-top: 2.5rem;
            padding-top: 0.5rem;
            color: #fff;
            width: 16.5rem;
            height: 3.5rem;
            align-content: center;
            text-align: center;
            background: #f173ac;
            border-radius: 15px;
            // margin-right: 31rem;

            a {
                // font-weight: bold;
                color: #fff;
                font-size: 1.5rem;
                font-weight: 400;

                i {
                    position: relative;
                    top: 2px;
                    font-size: 2rem;
                    margin-right: 1rem;
                }
            }
        }
    }

    .menu-nav2 {
        z-index: 10;

        img {
            box-shadow: $boxshadowG;
            text-align: right;
        }
    }

    .img-fondo {
        .img-1 {
            position: absolute;
            z-index: 100;
            bottom: 2rem;
            right: 50%;
            // background-size: cover;
        }
    }
}

.importante {
    position: relative;
    text-align: center;
    margin: 10.5rem 0 5rem 0;
    z-index: 1;

    h2 {
        font-size: 2.5rem;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        color: #f173ac;
        padding: 3rem;
    }

    .import-nav {
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 1rem;
        // font-family: "Poppins", sans-serif;
        font-family: "Poppins", sans-serif;
        width: 500px;
        display: flex;
        overflow: hidden;
        margin: auto;

        .slider-contenedor {
            display: flex;
            width: 500px;

            .characteres_all {
                // align-items:flex-start;
                position: relative;
                vertical-align: top;
                display: inline-block;
                width: 500px;
                // height: 22rem;
                justify-content: space-around;
                flex-shrink: 0;

                p {
                    color: #444;
                    font-size: 1.5rem;
                    opacity: 0.8;
                    text-align: center;
                    margin: 1.5rem 9%;
                }
            }
        }
    }

    .points {
        margin-top: 1rem;
        display: flex;
        justify-content: center;

        .pt {
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50px;
            background-color: rgba(7, 17, 27, 0.2);
            margin-right: 8px;
            line-height: 12px;
            // box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) inset;
            cursor: pointer;

            &.active {
                // box-shadow: 0 0 0 2px rgba(7, 17, 27, 0.4) inset;
                width: 70px;
                transition: all 0.2s linear;
                // background: #007cc3;
            }
        }
    }

    .ofrecemos-box1 {
        position: relative;
        margin: auto;
        background: #f5a4c7;
        width: 90%;
        height: 38rem;
        box-shadow: -3rem 0 80px -40px #777;
        bottom: -10rem;
        z-index: 10;

        &::before {
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            /* Specify the background image to be used */
            background-image: url(../img/image-simple-2/Fondo.png);
            background-size: cover;
            /* Specify the background image */
            opacity: 0.07;
        }

        .ofrecemos-box1_div1 {
            display: flex;
            padding: 0 0 0 5%;
            width: 95%;

            iframe {
                // border-radius: 15px;
                position: relative;
                width: 700px;
                height: 30rem;
                bottom: -4.5rem;
            }

            // .contenedor {
            //     z-index: 1;
            //     display: block;
            //     width: 100%;
            //     max-width: 600px;
            //     margin: 20px auto;
            //     position: relative;
            //     bottom: -2.5rem;

            //     .reproductor {
            //         display: block;
            //         width: 100%;
            //         height: 100%;
            //         margin: auto;
            //         overflow: hidden;
            //         position: relative;
            //         cursor: hand;
            //         cursor: pointer;

            //         img{
            //             &.imagen-previa {
            //                 display: block;
            //                 left: 0;
            //                 bottom: 0;
            //                 margin: auto;
            //                 max-width: 100%;
            //                 width: 100%;
            //                 position: absolute;
            //                 right: 0;
            //                 top: 0;
            //                 height: auto;
            //             }
            //         }
            //     }

            //     div.youtube-play { 
            //         height: 64px; 
            //         width: 64px; 
            //         left: 50%; 
            //         top: 50%; 
            //         margin-left: -36px; 
            //         margin-top: -36px;
            //         opacity:0.7;
            //         position: absolute; 
            //         background:   url("https://cdn2.iconfinder.com/data/icons/social-icons-color/512/youtube-64.png") no-repeat; 
            //      }

            //     div.youtube-play:hover{
            //         opacity:1; 
            //      }

            //     #youtube-iframe { 
            //         width: 100%; 
            //         height: 100%; 
            //         position: absolute; 
            //         top: 0; 
            //         left: 0; 
            //      }
            // }

            ul {
                font-size: 1.5rem;
                padding-left: 5rem;
                // padding-right: 5rem;
                text-align: left;
                /* list-style-type: none; */
                color: #fff;
                padding-top: 2.5rem;

                h2 {
                    font-family: "Abel", sans-serif;
                    font-size: 2.5rem;
                    padding-top: 1.5rem;
                    color: #fff;
                    padding-bottom: .8rem;
                }

                li {
                    p {
                        font-family: "Poppins", sans-serif;
                        font-size: 1.7rem;
                        margin-top: 0.7rem;
                        color: #fff;
                        padding-top: 0rem;
                        font-weight: 100;
                    }
                }
            }
        }

        .point2 {
            width: 10rem;
            position: absolute;
            z-index: 100;
            top: -2rem;
            right: -2rem;
        }
    }
}

.vacio {
    // height: 35rem;
    background: #eee;
    opacity: 1;
    z-index: 0;
    // padding: 0 15%;
    font-family: "Poppins", sans-serif;

    .vacio-h2 {
        display: flex;
        justify-content: center;
        color: $pink3;
        font-size: 2.5rem;
        position: relative;
        top: 10rem;
    }

    .vacio-div1 {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        max-width: 110rem;
        color: #666;
        position: relative;
        top: 10rem;

        div {
            margin: auto;
            width: 35rem;
            background-color: #fff;
            align-items: center;

            p {
                padding: 1rem;
                font-size: 1.3rem;
            }
        }

        .vacio-boxes_1 {
            height: 25rem;
            display: inline;
            // border-bottom: 1px solid #666;
            margin-top: 2rem;
            padding: 4rem 0rem;
            box-shadow: -3rem 2rem 10px -10px rgb(204, 203, 203);

            .vacio-boxes_1-div1 {
                display: flex;
                padding: 0 3rem;

                img {
                    height: 5rem;
                }

                div {
                    display: inline;
                    // padding: 1rem;
                }

                h3 {
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    color: $azul;
                    font-size: 1.7rem;
                }
            }

            p {
                padding: 2rem 4rem;
            }

            &.div1 {
                z-index: 3;

                &.medium {
                    padding: 6.5rem 0rem;
                }
            }

            &.div2 {
                z-index: 2;

                &.medium {
                    padding: 6.5rem 0rem;
                }
            }

            &.div3 {
                z-index: 1;

                &.medium {
                    padding: 6.5rem 0rem;
                }

                .point4 {
                    width: 10rem;
                    position: absolute;
                    z-index: 100;
                    top: -1rem;
                    right: -4rem;
                }
            }

            .point3 {
                width: 10rem;
                position: absolute;
                z-index: -100;
                bottom: -3rem;
                left: -4rem;
            }

            .point4 {
                width: 10rem;
                position: absolute;
                z-index: 100;
                bottom: -3rem;
                right: 28%;
            }
        }

        .vacio-boxes_2 {
            height: 17rem;
            margin-top: 2rem;
            display: flex;
            // border-bottom: 1px solid #666;
            padding: 1rem;
            box-shadow: -3rem 2rem 10px -10px rgb(204, 203, 203);

            img {
                height: 5rem;
            }

            &.div1 {
                z-index: 3;
            }

            &.div2 {
                z-index: 2;
            }

            &.div3 {
                z-index: 1;
            }
        }
    }
}

.ofrecemos {
    height: 20rem;
    text-align: center;
    z-index: 0;
    // background-color: #F5A4C7;
    position: relative;
}

.footer {
    text-align: center;

    .ofrecemos-footer {
        position: relative;
        display: inline-block;
        margin: 2rem auto;

        .ofrecemos_footer_div1 {
            display: flex;
            justify-content: space-between;
            width: 95rem;
            height: 10rem;

            i {
                color: $pink3;
            }

            div {
                display: flex;

                a {
                    position: relative;
                    top: 10px;
                    text-align: center;

                    i {
                        font-size: 3rem;
                    }
                }

                .footer-ul1 {
                    list-style-type: none;
                    margin-left: 1.5rem;
                    font-family: "Poppins", sans-serif;
                    text-align: left;

                    h2 {
                        font-family: "Abel", sans-serif;
                    }

                    li {
                        p {
                            opacity: 0.7;
                            font-size: 1.3rem;
                        }
                    }
                }

                .footer-ul2 {
                    list-style-type: none;
                    margin-left: 1.5rem;

                    h2 {
                        text-align: start;
                        font-family: "Abel", sans-serif;
                    }

                    li {
                        font-family: "Abel", sans-serif;
                        // color: $pink3;
                        color: #007cc3;
                        // color: #000;
                    }
                }

                .footer-ul3 {
                    list-style-type: none;
                    margin-left: 1.5rem;

                    li {
                        font-size: 1.5rem;
                        color: #007cc3;
                    }

                    ul {
                        font-size: 1.5rem;
                        margin: 1rem 0;
                        padding: 0.2rem;
                        text-align: left;

                        i {
                            color: $light-color;
                            margin-right: 1rem;
                        }
                    }
                }
            }
        }

        .ofrecemos_footer_div2 {
            border-top: 1px solid #bfbfbf;

            p {
                font-family: "Abel", sans-serif;
                margin-top: 1.5rem;
                color: #9f9f9f;
                font-size: 1.2rem;
            }
        }
    }
}

// *MEDIA QUERIES

/* *MEDIA QUERIES */

@media (max-width: 1720px) {
    html {
        font-size: 57%;
    }

    .menu {
        padding: 3rem 9%;
    }

    .importante {
        margin-top: 15.5rem;
    }
}

@media (max-width: 1380px) {
    .menu {
        .menu-nav2 {
            img {
                width: 92%;
            }
        }
    }

    .importante {
        margin-top: 7.5rem;
    }
}

@media (max-width: 1210px) {
    html {
        font-size: 55%;
    }

    .menu {
        .menu-nav2 {
            margin: auto;
            text-align: right;

            img {
                width: 90%;
            }
        }
    }
}

// Todo: en esta media se eleminan todos los puntitos
@media (max-width: 1050px) {
    .menu {
        padding: 3rem 5%;
        display: flex;
        height: auto;

        .menu-nav1 {
            position: relative;

            .menu-nav1-h1_1 {
                font-size: 2.5rem;
            }

            .menu-nav1-h2_2 {
                font-size: 3.5rem;
            }

            p {
                font-size: 2.5rem;
            }
        }

        .menu-nav2 {
            width: 60%;
            // height: auto;
            text-align: right;
            // align-items:center;
            img {
                position: relative;
                width: 90%;
            }
        }

        .img-fondo {
            display: none;
        }
    }

    .importante {
        .ofrecemos-box1 {
            div {
                ul {
                    h2 {
                        font-size: 2rem;
                    }

                    li {
                        p {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }

        .point2 {
            display: none;
        }
    }

    .vacio {
        .vacio-div1 {
            .vacio-boxes_1 {
                .point3 {
                    display: none;
                }

                .point4 {
                    display: none;
                }
            }
        }
    }

    .footer {
        .ofrecemos-footer {
            width: 80vw;

            .ofrecemos_footer_div1 {
                display: inline;

                div {
                    margin: 3rem;
                }
            }
        }
    }
}

@media (max-width: 950px) {
    .header {
        padding: 0rem;

        div {
            margin: 0;
            height: auto;
            width: 100%;

            .navbar-opciones {
                display: none;
            }

            .header-general {
                margin: 1rem 10%;
                justify-content: space-between;

                .header-left {
                    display: flex;
                    position: relative;
                    a {
                        img {
                            width: 14.5rem;
                        }
                    }
                }

                .navbar-opciones-phone {
                    display: flex;

                    ul {
                        margin: auto;
                        list-style-type: none;
                        display: flex;

                        li {
                            .gestacional {
                                // margin-top: 1rem;
                                padding: 0.5rem 2rem;
                                background: $pink3;
                                color: #fff;
                                // font-size: 1rem;
                                // box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
                                cursor: pointer;

                                &:hover {
                                    letter-spacing: 0.1rem;
                                }
                            }

                            a {
                                font-size: 1.5rem;
                                margin: 0 2rem;
                                opacity: 0.8;

                                &:focus {
                                    padding-bottom: 0.5rem;
                                    border-bottom: 2px solid #f173ac;
                                }
                            }
                        }
                    }
                }

                .header-center-right {
                    display: inline-block;
                    text-align: center;
                    width: 50%;
                    position: absolute;
                    top: 75%;
                    right: 0;
                    background: #fff;
                    border-top: $border;
                    border-bottom: $border;
                    padding: 0 2rem;
                    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

                    &.active {
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                    }

                    a {
                        display: block;
                        font-size: 1.2rem;
                        margin: 3rem 1rem;
                    }
                }

                .header-right {
                    display: flex;
                    width: auto;

                    div {
                        height: 4.5rem;
                        width: 4.5rem;
                        line-height: 4.5rem;
                        border-radius: 0.5rem;
                        background: #eee;
                        font-size: 1.7rem;
                        color: #000;
                        margin-left: 0.3rem;
                        text-align: center;
                        cursor: pointer;

                        &:hover {
                            color: #000;
                        }
                    }
                }
            }
        }
    }

    .importante {
        .import-nav {
            div {
                margin-top: 1rem;

                p {
                    margin: 1.5rem 9%;
                }
            }
        }

        .ofrecemos-box1 {
            width: auto;

            div {
                iframe {
                    height: 30rem;
                    // left: -3.5rem;
                    // bottom: 3.5rem;
                }

                ul {
                    li {
                        p {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .menu {
        display: flex;
        height: auto;
        text-align: center;
        // justify-content: space-between;

        .menu-nav1 {
            position: relative;
            text-align: center;
            margin: 0 auto;

            .menu-nav1-h1_1 {
                font-size: 3.5rem;
            }

            .menu-nav1-h2_2 {
                font-size: 4.5rem;
            }

            .menu-nav1-p1 {
                font-size: 3.5rem;
            }
        }

        .menu-nav2 {
            display: none;
        }
    }

    .importante {
        .ofrecemos-box1 {
            border-radius: 0px;
            width: auto;
            height: auto;
            // padding-right: 1rem;

            .ofrecemos-box1_div1 {
                display: inline;

                iframe {
                    display: inline;
                    left: -.7rem;
                    bottom: 3.5rem;
                    width: 90%;
                    // height: 100%;
                }

                ul {
                    padding-right: 2rem;
                    position: relative;
                    // padding: 0 3rem;
                    // padding-top: 0;
                    top: -4.5rem;

                    h2 {
                        padding-bottom: 1rem;
                    }

                    li {
                        p {
                            font-size: 1.7rem;
                        }
                    }
                }
            }
            .img-fondo {
                display: none;
            }
        }
    }
}

@media (max-width: 600px) {
    .header {
        div {
            .header-general {
                margin: 1rem;

                .header-left {
                    a {
                        img {
                            position: relative;
                            top: 0.5rem;
                            width: 10rem;
                        }
                    }
                }

                .navbar-opciones-phone {
                    ul {
                        li {
                            a {
                                font-size: 1rem;
                                margin: 0 1rem;
                                opacity: 0.8;

                                &:focus {
                                    padding-bottom: 0.5rem;
                                    border-bottom: 2px solid #f173ac;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .importante {
        .ofrecemos-box1 {
            height: auto;

            .ofrecemos-box1_div1 {
                display: inline;

                iframe {
                    height: 30rem;
                    display: inline;
                }

                ul {
                    padding: 1.5rem 3rem 0 4rem;
                    position: relative;
                    font-size: 1rem;
                    top: -4.5rem;

                    li {
                        p {
                            font-size: 1.4rem;
                            margin-top: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .menu {
        display: flex;
        flex-wrap: wrap-reverse;
        padding-top: 0;

        .menu-nav1 {
            padding: 1rem 0;
            text-align: center;
            width: 100%;

            h2 {
                text-align: center;
            }

            .menu-nav1-h1_1 {
                text-align: center;
                font-size: 2rem;
            }

            .menu-nav1-h2_2 {
                font-size: 3rem;
            }

            .menu-nav1-p1 {
                margin-right: 0rem;
                font-size: 1.5rem;
                text-align: center;
            }

            div {
                margin: 1rem auto;
                text-align: center;
                align-content: center;

                a {
                    text-align: center;
                }
            }
        }

        .menu-nav2 {
            display: flex;
            text-align: center;
            width: auto;
            text-align: center;
            align-content: center;

            img {
                border-radius: 0px;
                position: relative;
                display: flex;
                margin: auto;
                width: 80%;
                // bottom: -50rem;
            }
        }
    }

    .importante {
        h2 {
            font-size: 2rem;
        }

        .import-nav {
            width: 100%;

            .slider-contenedor {
                width: 100%;

                .characteres_all {
                    width: 100%;
                }
            }
        }

        .ofrecemos-box1 {
            height: auto;

            div {
                img {
                    height: 12rem;
                }

                ul {
                    font-size: 0.8rem;

                    h1 {
                        font-size: 2rem;
                    }

                    li {
                        p {
                            font-size: 1.3rem;
                        }
                    }
                }
            }

            .img-fondo {
                display: none;
            }
        }
    }
}

@media (max-width: 360px) {
    .header {
        div {
            .header-general {
                .header-left {
                    a {
                        img {
                            top: 1rem;
                            width: 7rem;
                        }
                    }
                }

                .navbar-opciones-phone {
                    ul {
                        li {
                            .gestacional {
                                padding: 0.5rem 1rem;
                            }

                            a {
                                margin: 0 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 330px) {

    .importante{
        .ofrecemos-box1{
            .ofrecemos-box1_div1{
                iframe{
                    height: 20rem;
                }
            }
        }
    }

    .vacio {
        .vacio-div1 {
            div {
                // height: auto;
                width: 100%;

                p {
                    padding: 0.5rem;
                }
            }

            .vacio-boxes_1 {
                .vacio-boxes_1-div1 {
                    padding: 0 2rem;
                }

                p {
                    font-size: 1.4rem;
                    padding: 2rem;
                }
            }
        }
    }
}

@media (max-width: 284px) {
    .vacio {
        .vacio-div1 {
            .vacio-boxes_1 {
                height: 26rem;
                padding: 3rem 0;
            }
        }
    }
}
