@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    // outline: green solid 3px;
    border: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

$white:#fff;
$light-color: #666;
$pink1: #F4C6DE;
$pink2: #F5A4C7;
$pink3: #F173AC;
$border: .2rem solid $pink3;

a {
    color: #666;
    text-decoration: none;
}

.header {
    position: sticky;
    z-index: 1000;
    top: 0; left: 0; right: 0;
    padding: auto;
    background: #fff;
    text-align: center;
    font-size: 1.5rem;

    div{
        margin-top: 1rem;
        margin-bottom: 1rem;
        position: relative;
        display: inline-block;
        width: 100rem;
        text-align: left;
        font-family: "Poppins", sans-serif;

        .navbar-opciones{
            font-size: 1rem;
            font-weight: 600;
            
            ul{

                a{
                    margin: 0 .5rem;
                }
            }
        }

        .header-general{
            margin-top: 2rem;
            display: flex;
            justify-content: space-between;

            .navbar-opciones-phone{
                display: none;
            }

            .header-right{
                display: none;
            }

            .header-center-right{
                width: 100%;
                justify-content: space-between;
                display: flex;
                margin-top: 1.5rem;
                padding-left:  2.5rem;
                
                .genetico{
        
                    border-bottom: 3px solid #f173ac;
                }

            }
        }
    }
}

.vacio {
    height: 35rem;
    background: #d9d9d9;
    opacity: 0.5;
    z-index: 0;
}

// .footer {
//     text-align: center;

//     .ofrecemos-footer {
//         position: relative;
//         display: inline-block;
//         margin: 2rem auto;

//         .ofrecemos_footer_div1 {
//             display: flex;
//             justify-content: space-between;
//             width: 95rem;
//             height: 10rem;

//             i{
//                 color: $pink3;
//             }

//             div {
//                 display: flex;

//                 a {
//                     position: relative;
//                     top: 10px;
//                     text-align: center;

//                     i{  
//                         font-size: 3rem;
//                     }
//                 }

//                 .footer-ul1 {
//                     list-style-type: none;
//                     margin-left: 1.5rem;
//                     font-family: "Poppins", sans-serif;
//                     text-align: left;

//                     h2 {
//                         font-family: "Abel", sans-serif;
//                     }
//                 }

//                 .footer-ul2 {
//                     list-style-type: none;
//                     margin-left: 1.5rem;
                    
//                     h2 {
//                         text-align: start;
//                         font-family: "Abel", sans-serif;
//                     }

//                     li {
//                         font-family: "Abel", sans-serif;
//                         color: #007cc3;
//                         // color: #1ca5e0;
//                     }
//                 }

//                 .footer-ul3 {
//                     list-style-type: none;
//                     margin-left: 1.5rem;

//                     li {
//                         font-size: 1.5rem;
//                         color: #007cc3;
//                     }

//                     ul{
//                         font-size: 1.5rem;
//                         margin: 1rem 0;
//                         padding: 0.2rem;
//                         text-align: left;

//                         i{  
//                             color: $light-color;
//                             margin-right: 1rem;
//                         }
//                     }
//                 }
//             }
//         }

//         .ofrecemos_footer_div2 {
//             border-top: 1px solid #bfbfbf;

//             p {
//                 margin-top: 1.5rem;
//                 color: #bfbfbf;
//             }
//         }
//     }
// }


// *MEDIA QUERIES

/* *MEDIA QUERIES */
@media (max-width: 1050px) {

    html{
        font-size: 57%;
    }
}

@media (max-width: 950px){

    .header{
        // padding: 3% auto;
        

        div{
            width: 100%;
            // text-align: center;

            .navbar-opciones{
                display: none;
            }

            .header-general{
                margin: 0 1rem;
                display: none;

                .header-left{
                    display: none;

                    img{
                        width: 1rem;
                    }
                }

                .navbar-opciones-phone{
                    display: none;
                    

                    a {
                        font-size: 1.5rem;
                        margin: 0 4rem;
                        opacity: 0.8;
    
                        &:focus {
                            padding-bottom: 0.5rem;
                            border-bottom: 2px solid #f173ac;
                        }
                    }
                }

                .header-center-right {
                    text-align: center;
                    width: 50%;
                    position: absolute;
                    top: 60%;        
                    right: 0;
                    background: #fff;
                    border-top: $border;
                    border-bottom: $border;
                    padding: 0 2rem;
                    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    
                    &.active {
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                    }
    
                    a {
                        display: block;
                        font-size: 2rem;
                        margin: 3rem 1rem;
                    }
                    
                }

                .header-right {
                   display:none; 
                   width: auto;

                   div{
                    height: 4.5rem;
                    width: 4.5rem;
                    line-height: 4.5rem;
                    border-radius: 0.5rem;
                    background: #eee;
                    font-size: 1.7rem;
                    color: #000;
                    margin-left: 0.3rem;
                    text-align: center;
                    cursor: pointer;

                    &:hover {
                        // background: $azul;
                        color: #000;
                    }
                   }
                }
                  
            }
        }
    }
}