@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.home {
  margin: auto;
  height: 35rem;
  width: 60rem;
}

.home .h1 {
  display: none;
}

.home .home-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.home .home-box .home__div1 {
  width: 70%;
  padding-top: 1rem;
  padding-right: 15rem;
}

.home .home-box .home__div1 img {
  width: 12rem;
}

.home .home-box .home__div1 div {
  margin-top: 8rem;
}

.home .home-box .home__div1 div span {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  color: #007cc3;
}

.home .home-box .home__div1 div p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #999999;
}

.home .home-box .home__div1 div p b {
  color: #62bb46;
  font-size: 3rem;
  line-height: 1.2;
}

.home .home-box .home__div2 {
  width: 30%;
  height: 30rem;
  background-color: #007cc3;
}

.home .home-box .home__div2::before {
  content: "";
  width: 18rem;
  height: 30rem;
  position: absolute;
  background-image: url(../img/image-simple-2/Fondo.png);
  background-size: cover;
  /* Specify the background image */
  opacity: 0.03;
}

.home .home-box .home__div3 {
  position: absolute;
  right: 14rem;
  bottom: -5.3rem;
}

.home .home-box .home__div3 .ofrecemos-box3_img {
  width: 20rem;
}

.home .home-box .point1 {
  width: 9rem;
  position: absolute;
  left: -10rem;
  top: 10rem;
}

.home .home-box .point2 {
  width: 9rem;
  z-index: -1;
  position: absolute;
  right: -5rem;
  bottom: -1.5rem;
}

.section_2 {
  background-color: rgba(217, 217, 217, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poppins", sans-serif;
}

.section_2 .image img {
  position: relative;
  top: 5rem;
  width: 30rem;
}

.section_2 .content {
  width: 30rem;
  height: 10rem;
  position: relative;
  top: 10rem;
  padding: 2rem 10rem 2rem 2rem;
}

.section_2 .content h3 {
  font-size: 1.5rem;
  font-family: "Abel", sans-serif;
  color: #62bb46;
}

.section_2 .content span {
  font-size: .9rem;
  color: #999999;
}

.section_3 {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_3 .content {
  width: 30rem;
  padding: 6rem 6rem 6rem 3rem;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.section_3 .content h3 {
  font-family: "Abel", sans-serif;
  color: #62bb46;
  font-size: 1.5rem;
}

.section_3 .content span {
  font-size: 0.9rem;
  color: #999999;
}

.section_3 .content .point3 {
  width: 9rem;
  position: absolute;
  left: -4rem;
  top: -8rem;
  z-index: -1;
}

.section_3 .image img {
  width: 30rem;
}

.dinamic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.dinamic .content-content {
  padding-top: 10.5rem;
  padding-bottom: 5rem;
  width: 30rem;
}

.dinamic .content-content ol {
  padding-left: 1rem;
  padding-right: 3rem;
}

.dinamic .content-content ol li {
  margin-bottom: 3rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  color: #888;
  background-color: #fff;
}

.dinamic .content-content ol li::marker {
  color: #62bb46;
}

.dinamic .content-content ol li.active .barrita {
  margin-top: 1rem;
  width: 00%;
  overflow: hidden;
  border-bottom: 3px solid #007cc3;
  -webkit-animation: changerBorder 4s linear;
          animation: changerBorder 4s linear;
}

@-webkit-keyframes changerBorder {
  0% {
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

@keyframes changerBorder {
  0% {
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

.dinamic .content-dinamic {
  width: 30rem;
  height: 55rem;
  padding-top: 7rem;
  position: relative;
  overflow: hidden;
}

.dinamic .content-dinamic .dinamic-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dinamic .content-dinamic .dinamic-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dinamic .content-dinamic .dinamic-content div .img-dinamic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 30rem;
  height: 45rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dinamic .content-dinamic .dinamic-content div span {
  display: none;
}

.dinamic .point4 {
  width: 9rem;
  z-index: 1;
  position: absolute;
  top: 4rem;
}

.filosofy {
  background-color: rgba(217, 217, 217, 0.5);
  text-align: center;
  padding: 3rem 10%;
}

.filosofy h2 {
  font-family: "Abel", sans-serif;
  margin: 2rem auto;
  color: #007cc3;
  font-weight: 900;
  font-size: 2rem;
}

.filosofy div {
  width: 100%;
  max-width: 70rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.filosofy div div {
  background-color: #fff;
  width: 20rem;
  height: 25rem;
  text-align: center;
  -webkit-box-shadow: -3rem 2rem 40px -30px rgba(99, 91, 91, 0.596);
          box-shadow: -3rem 2rem 40px -30px rgba(99, 91, 91, 0.596);
  display: block;
  padding: 1rem 2.5rem;
  font-family: "Poppins", sans-serif;
  color: #999999;
}

.filosofy div div img {
  width: 10rem;
  margin: 2rem 0;
  position: relative;
}

.filosofy div div p {
  color: #888;
  font-size: 0.9rem;
}

.filosofy .span-text-footer {
  font-size: 0.9rem;
  margin-top: 5rem;
  font-family: "Poppins", sans-serif;
  padding: 0rem 15%;
  color: #888;
}

.section_final {
  width: 100%;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.section_final .section_final-contenedor {
  position: relative;
  margin: 0rem 25% 0 auto;
  background-color: #fff;
  width: 28rem;
  height: 32rem;
  text-align: center;
  bottom: 0rem;
  -webkit-box-shadow: -3rem 1rem 80px -40px #332e2e;
          box-shadow: -3rem 1rem 80px -40px #332e2e;
  padding: 5rem 2rem 0 2rem;
}

.section_final .section_final-contenedor .point5 {
  width: 9rem;
  position: absolute;
  left: 24rem;
  top: -2rem;
  z-index: 1;
}

.section_final .section_final-contenedor .section_final-tittle {
  font-family: "Abel", sans-serif;
  color: #007cc3;
  font-weight: 900;
  font-size: 2rem;
}

.section_final .section_final-contenedor .section_final-info {
  font-size: 1rem;
  margin-top: 1rem;
  color: #999999;
  font-family: "Poppins", sans-serif;
}

.section_final .section_final-contenedor div {
  text-align: center;
  position: relative;
  margin: 2rem auto;
  padding-top: 0.3rem;
  color: #fff;
  width: 13rem;
  height: 2rem;
  text-align: center;
  background: #62bb46;
  border-radius: 25px;
}

.section_final .section_final-contenedor div a {
  font-family: "Abel", sans-serif;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

.section_final .section_final-contenedor div a i {
  position: relative;
  top: 1px;
  font-size: 1rem;
  margin-right: 1rem;
}

.footer {
  height: 5rem;
}

.footer p {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.5rem;
  color: #999999;
  margin: 0 20%;
}

@media (max-width: 1100px) {
  .home .home-box .point2 {
    display: none;
  }
  .section_final .section_final-contenedor {
    margin: 0rem 15% 0 auto;
  }
}

@media (max-width: 975px) {
  html {
    font-size: 75%;
  }
  .home {
    width: 100%;
  }
  .home .home-box .home__div1 {
    padding: 1rem 5rem;
    width: 100%;
  }
  .home .home-box .home__div2 {
    display: none;
  }
  .home .home-box .home__div3 {
    top: 8.2rem;
    opacity: 0.2;
  }
  .home .home-box .home__div3 img {
    width: 20rem;
  }
  .home .home-box .point1 {
    display: none;
  }
  .section_2 {
    width: 100%;
    display: inline-block;
  }
  .section_2 .image {
    text-align: center;
  }
  .section_2 .image img {
    position: relative;
    top: -2rem;
  }
  .section_2 .content {
    padding: 2rem 3rem 2rem 0rem;
    margin: auto;
    position: inherit;
  }
  .section_3 {
    margin-top: 0rem;
    width: 100%;
    display: inline-block;
  }
  .section_3 .content {
    padding: 3rem 0rem 6rem 3rem;
    text-align: right;
    margin: 0rem auto;
  }
  .section_3 .content .point3 {
    display: none;
  }
  .section_3 .image {
    text-align: center;
  }
  .dinamic .point4 {
    display: none;
  }
}

@media (max-width: 730px) {
  .section_2 .image img {
    width: 20rem;
  }
  .section_2 .content {
    width: 100%;
    height: auto;
    padding: 1rem 5rem 2rem 2rem;
  }
  .section_3 .content {
    width: 100%;
    height: auto;
    padding: 3rem 2rem 3rem 3rem;
  }
  .section_3 .image img {
    width: 20rem;
  }
  .dinamic {
    margin-bottom: 5rem;
  }
  .dinamic .content-content {
    display: none;
  }
  .dinamic .content-dinamic {
    width: 95%;
    max-width: 50rem;
    height: 55rem;
    overflow: auto;
  }
  .dinamic .content-dinamic::-webkit-scrollbar {
    display: none;
  }
  .dinamic .content-dinamic .dinamic-content {
    gap: 2rem;
  }
  .dinamic .content-dinamic .dinamic-content div {
    display: inline;
  }
  .dinamic .content-dinamic .dinamic-content div .img-dinamic {
    border-radius: 15px 15px 0px 0px;
    width: 26.5rem;
    height: 38rem;
  }
  .dinamic .content-dinamic .dinamic-content div span {
    height: 8.5rem;
    border-radius: 0px 0px 15px 15px;
    background-color: #eeeeee;
    padding: 1rem;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dinamic .content-dinamic .dinamic-content .last_hidden {
    display: none;
  }
  .section_final .section_final-contenedor {
    height: 30rem;
  }
  .section_final .section_final-contenedor .point5 {
    display: none;
  }
}

@media (max-width: 600px) {
  .section_final .section_final-contenedor {
    margin: 0;
    width: 100%;
  }
  .section_final .section_final-contenedor div {
    width: 14rem;
    padding-top: .6rem;
    height: 2.5rem;
  }
}

@media (max-width: 470px) {
  .home .home-box .home__div1 {
    padding: 1rem 50% 8.1rem 2rem;
  }
  .home .home-box .home__div1 div {
    margin-top: 6rem;
  }
  .home .home-box .home__div1 div span {
    font-size: 1.5rem;
  }
  .home .home-box .home__div1 div p b {
    font-size: 2.2rem;
  }
  .home .home-box .home__div3 {
    right: 0rem;
    top: 13.5rem;
    opacity: .9;
  }
  .home .home-box .home__div3 .ofrecemos-box3_img {
    width: 16rem;
  }
  .filosofy {
    padding: 3rem 1%;
  }
  .section_final .section_final-contenedor {
    padding: 4rem 2rem 0 2rem;
  }
  .section_final .section_final-contenedor div {
    margin: 1rem auto;
  }
  .dinamic .content-dinamic {
    height: 47rem;
  }
  .dinamic .content-dinamic .dinamic-content {
    gap: 1rem;
  }
  .dinamic .content-dinamic .dinamic-content div .img-dinamic {
    width: 19rem;
    height: 28rem;
  }
  .dinamic .content-dinamic .dinamic-content div span {
    padding: .8rem 1rem;
    height: 9.5rem;
    font-size: .9rem;
  }
  .footer p {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 380px) {
  .home .home-box .home__div1 {
    padding-right: 55%;
  }
  .home .home-box .home__div1 div {
    margin-top: 4rem;
  }
  .home .home-box .home__div1 div p b {
    font-size: 2rem;
  }
}

@media (max-width: 310px) {
  .home {
    height: 32rem;
  }
  .home .home-box .home__div1 {
    padding-right: 0%;
  }
  .home .home-box .home__div1 img {
    width: 10rem;
  }
  .home .home-box .home__div1 div {
    margin-top: 2rem;
  }
  .home .home-box .home__div1 div span {
    font-size: 1.3rem;
  }
  .home .home-box .home__div1 div p {
    padding-right: 12.5rem;
  }
  .home .home-box .home__div1 div p b {
    padding-right: 1rem;
    font-size: 1.5rem;
  }
  .home .home-box .home__div1 div .home__div1-p1 {
    margin: .2rem 0;
    padding-right: 5rem;
  }
  .home .home-box .home__div3 {
    right: 0rem;
    top: 14.5rem;
  }
  .home .home-box .home__div3 .ofrecemos-box3_img {
    width: 13rem;
  }
  .dinamic .content-dinamic {
    height: 45rem;
  }
  .dinamic .content-dinamic .dinamic-content div .img-dinamic {
    width: 20rem;
    height: 29rem;
  }
  .dinamic .content-dinamic .dinamic-content div span {
    height: 7.5rem;
    font-size: .8rem;
  }
  .section_final {
    height: 25rem;
  }
  .section_final .section_final-contenedor {
    margin: 0;
    height: 25rem;
  }
  .section_final .section_final-contenedor .section_final-tittle {
    font-size: 1.5rem;
  }
  .section_final .section_final-contenedor .section_final-info {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=style-endocrinologas.css.map */