@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

*{
	padding: 0;
	margin: 0;
	/* font-family: "Poppins", sans-serif; */
}

body{
	background: #ffeaf5;
	/* background-color: #22d; */
}

.contenedor{
	
	background:turquoise;
	height: auto;
	width: 95%;
	max-width: 60rem;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 2fr 1fr;
	column-gap: 10px;
	row-gap: 20px;
}

.uno{
	background-color: #aaa;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-weight: 900;
}

.dos{
	background-color: tomato;
}

.tres{
	background-color: cornflowerblue;
}

.cuatro{
	background-color: blanchedalmond;
}

.contenedor2{
	background:turquoise;
	height: 20rem;
	width: 95%;
	max-width: 60rem;
	margin: auto;
	column-gap: 10px;
	row-gap: 20px;
	/* justify-content: space-between; */

	display: flex;
	flex-wrap: wrap;
}

.uno1{
	flex: 1 1 5rem;
	background-color: #aaa;
	height: 10rem;
}

.dos1{
	flex: 1 1 5rem;
	height: 5rem;
	background-color: tomato;
}

.tres1{
	flex: 1 1 5rem;
	height: 5rem;
	background-color: cornflowerblue;
}