@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Libre+Franklin:wght@100&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Water+Brush&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

@-webkit-keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes logo-opacity {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(360deg);
  }
}
@keyframes logo-opacity {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(360deg);
  }
}
@-webkit-keyframes logo-opacity-2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes logo-opacity-2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes logo-opacity-3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes logo-opacity-3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes heartRateIn {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 0;
  }
}
@keyframes heartRateIn {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes heartRateOut {
  0% {
    left: -120%;
  }
  30% {
    left: -120%;
  }
  100% {
    left: 0;
  }
}
@keyframes heartRateOut {
  0% {
    left: -120%;
  }
  30% {
    left: -120%;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.main {
  width: 100%;
  position: relative;
}
.main .content {
  width: 100%;
  opacity: 1;
  transition: 1s;
}
.main .content strong {
  color: #f173ac;
}
.main .content.second {
  position: absolute;
  top: 0;
}
.main .content.second strong {
  color: #62bb46;
}
.main .content.second.interval {
  opacity: 0;
  -webkit-animation: logo-opacity-3;
          animation: logo-opacity-3;
}
.main .content.first, .main .content.second {
  display: none;
}
.main .content.third {
  display: block;
  z-index: 0;
}
.main .content.third::before {
  z-index: 0;
  content: "";
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /* Specify the background image to be used */
  background-image: url(../img/background-index.png);
  background-size: cover;
  background-position: center;
  /* Specify the background image */
  opacity: 0.35;
}
.main .content.third.interval {
  opacity: 1;
}
.main .content.third .sub-content {
  min-height: 20rem;
}
.main .content.third .sub-content .main-info {
  top: 2rem;
  width: 100%;
  justify-content: right;
  text-align: right;
  font-size: 1.3rem;
}
.main .content.third .sub-content .main-info .links-fb, .main .content.third .sub-content .main-info .links-wsp {
  color: #000;
  margin-right: 1rem;
}
.main .content.third .sub-content .article {
  max-width: 32rem;
  padding-right: 1rem;
  background-image: linear-gradient(70deg, rgba(226, 225, 225, 0.082), rgba(255, 255, 255, 0.082));
  min-height: 21rem;
}
.main .content.third .sub-content .article .main-logo {
  width: 2rem;
  top: -0.5rem;
  left: -0.1rem;
}
.main .content.third .sub-content .article .title {
  max-width: 25rem;
  display: flex;
  font-size: 3rem;
  align-items: center;
  border-top: 2px solid #007cc3;
  border-bottom: 2px solid #007cc3;
  max-height: 8rem;
}
.main .content.third .sub-content .article .title strong {
  font-size: 8.5rem;
  margin-right: 0.5rem;
  color: #007cc3;
}
.main .content.third .sub-content .article .description {
  margin-top: 2rem;
}
.main .content.third .sub-content .article .description .p {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.main .content.third .sub-content .article .pages {
  padding-top: 2rem;
}
.main .content.third .sub-content .article .pages .page {
  text-decoration: none;
  color: #007cc3;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  padding: 0.5rem 1rem;
  border: 1px solid;
  border-radius: 5px;
}
.main .content.third .sub-content .article .pages #link1:hover {
  background-color: #62bb46;
  color: white;
}
.main .content.third .sub-content .article .pages #link2:hover {
  background-color: #f173ac;
  color: white;
}
.main .content.third .sub-content .content-img {
  z-index: -1;
  height: 100vh;
  display: flex;
  align-items: center;
  max-width: 27rem;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}
.main .content.third .sub-content .content-img img {
  flex-shrink: 0;
  height: 60vh;
  max-height: 35rem;
}
.main .content.third .sub-content .main-info-footer {
  position: absolute;
  bottom: 1.8rem;
  width: 100%;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  color: #000;
  border-top: 2px solid #007cc3;
  padding-top: 0.2rem;
}
.main .content.third .sub-content .main-info-footer a {
  color: #000;
  margin-right: 1rem;
}
.main .content.interval {
  opacity: 0;
  transition: 1s;
  -webkit-animation: logo-opacity-3;
          animation: logo-opacity-3;
}
.main .content .sub-content {
  width: 95%;
  max-width: 90rem;
  min-height: 45rem;
  height: 100vh;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.main .content .sub-content .heart-rate {
  width: 150px;
  height: 73px;
  position: absolute;
  margin: 20px auto;
}
.main .content .sub-content .heart-rate .fade-in {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  top: 0;
  right: 0;
  -webkit-animation: heartRateIn 2.5s linear infinite;
          animation: heartRateIn 2.5s linear infinite;
}
.main .content .sub-content .heart-rate .fade-out {
  position: absolute;
  width: 120%;
  height: 100%;
  top: 0;
  left: -120%;
  -webkit-animation: heartRateOut 2.5s linear infinite;
          animation: heartRateOut 2.5s linear infinite;
  background: rgb(255, 255, 255);
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 80%, rgba(255, 255, 255, 0) 100%);
}
.main .content .sub-content .main-info {
  position: absolute;
  right: 0;
  top: 2.4rem;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: #000;
  border-bottom: 2px solid #007cc3;
}
.main .content .sub-content .main-info .links-fb {
  color: #007cc3;
}
.main .content .sub-content .main-info .links-wsp {
  color: #009f46;
}
.main .content .sub-content .main-info span {
  margin-right: 2rem;
}
.main .content .sub-content .main-info .cellphone {
  margin-right: 0;
}
.main .content .sub-content .box-divs {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.main .content .sub-content .box-divs .div-1, .main .content .sub-content .box-divs .div-2, .main .content .sub-content .box-divs .div-3 {
  width: 100%;
  height: 1.5rem;
  background-color: #007cc3;
  margin-top: 2vh;
}
.main .content .sub-content .box-divs .div-1, .main .content .sub-content .box-divs .div-2 {
  border-radius: 5px;
}
.main .content .sub-content .box-divs .div-3 {
  border-radius: 5px 5px 0 0;
}
.main .content .sub-content .article {
  align-self: center;
  max-width: 48rem;
  position: relative;
}
.main .content .sub-content .article .main-logo {
  width: 4rem;
  position: absolute;
  top: -2.2rem;
  left: -1rem;
  -webkit-animation: logo-opacity 10s;
          animation: logo-opacity 10s;
}
.main .content .sub-content .article .main-logo.active {
  display: none;
}
.main .content .sub-content .article .title {
  font-family: "Abel", sans-serif;
  font-size: 8rem;
  text-shadow: 8px 5px 10px rgb(197, 197, 197);
}
.main .content .sub-content .box-img {
  display: flex;
  align-self: flex-end;
  z-index: 2;
  -webkit-animation: logo-opacity-2 4s;
          animation: logo-opacity-2 4s;
  position: relative;
  height: 38rem;
}
.main .content .sub-content .box-img .d {
  transform: scaleX(-1);
}
.main .content .sub-content .box-img .img-partner {
  position: absolute;
  height: 10rem;
  top: calc(4rem - 10vh);
  left: calc(5rem - 15vw);
  -webkit-animation: pulse 5s infinite;
          animation: pulse 5s infinite;
}
.main .content .sub-content .box-img .img-partner.b {
  height: 14rem;
  top: calc(4.5rem - 1vh);
  left: calc(4.5rem - 30vw);
}
.main .content .sub-content .box-img .img-partner.b g g g .st3:first-child {
  -webkit-animation: logo-opacity-2 3s infinite;
          animation: logo-opacity-2 3s infinite;
}

.about {
  height: 100vh;
  min-height: 45rem;
  width: 100%;
  max-width: 90rem;
  background-color: #007cc3;
  position: relative;
  margin: auto;
  z-index: 1;
}
.about .about-logo {
  position: relative;
  text-align: center;
  padding: 1rem 0;
}
.about .about-logo .logo {
  height: 4rem;
}
.about .about-sections {
  color: #fff;
  font-size: 6rem;
  position: relative;
  height: 78%;
  max-height: 64rem;
  flex-shrink: 0;
  width: 100%;
  overflow: hidden;
}
.about .about-sections .box-carrusel {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}
.about .about-sections .box-carrusel .carrusel {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  flex-shrink: 0;
}
.about .about-sections .box-carrusel .carrusel:nth-child(2)::before {
  background-image: url(../img/image-simple-2/guantes.jpg);
}
.about .about-sections .box-carrusel .carrusel::before {
  z-index: 0;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /* Specify the background image to be used */
  background-image: url(../img/images-gine/procedimiento/proc-bg-4.jpg);
  background-size: cover;
  /* Specify the background image */
  opacity: 0.35;
}
.about .about-sections .box-carrusel .carrusel .content {
  padding: 1rem 5rem 1rem 3rem;
  z-index: 1;
  width: 65%;
}
.about .about-sections .box-carrusel .carrusel .content .title {
  line-height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 6rem;
}
.about .about-sections .box-carrusel .carrusel .content p {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
}
.about .about-sections .box-carrusel .carrusel .election {
  width: 35%;
  z-index: 1;
  background-color: #fff;
  border-radius: 15px 0 0 15px;
}
.about .about-sections .box-carrusel .carrusel .election .box {
  padding: 1rem;
}
.about .about-sections .box-carrusel .carrusel .election .box .url {
  padding: 1rem 0.5rem;
  display: block;
}
.about .about-sections .box-carrusel .carrusel .election .box .url .logo {
  margin-left: 1rem;
  height: 6rem;
}
.about .about-sections .box-carrusel .carrusel .election .box .url .logo:hover {
  transition: 1s;
  transform: scale(1.1);
}
.about .about-sections .box-carrusel .carrusel .election .box .url h3 {
  font-family: "Abel", sans-serif;
  font-size: 2.21rem;
  color: #000;
}
.about .about-sections .box-carrusel .carrusel .election .box .url:first-child span {
  color: #f173ac;
}
.about .about-sections .box-carrusel .carrusel .election .box .url:nth-child(2) span {
  color: #62bb46;
}
.about .about-sections .box-carrusel .carrusel .election .box .url .table {
  font-family: "Poppins", sans-serif;
  color: #000;
  border: 2px solid #007cc3;
  width: 100%;
  border-collapse: collapse;
}
.about .about-sections .box-carrusel .carrusel .election .box .url .table tr {
  text-align: center;
}
.about .about-sections .box-carrusel .carrusel .election .box .url .table tr th {
  font-size: 1.4rem;
  border: 2px solid #007cc3;
}
.about .about-sections .box-carrusel .carrusel .election .box .url .table tr td {
  border: 2px solid #007cc3;
  font-size: 1.4rem;
}
.about .about-sections .box-carrusel .carrusel:nth-child(2) .election {
  border-radius: 0 15px 15px 0;
}
.about .about-sections .box-carrusel .carrusel:nth-child(2) .content {
  text-align: right;
  padding-right: 3rem;
}
.about .dots {
  height: 100%;
  max-height: 4rem;
  display: flex;
  justify-content: center;
}
.about .dots .dot {
  margin: 1rem;
  border-radius: 1rem;
  background-color: #000;
  width: 4rem;
  height: 0.8rem;
  transition: 1s;
  display: flex;
}
.about .dots .dot.active {
  transform: scale(1.1);
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(255, 255, 255);
}
.about .dots .dot .center-div {
  margin: auto;
  width: 3.6rem;
  height: 0.6rem;
  background-color: #000;
  border-radius: 1rem;
}

.animated {
  padding-top: 0.5rem;
  width: 6rem;
  height: 3rem;
  align-content: center;
  text-align: center;
  background: #007cc3;
  border-radius: 5px;
  align-items: center;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 1.8rem;
}
.animated:hover {
  transition: 0.2s linear;
  transform: scale(1.1);
}

.main2 {
  width: 100%;
  max-width: 90rem;
  height: 100vh;
  margin: auto;
  display: flex;
  position: relative;
  background-image: linear-gradient(#000, #fff);
  border-top: 1px solid #fff;
}
.main2::before {
  z-index: 0;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /* Specify the background image to be used */
  background-image: url(../img/images-gine/procedimiento/proc-bg-4.jpg);
  background-size: cover;
  background-position: center;
  /* Specify the background image */
  opacity: 0.7;
}
.main2 .principal-up, .main2 .principal-down {
  display: flex;
  width: 100%;
  max-width: 90rem;
  height: 100vh;
  position: relative;
}
.main2 .principal-up .content, .main2 .principal-down .content {
  position: relative;
  z-index: 2;
  margin: auto 0;
  max-width: 38rem;
  padding: 2rem;
}
.main2 .principal-up .content .title, .main2 .principal-down .content .title {
  font-family: "Abel", sans-serif;
  font-size: 4rem;
  margin-bottom: 2rem;
}
.main2 .principal-up .content .title h3, .main2 .principal-down .content .title h3 {
  line-height: 120%;
}
.main2 .principal-up .content .paragraph, .main2 .principal-down .content .paragraph {
  font-family: "Abel", sans-serif;
  font-size: 2rem;
}
.main2 .principal-up .divs-backgrounds, .main2 .principal-down .divs-backgrounds {
  width: 100%;
  position: absolute;
  z-index: 0;
}
.main2 .principal-up .divs-backgrounds .div-1, .main2 .principal-up .divs-backgrounds .div-2, .main2 .principal-up .divs-backgrounds .div-3, .main2 .principal-down .divs-backgrounds .div-1, .main2 .principal-down .divs-backgrounds .div-2, .main2 .principal-down .divs-backgrounds .div-3 {
  width: 100%;
  height: 2rem;
  background-color: #007cc3;
  margin-bottom: 2vh;
  position: relative;
}
.main2 .principal-up .divs-backgrounds .div-2, .main2 .principal-down .divs-backgrounds .div-2 {
  width: 66.6%;
}
.main2 .principal-up .divs-backgrounds {
  top: 0;
}
.main2 .principal-up .divs-backgrounds .div-1 {
  border-radius: 0 0 5px 5px;
}
.main2 .principal-up .divs-backgrounds .div-3, .main2 .principal-up .divs-backgrounds .div-2 {
  border-radius: 5px;
}
.main2 .principal-up .divs-backgrounds .div-3 {
  width: 33.3%;
}
.main2 .principal-down {
  position: absolute;
  text-align: right;
}
.main2 .principal-down .content {
  margin-left: auto;
}
.main2 .principal-down .content .title {
  color: #fff;
}
.main2 .principal-down .content .animated {
  margin-left: auto;
}
.main2 .principal-down .divs-backgrounds {
  bottom: 0;
  text-align: right;
}
.main2 .principal-down .divs-backgrounds .div-1, .main2 .principal-down .divs-backgrounds .div-2, .main2 .principal-down .divs-backgrounds .div-3 {
  margin-bottom: 0;
  margin-top: 2vh;
}
.main2 .principal-down .divs-backgrounds .div-1 {
  width: 33.3%;
}
.main2 .principal-down .divs-backgrounds .div-1, .main2 .principal-down .divs-backgrounds .div-2 {
  border-radius: 5px;
  margin-left: auto;
}
.main2 .principal-down .divs-backgrounds .div-3 {
  border-radius: 5px 5px 0 0;
}

.modals {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
}
.modals .modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.432);
  z-index: 3;
  color: #fff;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  display: none;
}
.modals .modal.active {
  display: grid;
  place-content: center;
}
.modals .modal .btn-close {
  z-index: 2;
  width: 20rem;
  font-family: "Abel", sans-serif;
  cursor: pointer;
  display: flex;
  height: 2.4rem;
  margin: auto;
  text-align: right;
}
.modals .modal .btn-close span {
  background-color: #009f46;
  text-align: center;
  border-radius: 10px;
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 2rem;
  margin-left: auto;
}
.modals .modal .article {
  height: 98%;
  max-height: 45rem;
  width: 20rem;
  margin: auto;
  overflow-y: auto;
  border-radius: 5px 0 0 5px;
}
.modals .modal .article::-webkit-scrollbar-thumb {
  color: #62bb46;
  background-color: #007cc3;
  border-radius: 0 5px 5px 0;
}
.modals .modal .article::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  background-color: rgba(255, 255, 255, 0.274);
  border-radius: 0 5px 5px 0;
}
.modals .modal .article:-webkit-scrollbar:vertical {
  width: 10px;
  border-radius: 5px;
}
.modals .modal .article .title {
  font-family: "Abel", sans-serif;
  font-size: 2.2rem;
  border-top: 5px solid #007cc3;
  background-image: linear-gradient(#777, rgba(170, 170, 170, 0.5));
  padding: 0.3rem;
}
.modals .modal .article .subtitle {
  font-family: "Abel", sans-serif;
  font-size: 1.8rem;
  display: block;
  background-color: rgba(170, 170, 170, 0.5);
  padding: 0.3rem;
}
.modals .modal .article .content {
  position: relative;
}
.modals .modal .article .content::before {
  z-index: 0;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /* Specify the background image to be used */
  background-image: url(../img/images-gine/procedimiento/proc-bg-4.jpg);
  background-size: cover;
  background-position: center;
  /* Specify the background image */
  opacity: 1;
}
.modals .modal .article .content .box {
  width: 100%;
  height: 10rem;
  position: relative;
  border-top: 1px solid #999;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.301);
}
.modals .modal .article .content .box .img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 0;
  position: absolute;
  opacity: 0;
}
.modals .modal .article .content .box article {
  position: relative;
  z-index: 2;
  font-family: "Poppins", sans-serif;
  padding: 0.3rem;
}
.modals .modal .article .content .box:hover::before {
  z-index: 0;
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /* Specify the background image to be used */
  background-color: #000;
  background-size: cover;
  background-position: center;
  /* Specify the background image */
  opacity: 1;
}
.modals .modal .article .content .box:hover .img {
  transition: 1s;
  opacity: 0.6;
}
.modals #modal-1 .article::-webkit-scrollbar-thumb {
  background-color: #62bb46;
}
.modals #modal-2 .article::-webkit-scrollbar-thumb {
  background-color: #f5a4c7;
}
.modals #modal-2 .article .title, .modals #modal-2 .article .subtitle {
  text-align: right;
}
.modals #modal-2 .article .subtitle {
  color: rgba(0, 0, 0, 0);
}
.modals #modal-2 .article .content .box article {
  text-align: right;
}
.modals #modal-2 .btn-close span {
  background-color: #f173ac;
}

.footer {
  width: 100%;
  margin: 1rem 0;
  text-align: center;
}
.footer p {
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 1050px) {
  html {
    font-size: 80%;
  }
  .main .content .sub-content .heart-rate {
    width: 100px;
    height: 48px;
  }
}
@media screen and (max-width: 924px) {
  .main {
    z-index: 0;
  }
  .main .content.first, .main .content.second {
    display: none;
  }
  .about .about-sections {
    height: 80%;
    max-height: 66rem;
  }
  .about .about-sections .box-carrusel .carrusel {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about .about-sections .box-carrusel .carrusel .content {
    position: relative;
    z-index: 2;
    width: 100%;
    text-align: center;
  }
  .about .about-sections .box-carrusel .carrusel .content .title {
    font-size: 5rem;
  }
  .about .about-sections .box-carrusel .carrusel .election {
    width: 100%;
    max-width: 35rem;
    display: flex;
    position: relative;
    z-index: 2;
    border-radius: 15px;
    margin-top: 2rem;
  }
  .about .about-sections .box-carrusel .carrusel .election .box {
    display: flex;
  }
  .about .about-sections .box-carrusel .carrusel .election .box .url {
    display: flex;
  }
  .about .about-sections .box-carrusel .carrusel .election .box .url .logo {
    height: 4rem;
  }
  .about .about-sections .box-carrusel .carrusel:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
  }
  .about .about-sections .box-carrusel .carrusel:nth-child(2) .content {
    text-align: center;
  }
  .about .about-sections .box-carrusel .carrusel:nth-child(2) .election {
    border-radius: 15px;
    max-width: 48rem;
  }
  .about .about-sections .box-carrusel .carrusel:nth-child(2) .election .box .url {
    display: inline-block;
  }
  .about .about-sections .box-carrusel .carrusel:nth-child(2) .election .box .url h3 {
    max-width: 12rem;
  }
  .about .about-sections .box-carrusel .carrusel:nth-child(2) .election .box .url .table {
    width: 100%;
    height: 100%;
    max-height: 9rem;
  }
  .main2 {
    display: block;
  }
  .main2 .principal-up, .main2 .principal-down {
    height: 50vh;
    width: 100%;
    text-align: right;
  }
  .main2 .principal-up .content, .main2 .principal-down .content {
    margin-left: auto;
  }
  .main2 .principal-up .content .title, .main2 .principal-down .content .title {
    font-size: 3rem;
  }
  .main2 .principal-up .content {
    margin: auto 0 0 auto;
  }
  .main2 .principal-up .content .title {
    color: #fff;
  }
  .main2 .principal-down {
    margin-top: 0;
    position: inherit;
    text-align: left;
  }
  .main2 .principal-down .content {
    margin: 0;
  }
  .main2 .principal-down .content .title {
    color: #000;
  }
}
@media screen and (max-width: 680px) {
  .main .content.third .sub-content .content-img {
    display: none;
  }
  .main .content.third .sub-content .article {
    max-width: 90rem;
    text-align: center;
  }
  .main .content.third .sub-content .article .title {
    text-align: left;
    margin: auto;
  }
  .main .content.third .sub-content .pages #link2 {
    margin-top: 0.5rem;
  }
  .about .about-sections .box-carrusel .carrusel:nth-child(2) .election {
    max-width: 30rem;
  }
  .about .about-sections .box-carrusel .carrusel:nth-child(2) .election .box {
    display: inline-block;
    text-align: center;
    margin: auto;
  }
  .about .about-sections .box-carrusel .carrusel:nth-child(2) .election .box .url {
    display: block;
    text-align: center;
    width: 100%;
  }
  .about .about-sections .box-carrusel .carrusel:nth-child(2) .election .box .url h3 {
    margin-top: 0;
    text-align: center;
    max-width: 30rem;
  }
  .about .about-sections .box-carrusel .carrusel:nth-child(2) .election .box .url .table {
    width: 100%;
    max-width: 30rem;
  }
  .about .about-sections .box-carrusel .carrusel .content .title {
    font-size: 3.4rem;
    margin-bottom: 1rem;
  }
  .about .about-sections .box-carrusel .carrusel .content p {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 460px) {
  .about .about-logo .logo {
    height: 3rem;
  }
  .about .about-sections .box-carrusel .carrusel:first-child .content {
    padding: 1rem;
  }
  .about .about-sections .box-carrusel .carrusel:first-child .election {
    max-width: 13rem;
  }
  .about .about-sections .box-carrusel .carrusel:first-child .election .box {
    display: block;
    padding: 0;
    margin: auto;
  }
  .about .about-sections .box-carrusel .carrusel:first-child .election .box .url .logo {
    margin-left: 0;
    height: 3rem;
  }
  .about .about-sections .box-carrusel .carrusel:nth-child(2) .election .box .url h3 {
    font-size: 1.8rem;
  }
  .about .about-sections .box-carrusel .carrusel:nth-child(2) .election .box .url .table tr th, .about .about-sections .box-carrusel .carrusel:nth-child(2) .election .box .url .table tr td {
    font-size: 1.2rem;
  }
  .main2 .principal-up .content .title, .main2 .principal-down .content .title {
    font-size: 2.6rem;
  }
}
@media screen and (max-width: 370px) {
  .main .content.third .sub-content .article {
    min-height: 3rem;
  }
  .main .content.third .sub-content .article .title {
    max-width: 17.6rem;
    font-size: 2rem;
    max-height: 6rem;
  }
  .main .content.third .sub-content .article .title strong {
    font-size: 6rem;
  }
  .main .content.third .sub-content .main-info, .main .content.third .sub-content .main-info-footer {
    font-size: 1rem;
  }
  .main .content.third .sub-content .pages .page {
    display: block;
  }
}/*# sourceMappingURL=test.css.map */