@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

// Todo: los atributos en * siempre se mantendran
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

// Todo: el html en endocrinologia no trabaja con font-size
html {
    // font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

$azul: #007cc3;
$green1: #a6ce39;
$green2: #62bb46;
$green3: #009f46;
$gray1: #d9d9d9;
$gray2: #bfbfbf;
$gray3: #999999;

$franklin: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$abel: "Abel", sans-serif;
$poppins: "Poppins", sans-serif;

.main {
    max-width: 1366px;
    height: 40rem;
    background: url(../images/recomendaciones/hierro/background_img-hierro_2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: auto;

    .main-header {
        margin: auto;
        max-width: 70rem;
        padding: 1rem;

        .main_img {
            width: 10rem;
        }
    }

    .main-tittle {
        height: auto;
        max-width: 70rem;
        // background: rgba(136, 136, 136, 0.39);
        position: relative;
        top: 30%;
        padding: 1rem;
        margin: auto;

        .tittle {
            color: #fff;
            vertical-align: middle;
            align-items: center;
            display: flex;
            font-family: $abel;
            font-size: 2.5rem;

            &.first {
                font-weight: 100;
            }
        }
    }
}

.box_1 {
    margin: auto;
    max-width: 1366px;
    width: 100%;
    background: $green2;

    .box_content {
        max-width: 70rem;
        justify-content: space-around;
        // height: 12rem;
        row-gap: 2rem;
        position: relative;
        margin: auto;
        display: flex;
        flex-wrap: wrap;

        .boxes {
            position: relative;
            top: -6rem;
            width: 15rem;
            background-color: #fff;
            height: 16.5rem;
            text-align: center;
            font-family: $poppins;
            padding: 1rem;

            .number {
                margin: 1rem;
                color: $azul;
                font-size: 3.5rem;
                font-weight: 900;
            }
        }
    }
}

.indications {
    padding: 5rem 0;

    .indications_header {
        max-width: 50rem;
        margin: auto;
        text-align: center;

        .tittle {
            padding: 1rem 0;
            color: $green2;
            font-family: $abel;
        }

        .paragraph {
            font-size: 1rem;
            font-family: $poppins;
            padding: 0 1rem;
        }
    }

    .indications_content {
        display: flex;
        max-width: 70rem;
        flex-wrap: wrap;
        margin: auto;

        .boxes {
            // margin: auto;
            max-width: 35rem;
            text-align: center;
            font-family: $poppins;
            margin: 2rem auto;

            .img {
                width: 32rem;
                height: 17rem;
            }

            .paragraph_1 {
                color: $azul;
                margin-top: 2rem;
            }

            .paragraph_2 {
                margin-top: 1rem;
                padding: 0 1rem;
            }
        }
    }
}

.box_2 {
    width: 100%;
    background: $azul;

    .box {
        width: 100%;
        max-width: 80rem;
        display: flex;
        margin: auto;

        .boxes {
            width: 36%;
            height: 28rem;
            
            display: flex;
            text-align: center;

            .boxes_div {
                margin: auto;
                align-items: center;
                // background: $green1;
                width: 15rem;
                height: 20rem;
                text-align: left;
                font-family: $poppins;
                padding: 0.5rem;
                color: #fff;

                .boxes_img {
                    display: flex;
                    width: 5rem;
                    margin: 1rem 0 1.5rem 0;
                }

                .paragraph_1 {
                    margin: 1rem 0;
                }

                .paragraph_2 {
                    margin-top: 1rem;
                }
            }

            &:first-child{
                box-shadow: 1rem 0 20px -5px rgba(19, 14, 14, 0.144);
            }

            &:nth-child(2){
                box-shadow: 1rem 0 20px -5px rgba(19, 14, 14, 0.144);
            }
        }
    }
}

.indications_two{
    .box{
        width: 100%;
        max-width: 66rem;
        display: flex;
        margin: auto;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 2.5rem 0rem;
        
        .boxes{
            width: 16.5rem;
            background-color: #fff;
            height: 11rem;
            text-align: center;
            font-family: $poppins;
            padding: 0 1rem;

            .number {
                margin-bottom: 1rem;
                color: $azul;
                font-size: 3.5rem;
                font-weight: 900;
            }

            &:first-child{
                border-right: 1px solid $green2;
            }

            &:nth-child(3){
                border-left: 1px solid $green2;
                border-right: 1px solid $green2;
            }
        }
    }
}

.footer {
    width: 100%;

    .ofrecemos-footer {
        width: 90%;
        max-width: 53rem;
        margin: auto;
        padding: 2rem 0;
        margin-top: 2rem;

        .ofrecemos_footer_div1 {
            width: 100%;
            justify-content: space-between;
            font-family: $abel;
            display: flex;
            flex-wrap: wrap;

            .box {
                display: flex;
                max-width: 20rem;
                align-items: center;

                a {
                    color: $green2;
                    font-size: 1.8rem;
                    padding: 1rem;
                }

                h2 {
                    font-size: 0.9rem;
                }

                p {
                    font-family: $poppins;
                    font-size: 0.7rem;
                    color: $azul;
                }

                img {
                    width: 1.7rem;
                }

                .footer-ul3 {
                    div {
                        a {
                            padding: 0 0.5rem 0 0;
                            i {
                                color: #666;
                                font-size: 1rem;
                            }
                        }
                    }
                }

                &:first-child {
                    a {
                        padding: 1rem 1.2rem;
                    }
                }
            }
        }

        .ofrecemos_footer_div2 {
            text-align: center;
            margin-top: 2rem;
            color: #aaa;
            font-family: $abel;
            border-top: 1px solid #ccc;
            padding-top: 0.5rem;
            font-size: 0.6rem;
        }
    }
}

// *Media queri en 1366 aplicar la imagen background completa

@media screen and (max-width: 1366px) {
}

@media screen and (max-width: 1214px) {
}

@media screen and (max-width: 1050px) {
    html {
        font-size: 70%;
    }

    .footer {
        .ofrecemos-footer {
            .ofrecemos_footer_div1 {
                .box {
                    margin: 0.5rem 0;

                    h2 {
                        font-size: 1rem;
                    }

                    p {
                        font-size: 0.9rem;
                    }
                }
            }
        }

        .ofrecemos_footer_div2 {
            font-size: 1rem;
        }
    }
}


@media screen and (max-width: 739px) {
    .indications_two{
        .box{
            row-gap: 1rem;

            .boxes{
                &:nth-child(3){
                    border-right: none;
                }

                &:nth-child(4){
                    border-top: 1px solid $green2;
                }
            }
        }
    }    
}

@media screen and (max-width: 600px) {
    .box_2{
        .box{
            flex-wrap: wrap; 
            .boxes{
                margin: auto;
                width: 50%;

                &:nth-child(3){
                    box-shadow: 1rem 0 20px -5px rgba(19, 14, 14, 0.144);
                }
            }
        }
    }

    .footer {
        .ofrecemos-footer {
            .ofrecemos_footer_div1 {
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 554px) {
    .indications_two{
        .box{
            .boxes{
                &:first-child{
                    border-right: none;
                }

                &:nth-child(3){
                    border-right: none;
                    border-top: 1px solid $green2;
                    border-left: none;
                }
            }
        }
    }    
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 400px) {
    .box_2{
        .box{
            flex-wrap: wrap; 
            .boxes{
                margin: auto;
                width: 100%;
                height: auto;

                .boxes_div{
                    // margin: 1rem auto;
                    height: 22rem;
                    padding: 1rem;
                    box-shadow: 1rem 0 20px -5px rgba(19, 14, 14, 0.144);
                }

                &:nth-child(2){
                    box-shadow: 1rem 0 20px -5px rgba(19, 14, 14, 0.144);
                }
            }
        }
    }
}

@media screen and (max-width: 369px) {
    .box_1{
        .box_content{
            .boxes{
                width: 12rem;
                height: 14rem;

                .number{
                    margin: .5rem;
                    font-size: 2.5rem;
                }
            }
        }
    }

    .indications{
        .indications_content{
            .boxes{
                .img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }


    .indications_two{
        .box{
            .boxes{

                &:nth-child(2){
                    border-top: 1px solid $green2;
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {
}
