@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    // outline: green solid 3px;
    border: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

$white: #fff;
$black: #000;
$light-color: #444;
$pink1: #f4c6de;
$pink2: #f5a4c7;
$pink3: #f173ac;
$border: 0.2rem solid $pink3;

$franklin: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$abel: "Abel", sans-serif;
$poppins: "Poppins", sans-serif;

a {
    color: #666;
    text-decoration: none;
}

.header {
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    padding: auto;
    background: #fff;
    text-align: center;
    font-size: 1.5rem;

    div {
        margin-top: 1rem;
        margin-bottom: 1rem;
        position: relative;
        display: inline-block;
        width: 100rem;
        text-align: left;
        background: $white;

        .navbar-opciones {
            font-size: 1rem;
            // font-weight: 100;
            font-family: "Poppins", sans-serif;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid $pink3;

            .navbar-opciones-ul1 {
                display: flex;
                color: $black;
                align-items: center;

                a {
                    color: $light-color;
                    font-size: 1.3rem;
                    margin-right: 2rem;
                }
            }

            .navbar-opciones-ul2 {
                text-align: center;

                .gestacional {
                    display: inline-block;
                    // margin-top: 1rem;
                    padding: 0.5rem 2rem;
                    background: $pink3;
                    color: #fff;
                    font-size: 1rem;
                    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
                    cursor: pointer;
                }

                a {
                    margin: 0 0 0 0.5rem;
                }
            }
        }

        .header-general {
            margin-top: 2rem;
            display: flex;
            justify-content: space-between;

            .navbar-opciones-phone {
                font-family: "Poppins", sans-serif;
                display: none;

                ul {
                    li {
                        .gestacional {
                            padding-bottom: 0.5rem;
                            border-bottom: 1px solid #f173ac;
                        }
                    }
                }
            }

            .header-left{
                // display: flex;
                // position: relative;
                a{
                    img{
                        width: 14.5rem;
                    }
                }
            }

            .header-right {
                display: none;
            }

            .header-center-right {
                font-family: "Poppins", sans-serif;
                width: 100%;
                justify-content: space-between;
                display: flex;
                margin-top: 1.5rem;
                padding-left: 4.5rem;

                .header-center-right-tittle{
                    display: none;
                }

                .module-2 {
                    padding-bottom: 1rem;
                    border-bottom: 1px solid #f173ac;
                }

                a {
                    &:focus {
                        padding-bottom: 1rem;
                        border-bottom: 1px solid #f173ac;
                    }

                    p {
                        color: $light-color;
                        font-weight: 100;
                    }

                    img{
                        display: none;
                    }
                }
            }
        }
    }
}

$boxshadowG: -3rem 0 80px -70px rgb(51, 46, 46);
$azul: #007cc3;

.home {
    display: inline-flex;
    position: relative;
    width: 100%;
    height: 45rem;
    background: $azul;
    z-index: 1;

    &::before {
        z-index: 0;
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        /* Specify the background image to be used */
        background-image: url(../img/image-simple-2/Fondo.png);
        background-size: cover;
        /* Specify the background image */
        opacity: 0.03;
    }

    .home_box {
        width: 95%;
        max-width: 120rem;
        margin: auto;
        display: flex;
        padding: 3rem;

        .home-nav1 {
            padding: 6rem 3rem 8rem 0;
            text-align: left;
            z-index: 10;

            p {
                color: #fff;
                font-family: $abel;
                text-align: left;
                margin: 0.5rem 0;
            }

            .home-nav1-P_1 {
                font-size: 3.2rem;
            }

            .home-nav1-P_2 {
                font-size: 3.5rem;
            }

            .home-nav1-c1{
                // color: #007cc3;
                font-size: 2.5rem;
            }

            .home-nav1-c2{
                font-size: 1.3rem;
            }

            div {
                margin-top: 2.5rem;
                padding-top: 0.5rem;
                width: 16.5rem;
                height: 3.5rem;
                align-content: center;
                text-align: center;
                background: #f173ac;
                border-radius: 15px;

                a {
                    font-family: $abel;
                    color: #fff;
                    font-size: 1.5rem;
                    font-weight: 600;

                    i {
                        position: relative;
                        top: 2px;
                        font-size: 2rem;
                        margin-right: 1rem;
                    }
                }
            }
        }

        .home-nav2 {
            margin-left: auto;
            z-index: 10;
            display: flex;
            justify-content: right;
            text-align: right;

            img {
                text-align: right;
                justify-content: right;
                box-shadow: $boxshadowG;
            }
        }

        .img-fondo {
            .img-1 {
                width: 12rem;
                position: absolute;
                z-index: 100;
                bottom: 3rem;
                right: 55%;
            }
        }
    }
}

.importante {
    position: relative;
    text-align: center;
    margin: 10.5rem 0 5rem 0;
    z-index: 1;

    h2 {
        font-size: 2.5rem;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        color: #f173ac;
        padding: 3rem;
    }

    .import-nav {
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 1rem;
        // font-family: "Poppins", sans-serif;
        font-family: "Poppins", sans-serif;
        width: 500px;
        display: flex;
        overflow: hidden;
        margin: auto;

        .slider-contenedor {
            display: flex;
            width: 500px;

            .characteres_all {
                // align-items:flex-start;
                position: relative;
                vertical-align: top;
                display: inline-block;
                width: 500px;
                // height: 22rem;
                justify-content: space-around;
                flex-shrink: 0;

                p {
                    color: $light-color;
                    font-size: 1.5rem;
                    text-align: center;
                    margin: 1.5rem 9%;
                }

                img{
                    height: 10rem;
                    // width: 10rem;
                }
            }
        }
    }

    .points {
        margin-top: 1rem;
        display: flex;
        justify-content: center;

        .pt {
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50px;
            background-color: rgba(7, 17, 27, 0.2);
            margin-right: 8px;
            line-height: 12px;
            // box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) inset;
            cursor: pointer;

            &.active {
                // box-shadow: 0 0 0 2px rgba(7, 17, 27, 0.4) inset;
                width: 70px;
                transition: all 0.2s linear;
                // background: #007cc3;
            }
        }
    }

    .ofrecemos-box1 {
        position: relative;
        margin: auto;
        background: #f5a4c7;
        width: 92%;
        max-width: 140rem;
        // height: 38rem;
        height: auto;
        box-shadow: -3rem 0 80px -40px #777;
        bottom: -10rem;
        z-index: 10;

        &::before {
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            /* Specify the background image to be used */
            background-image: url(../img/image-simple-2/Fondo.png);
            background-size: cover;
            /* Specify the background image */
            opacity: 0.07;
        }

        .ofrecemos-box1_div1 {
            display: flex;
            padding: 0;
            width: 95%;
            // justify-content: space-between;

            .video{
                position: relative;
                // background-color: #999;
                min-width: 78rem;
                // max-width: 95rem;
                height: 38rem;

                iframe {
                    // background-color: #007cc3;
                    // border-radius: 15px;
                    position: relative;
                    // width: 56%;
                    // // height: 40rem;
                    // height: auto;
                    // bottom: -3rem;
                    left: -5.5rem;
                    // margin-bottom: auto;
                    // position: relative;
                    width: 78rem;
                    height: 38rem;
                    bottom: -4.5rem;
                }
            }

            .contenedor {
                display: flex;
                position: relative;
                width: 100%;
                // width: 35rem;
                // height: 60%;
                height: 38rem;
                bottom: -4.5rem;
                left: -7.5rem;
                filter: drop-shadow(-1rem 20px 20px rgba(68, 67, 67, 0.253));
                // // background-size: cover;
                // // background-position: center;
                // background-position: 0px 120px;
                // background-attachment: fixed;
                // padding: 0rem 2rem;
                // background: url(../img/images-gest/Antenatal-feto.jpg) no-repeat;
                padding-left: 0;

                img{
                    height: 100%;
                    width: 100%;

                    // width: 35rem;
                    // height: 35rem;
                    // width: auto;
                    // text-align: left;
                    object-fit: cover;
                }
            }

            ul {
                // width: 38%;
                font-size: 1.5rem;
                padding-left: 2rem;
                // padding-right: 5rem;
                text-align: left;
                /* list-style-type: none; */
                color: #fff;
                padding-top: 4.3rem;
                padding-bottom: 4.3rem;

                h2 {
                    font-family: "Abel", sans-serif;
                    font-size: 2.5rem;
                    // padding-top: 1.5rem;
                    color: #fff;
                    padding-bottom: 0.8rem;
                }

                li {
                    p {
                        font-family: "Poppins", sans-serif;
                        // font-size: 1.5rem;
                        margin-top: 0.7rem;
                        color: #fff;
                        padding-top: 0rem;
                        font-weight: 100;
                    }
                }
            }
        }

        .point2 {
            width: 10rem;
            position: absolute;
            z-index: 100;
            top: -2rem;
            right: -2rem;
        }
    }
}

.vacio {
    // height: 35rem;
    padding-top: 2rem;
    background: #eee;
    opacity: 1;
    z-index: 0;
    // padding: 0 15%;
    font-family: "Poppins", sans-serif;

    .vacio-h2 {
        display: flex;
        justify-content: center;
        color: $pink3;
        font-size: 2.5rem;
        position: relative;
        top: 12rem;
    }

    .vacio-div1 {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        max-width: 110rem;
        color: $light-color;
        position: relative;
        top: 12rem;

        div {
            margin: auto;
            width: 35rem;
            background-color: #fff;
            align-items: center;

            p {
                padding: 1rem;
                font-size: 1.3rem;
            }
        }

        .vacio-boxes_1 {
            height: 25rem;
            display: inline;
            // border-bottom: 1px solid #666;
            margin-top: 2rem;
            padding: 4rem 0rem;
            box-shadow: -3rem 2rem 10px -10px rgb(204, 203, 203);

            .vacio-boxes_1-div1 {
                display: flex;
                padding: 0 3rem 0 4rem;

                img {
                    height: 5rem;
                }

                div {
                    display: inline;
                    // padding: 1rem;
                }

                h3 {
                    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
                    color: $azul;
                    font-size: 1.7rem;
                    padding-left: 2rem;
                }
            }

            p {
                padding: 2rem 4rem;
            }

            &.div1 {
                z-index: 3;

                &.medium {
                    padding: 6.5rem 0rem;
                }
            }

            &.div2 {
                z-index: 2;

                &.medium {
                    padding: 6.5rem 0rem;
                }
            }

            &.div3 {
                z-index: 1;

                &.medium {
                    padding: 6.5rem 0rem;
                }

                .point4 {
                    width: 10rem;
                    position: absolute;
                    z-index: 100;
                    top: -1rem;
                    right: -4rem;
                }
            }

            .point3 {
                width: 10rem;
                position: absolute;
                z-index: -100;
                bottom: -3rem;
                left: -4rem;
            }

            .point4 {
                width: 10rem;
                position: absolute;
                z-index: 100;
                bottom: -3rem;
                right: 28%;
            }
        }

        .vacio-boxes_2 {
            height: 17rem;
            margin-top: 2rem;
            display: flex;
            // border-bottom: 1px solid #666;
            padding: 1rem;
            box-shadow: -3rem 2rem 10px -10px rgb(204, 203, 203);

            img {
                height: 5rem;
            }

            &.div1 {
                z-index: 3;
            }

            &.div2 {
                z-index: 2;
            }

            &.div3 {
                z-index: 1;
            }
        }
    }
}

.ofrecemos {
    height: 10rem;
    text-align: center;
    z-index: 0;
    // background-color: #F5A4C7;
    position: relative;
}

.footer {
    background-color: #fff;
    text-align: center;
    z-index: 0;

    .ofrecemos-footer {
        position: relative;
        display: inline-block;
        margin: 10rem auto 2rem auto;

        .ofrecemos_footer_div1 {
            display: flex;
            justify-content: space-between;
            width: 95rem;
            height: 10rem;

            i {
                color: $pink3;
            }

            div {
                display: flex;

                a {
                    position: relative;
                    top: 10px;
                    text-align: center;

                    i {
                        font-size: 3rem;
                    }
                }

                .footer-ul1, .footer-ul2, .footer-ul3{
                    list-style-type: none;
                    margin-left: 1.5rem;
                    font-family: "Poppins", sans-serif;
                    text-align: left;

                    h2{
                        font-size: 1.6rem;
                        font-family: $abel;
                    }

                    li{
                        p{
                            font-size: 1.3rem
                        }
                    }
                }

                .footer-ul1{
                    padding-left: .5rem;
                }

                .footer-ul2 {
                    padding-left: .2rem;
                    li {
                        // padding-top: .8rem;
                        color: #007cc3;
                    }
                }

                .footer-ul3 {
                    li {
                        font-size: 1.3rem;
                        color: #007cc3;
                        font-weight: 100;
                    }

                    ul {
                        padding: 0.2rem;

                        a {
                            margin: 1rem 0;

                            i {
                                margin-right: 1rem;
                                color: $light-color;
                                font-size: 2rem;

                                &:hover{
                                    color: $azul;
                                }
                            }
                        }
                    }
                }
            }

            .div1{
                padding-left: .2rem;
            }
        }

        .ofrecemos_footer_div2 {
            border-top: 1px solid #bfbfbf;

            p {
                font-family: "Poppins", sans-serif;
                margin-top: 1.5rem;
                color: #000;
                font-size: 1rem;
            }
        }
    }
}

// *MEDIA QUERIES

@media screen and (max-width: 1300px) {
    .importante{
        .ofrecemos-box1{
            .ofrecemos-box1_div1{
                width: 100%;

                .video{
                    background-color: #000;
                    width: auto;
                    // height: auto;
                    // position: inherit;
                    position: relative;
                    top: 0;
                    min-width: 50rem;
                    
                    iframe{
                        width: 50rem;
                        bottom: 0;
                        left: 0;
                        position: inherit;
                    }
                }

                ul{
                    position: relative;
                    padding: 3rem 1rem 3rem 3rem;
                }
            }
        }
    }
}

// Todo: en esta media se eleminan todos los puntitos svg
@media (max-width: 1100px) {
    .home {
        height: auto;

        .home_box {
            width: 100%;

            .home-nav1 {
                display: inline-block;
                padding: 5rem 3rem 3rem 0;
                align-items: center;
                vertical-align: middle;
            }

            .home-nav2 {
                width: 50%;
                align-items: center;

                img {
                    width: 100%;
                }
            }

            .img-fondo {
                display: none;
            }
        }
    }

    .importante {
        margin-top: 5rem;

        .import-nav {
            div {
                margin-top: 1rem;

                p {
                    margin: 1.5rem 9%;
                }
            }
        }
    }

    .ofrecemos-1{
        .ofrecemos-box1{
            .point2{
                display: none;
            }
        }
    }

    .ofrecemos{
        height: 6rem;
    }

    .vacio{
        .point3, .point4{
            display: none;
        }

    }

    .footer {
        .ofrecemos-footer {
            width: 80vw;

            .ofrecemos_footer_div1 {
                display: inline;

                div {
                    margin: 3rem;
                }
            }
        }
    }
}

@media (max-width: 1067px) {
    .importante {
        .ofrecemos-box1 {
            .ofrecemos-box1_div1 {
                ul {

                    li {
                        p {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}

// Todo: en esta media se eleminan todos los puntitos
@media (max-width: 1050px) {
    .header {
        div {
            padding: 0 1rem;
            width: 100%;
        }
    }

    .home {
        height: auto;

        .home_box {
            width: 100%;

            .home-nav1 {
                display: inline-block;
                padding: 5rem 3rem 3rem 0;
                align-items: center;
                vertical-align: middle;
            }

            .home-nav2 {
                width: 50%;
                align-items: center;

                img {
                    width: 100%;
                }
            }

            .img-fondo {
                display: none;
            }
        }
    }

    .importante {
        .point2 {
            display: none;
        }
    }

    .vacio {
        .vacio-div1 {
            .vacio-boxes_1 {
                .point3 {
                    display: none;
                }

                .point4 {
                    display: none;
                }
            }
        }
    }

    .footer {
        .ofrecemos-footer {
            width: 80vw;

            .ofrecemos_footer_div1 {
                display: inline;

                div {
                    margin: 3rem;
                }
            }
        }
    }
}

@media (max-width: 950px) {
    .header {
        padding: 0rem;

        div {
            margin: 0;
            height: auto;
            width: 100%;

            .navbar-opciones {
                display: none;
            }

            .header-general {
                margin: 1rem 10%;
                justify-content: space-between;

                .header-left {
                    display: flex;
                    position: relative;
                    a {
                        img {
                            width: 14.5rem;
                        }
                    }
                }

                .navbar-opciones-phone {
                    display: flex;

                    ul {
                        margin: auto;
                        list-style-type: none;
                        display: flex;

                        li {
                            .gestacional {
                                // margin-top: 1rem;
                                padding: 0.5rem 2rem;
                                background: $pink3;
                                color: #fff;
                                // font-size: 1rem;
                                // box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
                                cursor: pointer;

                                &:hover {
                                    letter-spacing: 0.1rem;
                                }
                            }

                            a {
                                font-size: 1.5rem;
                                margin: 0 2rem;
                                opacity: 0.8;

                                &:focus {
                                    padding-bottom: 0.5rem;
                                    border-bottom: 2px solid #f173ac;
                                }
                            }
                        }
                    }
                }

                .header-center-right {
                    display: inline-block;
                    text-align: left;
                    width: 60%;
                    height: 90vh;
                    position: absolute;
                    top: 77%;
                    right: 0;
                    background: #fff;
                    border-top: $border;
                    border-bottom: $border;
                    padding: 0 2rem;
                    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

                    &.active {
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                    }

                    a {
                        display: flex;
                        font-size: 1.2rem;
                        margin: 3rem 1rem;
                        justify-content: space-between;

                        p{
                            padding-right: 1rem;
                        }

                        img{
                            display: flex;
                            transform: rotate(90deg);
                            width: 1.8rem;
                        }
                    }

                    .header-center-right-tittle{
                        font-family: $abel;
                        display: block;
                        // text-align: center;
                        padding-top: 2rem;
                        color: #007cc3;
                    }
                }

                .header-right {
                    display: flex;
                    width: auto;

                    div {
                        height: 4.5rem;
                        width: 4.5rem;
                        line-height: 4.5rem;
                        border-radius: 0.5rem;
                        background: #eee;
                        font-size: 1.7rem;
                        color: #000;
                        margin-left: 0.3rem;
                        text-align: center;
                        cursor: pointer;

                        &:hover {
                            color: #000;
                        }
                    }
                }
            }
        }
    }

    .importante {
        .import-nav {
            div {
                margin-top: 1rem;

                p {
                    margin: 1.5rem 9%;
                }
            }
        }

        .ofrecemos-box1 {
            width: auto;
            height: auto;
            // width: 100%;

            .ofrecemos-box1_div1 {
                // flex-direction: column;
                display: inline;

                

                .video{
                    background-color: rgba(255, 255, 255, 0);
                    margin: auto;
                    max-height: 30rem;
                    width: 90%;

                    iframe {
                        // display: flex;
                        // position: relative;
                        // display: inline;
                        width: 100%;
                        max-width: 85rem;
                        top: -6rem;
                    }
                }

                .contenedor{
                    bottom: 3.5rem;
                    display: flex;
                    left: 0;
                    right: 0;
                    margin: auto;
                    height: auto;
                    width: 90%;
                    img{
                        // position: relative;
                        // top: -5rem;
                        width: 100%;
                    }
                }

                ul {
                    padding: 2rem 5rem 0 5rem;
                    position: relative;
                    top: -4rem;

                    li {
                        p {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }

    .vacio{
        padding-top: 0rem;

        .vacio-h2{
            top: 10rem;
        }
    }
}

@media (max-width: 800px) {
    .home {
        .home_box {
            .home-nav1 {
                .home-nav1-P_1 {
                    font-size: 2.6rem;
                }

                .home-nav1-P_2 {
                    font-size: 2.8rem;
                }
            }
        }
    }

    .importante {
        .ofrecemos-box1 {
            border-radius: 0px;
            width: auto;
            height: auto;
            // padding-right: 1rem;

            div {
                display: inline;

                iframe {
                    display: inline-flex;
                    left: -0.7rem;
                    bottom: 3.5rem;
                    width: 90%;
                    // height: 100%;
                    // margin: auto;
                }

                ul {
                    padding-right: 2rem;
                    position: relative;
                    // padding: 0 3rem; no se para que pongo este tipo de padding
                    // padding-top: 0;
                    top: -4.5rem;

                    h2 {
                        padding-bottom: 1rem;
                    }

                    li {
                        p {
                            font-size: 1.7rem;
                        }
                    }
                }
            }
            .img-fondo {
                display: none;
            }
        }
    }
}

@media (max-width: 700px) {
    .header {
        div {
            .header-general {
                margin: 1rem;

                .header-left {
                    a {
                        img {
                            position: relative;
                            top: 0.5rem;
                            width: 10rem;
                        }
                    }
                }

                .navbar-opciones-phone {
                    ul {
                        li {
                            a {
                                margin: 0 1rem;
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        .ofrecemos-footer {
            .ofrecemos_footer_div1 {
                width: 80rem;
            }
        }
    }
}

@media screen and (max-width:675px) {
    html{
        font-size: 55%;
    }
}

@media (max-width: 600px) {
    .header {
        div {
            .header-general {
                margin: 1rem;

                .header-left {
                    a {
                        img {
                            position: relative;
                            top: 0.5rem;
                            width: 10rem;
                        }
                    }
                }

                .navbar-opciones-phone {
                    ul {
                        li {
                            a {
                                font-size: 1rem;
                                margin: 0 1rem;
                                opacity: 0.8;

                                &:focus {
                                    padding-bottom: 0.5rem;
                                    border-bottom: 2px solid #f173ac;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .home {
        .home_box {
            display: flex;
            flex-wrap: wrap-reverse;
            padding-top: 0;

            .home-nav1 {
                padding: 1rem 0;
                margin: 0 auto;

                .home-nav1-P_1 {
                    text-align: center;
                }

                .home-nav1-P_2 {
                    text-align: center;
                }

                .home-nav1-c1, .home-nav1-c2{
                    text-align: center;
                }

                div {
                    margin: 1rem auto;
                }
            }

            .home-nav2 {
                display: flex;
                width: auto;

                img {
                    margin: auto;
                    width: 80%;
                }
            }
        }
    }

    .importante {
        .ofrecemos-box1 {
            height: auto;

            div {
                display: inline;

                iframe {
                    height: 30rem;
                    display: inline;
                }

                ul {
                    padding: 1.5rem 3rem 0 4rem;
                    position: relative;
                    font-size: 1rem;
                    top: -4.5rem;
                    
                    h2{
                        padding-right: 0;
                    }

                    li {
                        p {
                            font-size: 1.4rem;
                            margin-top: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .importante {
        h2 {
            font-size: 2rem;
        }

        .import-nav {
            width: 100%;

            .slider-contenedor {
                width: 100%;

                .characteres_all {
                    width: 100%;
                }
            }
        }

        .ofrecemos-box1 {
            height: auto;

            .ofrecemos-box1_div1 {
                .video{
                    display: flex;
                    // height: auto;
                    height: 22rem;
                    // background-color: #007cc3;
                    min-width: 20rem;

                    iframe{
                        top: -10rem;
                    }
                }
            }

            div {
                img {
                    height: 12rem;
                }

                ul {
                    font-size: 0.8rem;

                    h1 {
                        font-size: 2rem;
                    }

                    li {
                        p {
                            font-size: 1.3rem;
                        }
                    }
                }
            }

            .img-fondo {
                display: none;
            }
        }
    }
}

@media (max-width: 360px) {
    .header {
        div {
            .header-general {
                .header-left {
                    a {
                        img {
                            top: 1rem;
                            width: 7rem;
                        }
                    }
                }

                .navbar-opciones-phone {
                    ul {
                        li {
                            .gestacional {
                                padding: 0.5rem 1rem;
                            }

                            a {
                                margin: 0 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 330px) {
    .importante {
        .ofrecemos-box1 {
            .ofrecemos-box1_div1 {
                iframe {
                    height: 15rem;
                }
            }
        }
    }

    .vacio {
        .vacio-div1 {
            div {
                // height: auto;
                width: 100%;

                p {
                    padding: 0.5rem;
                }
            }

            .vacio-boxes_1 {
                .vacio-boxes_1-div1 {
                    padding: 0 2rem;
                }

                p {
                    font-size: 1.4rem;
                    padding: 2rem;
                }
            }
        }
    }
}

@media (max-width: 284px) {
    .vacio {
        .vacio-div1 {
            .vacio-boxes_1 {
                height: 26rem;
                padding: 3rem 0;
            }
        }
    }
}
