@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

$white: #fff;
$black: #000;
$black2: #666;
$green1: #a6ce39;
$green2: #62bb46;
$green3: #009f46;
$pink1: #f4c6de;
$pink2: #f5a4c7;
$pink3: #f173ac;
$border: 0.2rem solid $black;
$boxshadowG: -3rem 0 80px -70px rgb(51, 46, 46);
$azul: #007cc3;

// $abel:"Abel", sans-serif;
// $franklin: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

$franklin: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$abel:"Abel", sans-serif;
$poppins: "Poppins", sans-serif;

.body{
    display: flex;
    justify-content: center;
}

.left{
    display: flex;
    background-color: $pink3;
    width: 58vh;
    height: 100vh;
    position: relative;

    .img{
        z-index: 1;
        position: relative;
        margin: auto;
        // border-radius: 50%;
        // width: 58vh;
        height: 65vh;
        right: -4vh;
    }

    &::before {
        z-index: 0;
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        /* Specify the background image to be used */
        background-image: url(../images/ginecologia/election-egi_emi/background-gine-1.svg);
        background-size: cover;
        /* Specify the background image */
        opacity: 0.9;
    }

    .content{
        display: none;
    }

    .content_2 {
        position: absolute;
        bottom: 0;
        font-family: $poppins;
        font-weight: bold;
        font-size: 1rem;
        color: $white;
        padding-left: 2.6rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }

    .points-1{
        position: absolute;
        left: 2vw;
        top: 1vh;
        width: 18vh;
    }

    .points-2{
        position: absolute;
        z-index: 0;
        left: 4vw;
        bottom: 15vh;
        width: 18vh;
    }

    .points-3{
        position: absolute;
        z-index: 0;
        top: 18vh;
        right: -6vh;
        width: 18vh;
    }
}

.right{
    // background-color: #a6ce39;
    width: 70rem;
    height: 100vh;
    padding: 4vh 5vw 0 5vw;
    position: relative;

    .header{
        width: 95%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .imm-logo{
            width: 20vh;
        }

        .navbar{
            display: none;
            margin-top: auto;
            font-size: 2.5vh;
            color: #000;

            a{
                color: #000;
            }

            span{
                font-family: $poppins;
                margin-right: 1rem;
            }
        }
    }

    .titles{
        // background-color: #009f46;
        text-align: left;
        padding: 7vh 1.5vw 5vh 1.5vw;
        width: 95%;
        color: $azul;
        font-size: 6.5vh;
        font-family: $abel;
        font-weight: 100;

        .title{
            font-weight: 100;
        }

        .subtitle{
            // background-color: #009f46;
            color: #000;
            margin: auto;
            max-width: 61rem;
            padding-top: 1rem;
            font-family: $poppins;
            font-size: 2.2vh;
        }
    }

    .egi-emi{
        font-family: $abel;
        display: flex;
        max-width: 80rem;
        width: 95%;
        margin: auto;
        column-gap: 2rem;
        justify-content: center;
        // padding-left: 1.8vw;
        // background-color: #007cc3;

        .box{
            border: 1px solid $pink3;
            // border-radius: 15px;
            max-width: 28rem;
            width: 100%;
            // position: relative;
            padding: 3vh;
            text-align: center;
            // background-color: #62bb46;

            .article{
                text-align: center;
                // position: relative;
                // background-color: #007cc3;
                height: 100%;

                .article-title{
                    font-size: 9.2vh;
                    color: $pink3;
                }

                .article-subtitle{
                    font-weight: 100;
                    font-size: 1.6rem;
                    color: #888;
                }

                .content{
                    font-size: 4vh;
                }

                .description{
                    // background-color: #888;
                    font-family: $poppins;
                    font-size: 2.3vh;
                    padding-top: 1vh;
                    padding: 1vh 1vw 0 1vw;
                    padding-bottom: 0vh;
                }
            }

            .btn{
                position: relative;
                
                // left: 30%;
                bottom: -10px;
                background-color: #fff;
                border-radius: 25px;
                border: 1px solid $pink3;
                padding: .5rem 2.3rem;
                color: $pink3;
                font-weight: 600;
                font-size: 2.3vh;
                font-family: $abel;
                // margin: auto;
                // justify-content: center;

                &:hover{
                    color: #fff;
                    background-color: $pink3;
                }  
            }
        }
    }

    .footer{
        font-family: $poppins;
        font-size: 1rem;
        color: $pink3;
        // right: 0;
        // bottom: 0;
        width: 100%;
        max-width: 100%;
        // background-color: #61bb46;

        margin-top: auto;

        padding: .4rem 6vw ;
        bottom: 0px;
        left: 0;
        // top: 0;
        position: absolute;
        display: flex;
        justify-content: space-between;

        .content{
            text-align: left;
        }

        .footer__box_1{
            display: flex;
            align-items: center;
            gap: .4rem;

            .links {
                font-size: 2rem;
                color: $pink3;
            }

            span {
                color: $pink3;

                .links {
                    color: $pink3;
                }

                a {
                    color: $pink3;
                }
            }
        }

        .footer__box_2 {
            margin-left: auto;
            gap: 2rem;
            display: flex;
            .links{
                font-size: 1.6rem;
                color: $pink3;
            }
        }
    }
}

// *======= MEDIA QUERIES ========
@media screen and (min-width:1870px) {
    .left{
        // background-color: #007cc3;
        width: 35rem;
        max-height: 70rem;

        .img{
            height: 40rem;
        }

        .points-1, .points-2, .points-3{
            width: 10rem;
        }
    }

    .right{
        max-height: 70rem;
        // background-color: #62bb46;
        padding: 3rem 6rem;

        .header{
            .imm-logo{
                width: 12rem;
            }

            .navbar{
                // background-color: #f4c6de;
                font-size: 1.5rem;
            }
        }

        .titles{
            padding: 4.5rem 1.6rem 4rem 1.6rem;
            font-size: 3.5rem;

            .subtitle{
                font-size: 1.4rem;
            }
        }

        .egi-emi{
            .box{
                padding: 1.8rem;

                .article{
                    .article-title{
                        font-size: 5rem;
                    }

                    .content{
                        font-size: 2.4rem;
                    }

                    .description{
                        font-size: 1.3rem;
                        padding-top: .8rem;
                        padding: .8rem 2rem 0 2rem;
                    }
                }

                .btn{
                    font-size: 1.5rem;
                }
            }
        }        
    }
}

// *La pagina tiene problemas con estas medidas
// @media screen and (max-width:1400px) and (min-width:801) and (min-height:490px) {}

@media screen and (max-width:1050px) {
    html{
        font-size: 70%;
    }
}

// *Aqui empieza la tranformacion para movil
@media screen and (max-width:800px) {
    .body{
        flex-direction: column-reverse;
    }

    .right{
        width: 100vw;

        // .header {
        //     .navbar {
        //         display: block;
        //     }
        // }

        // .footer{
        //     display: none;
        // }
    }

    .left{
        // display: none;
        width: 100vw;
        height: 100vw;
        // max-width: 100rem;
        right: 0;
        text-align: center;
        
        .content{
            font-family: $poppins;
            position: absolute;
            // font-size: 1rem;
            text-align: center;
            display: flex;
            // background-color: #007cc3;
            width: 100%;
            margin:auto;
            justify-content: center;
            bottom: 0;
        }

        .content_2 {
            width: 100%;
            bottom: 0;
            padding-left: 0;
        }

        .img{
            right: 0;
            height: 65vw;
        }

        .points-3{
            right: 0;
            top: 0;
            transform: rotate(-90deg);
        }
    }
}

@media screen and (max-width:680px) {
    .left{
        .points-1, .points-2, .points-3{
            display: none;
        }
    }
}

@media screen and (max-width:500px) {
    .right{
        padding-bottom: 10rem;
        height: auto;

        .header{

            .navbar{
                margin-top: 2rem;
                font-size: 4vw;
            }
        }

        .titles{
            font-size: 8vw;

            .subtitle{
                font-size: 4vw;
            }
        }

        .egi-emi{
            row-gap: 2rem;
            flex-wrap: wrap;
            padding-left: 0;
        }
    }

    .left{
        // display: none;
        height: 70vw;

        .img{
            top: -3rem;
            height: 50vw;
        }
    }
}

@media screen and (max-width: 420px) {
    .right{
        .header{
            .navbar{
                font-size: 4.5vw;
            }
        }
    }
}