@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    // outline: green solid 3px;
    border: none;
    // transition: all .2s linear;
}

$white: #fff;
$black: #000;
$green1: #a6ce39;
$green2: #62bb46;
$green3: #009f46;
// $black2: #666;
// $black3: #777;
// $black4: #888;
// $black5: #999;

$light-color: #666;
$pink1: #f4c6de;
$pink2: #f5a4c7;
$pink3: #f173ac;
$border: 0.2rem solid $pink3;
$boxshadowG: -3rem 0 80px -70px rgb(51, 46, 46);
$azul: #007cc3;

$franklin: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$abel: "Abel", sans-serif;
$poppins: "Poppins", sans-serif;

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;
}

@keyframes miAnimacion {
    from {height: 0;}
    to {height: 143px;}
}

@keyframes miAnimacion-2 {
    from {height: 0;}
    to {height: 50px;}
}

@keyframes miAnimacion-3 {
    from {height: 50px;}
    to {height: 0px;}
}

@keyframes miAnimacion_menu {
    from {height: 10px;}
    to {height: 20px;}
}

@keyframes div_open {
    0%{height: 0rem;}
    50%{height: 3.5rem;}
    100%{height: 7rem;}
}

@keyframes bar_hover {
    from{width: 0%;}
    to{width: 100%;}
}


html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    // background: rgba(217,217,217, .3);
    background: rgba(191, 191, 191, 0.25);
    // background: rgba(153,153,153, .2);
}

.header {
    // position: sticky;
    z-index: 1000; top: 0; left: 0; right: 0;
    padding: auto;
    background: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;

    div {
        margin-top: 1rem;
        margin-bottom: 1rem;
        position: relative;
        display: inline-block;
        width: 100rem;
        background: #fff;

        .header-general {
            display: flex;
            justify-content: space-between;
            color: $black;

            .header-right {
                display: none;
            }

            .header-center-right {
                width: 100%;
                margin-top: 1.5rem;
                text-align: right;

                a {
                    color: $black;
                    margin-left: 4rem;
                    margin-right: 1rem;

                    &:focus {
                        padding-bottom: 1rem;
                        border-bottom: 1px solid #f173ac;
                    }
                }
            }

            .header-menu {
                display: none;
            }
        }
    }
}

.header_timer{
    width: 100%;
    position: sticky;
    z-index: 10;
    background: $pink3;
    top: 0;
    font-family: $poppins;
    z-index: 10;

    .section_one {
        width: 95%;
        max-width: 90rem;
        margin: auto;
        display: flex;
        gap: 1rem 4rem;
        justify-content: center;
        padding: .8rem 5rem;

        .one_info {
            color: $white;
            display: flex;            

            div{
                margin: auto;
                
                h2{
                    font-size: 2.5rem;
                    line-height: .9;
                }
    
                p{
                    line-height: .9;
                    font-size: 1.5rem;
                }
            }
        }

        .two_timer {
            display: flex;
            gap: 1rem;

            .box_days, .box_hrs, .box_min, .box_seg {
                div{
                    width: 4rem;
                    height: 4rem;
                    background-color: $white;
                    border-radius: 10px;
                    font-size: 2rem;
                    text-align: center;
                    padding: .6rem .3rem;
                }

                p{
                    text-align: center;
                    color: $white;
                    font-weight: bold;
                    font-size: 1.5rem;
                }
            }
        }

        .three_btn {
            display: flex;
            justify-items: center;

            .btn_date{
                margin: auto;
                background-color: $azul;
                color: $white;
                padding: 1rem 2rem;
                font-family: $poppins;
                border-radius: 10px;
                font-weight: bold;
                font-size: 1.6rem;

                &:hover{
                    background-color: #007cc3b2;
                }
            }
        }
    }

    .section_two {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        text-align: center;

        .btn_terms_blackfriday {
            text-align: center;
            margin: auto;
            color: $white;
            text-decoration: underline;
            font-size: 1.3rem;
        }
    }
}


.home {
    // display: inline-flex;
    position: relative;
    width: 100%;
    height: 55rem;
    background: $azul;
    z-index: 1;

    &::before {
        z-index: 0;
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        /* Specify the background image to be used */
        background-image: url(../img/image-simple-2/Fondo.png);
        background-size: cover;
        /* Specify the background image */
        opacity: 0.03;
    }

    .home__imgLogo{
        // background-color: #f173ac;
        max-width: 115rem;
        width: 90%;
        margin: auto;
        padding-top: 3rem;
        .img_logo{
            height: 5rem;
        }
    }

    .home__box {
        width: 95%;
        max-width: 120rem;
        margin: auto;
        display: flex;
        padding: 3rem;

        .home__box__nav1 {
            padding: 8rem 3rem 8rem 0;
            text-align: left;
            z-index: 10;

            p {
                color: #fff;
                font-family: $abel;
                text-align: left;
                margin: 0.5rem 0;
            }

            .home__box__nav1-P_1 {
                font-size: 3.2rem;
            }

            .home__box__nav1-P_2 {
                font-size: 3.5rem;
            }

            div {
                margin-top: 2.5rem;
                padding-top: 0.5rem;
                width: 16.5rem;
                height: 3.5rem;
                align-content: center;
                text-align: center;
                background: #f173ac;
                border-radius: 5px;
                align-items: center;

                a {
                    font-family: $poppins;
                    color: #fff;
                    font-size: 1.5rem;
                    font-weight: 100;

                    i {
                        position: relative;
                        // top: 1px;
                        font-size: 1.5rem;
                        margin-right: 1rem;
                        padding-right: 1rem;
                        border-right: 1px solid #fff;
                    }
                }

                &:hover{
                    transition: .2s linear;
                    // background-color: #007cc3;
                    transform: scale(1.1);
                }
            }

            .nav1-box_link {
                margin-top: 2rem;

                .link {
                    font-family: $poppins;
                    font-size: 20px;
                    color: $white;
                    text-decoration: underline;
                    transition: 1.2s;

                    &:hover {
                        color: $pink1;
                    }
                }
            }
        }

        .home__box__nav2 {
            margin-left: auto;
            z-index: 10;
            display: flex;
            justify-content: right;
            text-align: right;

            img {
                text-align: right;
                justify-content: right;
                box-shadow: $boxshadowG;
            }
        }

        .img__fondo {
            .img-1 {
                width: 12rem;
                position: absolute;
                z-index: 100;
                bottom: 3rem;
                right: 55%;
            }
        }
    }
}

.study {
    padding: 10rem 0 2rem 0;
    background-color: #fff;
    display: inline-block;
    width: 100%;

    .tittle {
        padding: 0 2rem  4rem 2rem;
        color: $pink3;
        text-align: center;
        font-family: $abel;
        font-size: 2.8rem;
    }

    .info2 {
        display: flex;
        width: 95%;
        max-width: 90rem;
        margin: auto;
        justify-content: space-between;
        flex-wrap: wrap;

        div {
            margin: 1rem auto;
            width: 33rem;
            height: 26rem;
            text-align: center;

            img {
                margin-bottom: 1rem;
                width: 12rem;
                height: 8rem;
            }

            h2 {
                font-size: 2rem;
                text-align: center;
                color: $azul;
                padding: 0.5rem 6rem;
                font-family: $abel;
            }

            p {
                padding: 0.5rem 2rem;
                font-family: "Poppins", sans-serif;
                text-align: center;
                font-size: 1.4rem;
                color: $black;
            }
        }
    }
}

.characteres {
    align-items: center;
    padding: 3rem 0 1rem 0;
    margin: 10rem 0 2rem 0;
    z-index: -1;

    &.emi{
        margin: 2rem 0;
    }

    .characteres__left {
        text-align: center;
        flex: 1 1 20rem;
        margin-bottom: 4rem;
        position: relative;

        h2 {
            padding: 0 1.5rem;
            font-size: 3rem;
            font-family: $abel;
            color: $pink3;
        }
    }

    .characteres__center_rigth {
        display: flex;
        max-width: 117rem;
        margin: auto;
        justify-content: center;
        position: relative;

        .arrow-left, .arrow-right {
                display: flex;
                color: $pink2;
                cursor: pointer;
                position: absolute;
                top: 50%;
                left: 10px;
                z-index: 2;

                i {
                    font-size: 4rem;
                }
        }

        .arrow-right {
            left: initial;
            right: 10px !important;
        }

        .slider-contenedor {
            width: 90%;
            max-width: 105rem;
            display: flex;
            overflow: hidden;

            .slider-contenedor2 {
                display: flex;
                width: 100%;
                margin-left: -210px;
                height: 330px;
                gap: 10px;

                .characteres_all {
                    position: relative;
                    display: inline-block;
                    text-align: center;
                    width: 200px;
                    height: 290px;
                    justify-content: space-around;
                    flex-shrink: 0;
                    padding: 2rem 0rem;
                    background: $white;
                    top: 15px;
                    transition: all 0.5s ease-out;

                    img {
                        text-align: center;
                        width: 20rem;
                        margin: 0;
                    }

                    &.active {
                        padding-top: 2.5rem;
                        transition: all 0.5s ease-out;
                        height: 320px;
                        box-shadow: 0rem 1rem 80px -50px rgb(51, 46, 46);
                        top: 0px;
                    }
                    
                }
            }

            .point2 {
                width: 10rem;
                position: absolute;
                z-index: -1;
                bottom: 0rem;
                right: 0rem;
            }
        }

        .slider-contenedor-2{
            display: flex;
            width: 100%;
            height: auto;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;

            .characteres_img{
                display: flex;
                width: 28rem;
                height: 28rem;
                vertical-align: top;
                background-color: #fff;
                box-shadow: -1.5rem -1.5rem 20px -5px rgba(51, 46, 46, 0.158);

                .img{
                    height: 28rem;
                    width: 28rem;
                }

                &.second{
                    display: none;
                }
            }

            .characteres_content{
                background-color: #fff;
                text-align: center;
                width: 28rem;
                height: 28rem;
                align-items: center;
                justify-items: center;
                justify-content: center;
                display: flex;
                box-shadow: -1.5rem -1.5rem 20px -5px rgba(51, 46, 46, 0.158);

                .content{
                    padding: 1rem ;
                    max-width: 22rem; //*22rem sin problemas
                    width: 100%;

                    .img{
                        height: 5.5rem;
                    }

                    .title{
                        color: $azul;
                        font-size: 2rem;
                        font-family: $abel;
                        margin: 1rem 0;
                    }

                    .paragraph{
                        font-family: $poppins;
                        font-size: 1.4rem;
                    }

                    &.b{
                        max-width: 26rem;
                    }
                }
            }

            .point2 {
                width: 10rem;
                position: absolute;
                z-index: -1;
                bottom: 0rem;
                right: 0rem;
            }
        }
    }
}

.time-price {
    display: flex;
    width: 95%;
    max-width: 110rem;
    margin: 3rem auto;
    // padding: 3rem 9%;
    flex-wrap: wrap;

    .time-price__box1, .time-price__box2{
        height: 20rem;
        flex: 1 1 30rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        .time-price__box2__img {
            width: 10rem;
            height: 7rem;
        }

        div{
            padding-right: 1rem;

            h3{
                font-family: $abel;
            }

            p{
                font-family: "Poppins", sans-serif;
                font-size: 1.5rem;
            }
        }
    }

    .time-price__box1 {
        background-color: $white;
        position: relative;

        .point3 {
            width: 10rem;
            position: absolute;
            z-index: 100;
            top: -2rem;
            left: -2rem;
        }

        div {
            h3 {
                font-size: 2rem;
                color: $pink3;
            }

            p {
                color: $black;
            }
        }
    }

    .time-price__box2 {
        text-align: center;
        background-color: $azul;
        background-image: url(../img/image-simple-2/Fondo2.png);
        background-size: cover;

        div {
            color: $white;

            h3 {
                font-size: 2.5rem;
                
            }

            .div__trash {
                // color: #007cc3;
                text-decoration: line-through;
                font-size: 2rem;
            }

            .btn_date{
                margin: auto;
                background-color: $pink3;
                color: $white;
                padding: .6rem 1rem;
                font-family: $poppins;
                border-radius: 10px;
                font-weight: bold;
                font-size: 1.2rem;
                position: relative;
                top: 1rem;

                &:hover {
                    background-color: $pink2;
                    transition: all .3s;
                }
            }
            
        }
    }
}

.info-date {
    margin: auto;
    width: 95%;
    max-width: 110rem;
    background-color: $white;
    text-align: center;
    padding: 2rem 8rem;
    box-shadow: -3rem 4rem 80px -70px rgb(51, 46, 46);
    z-index: 1;
    position: relative;
    top: 1rem;

    h2 {
        font-family: $abel;
        color: $pink3;
        font-size: 2.5rem;
        margin-bottom: 2rem;
        padding: .5rem 2rem;
    }

    .section__subtitle {
        padding: 0 1rem;
        // margin-bottom: 5rem;
        font-family: "Poppins", sans-serif;
        font-size: 1.4rem;
        color: $black;
        background-color: #fff;
        z-index: 1;
        position: relative;
    }

    .section_election {
        max-width: 40rem;
        width: 90%;
        display: flex;
        margin: 2rem auto;
        justify-content: space-between;

        .day1, .day2 {
            cursor: pointer;

            strong {
                color: $azul;
                font-size: 1.4rem;
                font-family: "Poppins", sans-serif;
                // padding-bottom: 0.5rem;
            }

            div{
                margin: 0 auto;
                border-radius: 5px;
                width: 100%;
                height: .2rem;
            }

            &:hover{
                div{
                    background-color: $azul;
                    animation: bar_hover .2s linear;
                }
            }

            &.active {
                // padding-bottom: 0.5rem;
                // border-bottom: 2px solid $azul;

                div{
                    background-color: $azul;
                }

                &:hover{

                    div{
                        animation: none;
                    }
                }
            }
        }
    }

    .info-date-container {
        display: none;

        &.active {
            display: inline;
            font-size: 1.4rem;

            .info-contenido {
                // display: inline-block;
                margin: 1rem 4rem;
                // height: 20rem;
                font-family: "Poppins", sans-serif;
                border-bottom: 1px solid $pink3;
                color: $black;
                position: relative;
                // background-color: #f5a4c7;

                .contenido-header {
                    margin: 1rem;
                    display: flex;
                    justify-content: space-between;
                    cursor: pointer;
                    z-index: 1;
                    background: #fff;
                    position: relative;

                    img{
                        display: flex;
                        width: 1.6rem;
                    }

                    &.open {
                        img{
                            transition: .2s all linear;

                        }
                        i {
                            transform: rotate(180deg);
                            color: $pink3;
                        }
                    }

                    &.close {
                        img{
                            transition: .2s all linear;
                            transform: rotate(180deg);
                        }

                        i {
                            color: $pink3;
                            transform: rotate(0deg);
                        }
                    }
                }

                .contenido-body {
                    display: flex;
                    justify-content: space-around;
                    transition: all 0.5s linear;
                    z-index: 0;

                    .div1 {
                        text-align: center;
                        width: 29rem;
                        min-width: 9rem;
                        // animation: miAnimacion .2s linear ;

                        .div-image {
                            display: flex;
                            width: 7rem;
                            height: 7rem;
                            text-align: center;
                            justify-content: center;
                            margin: 0 auto 1.5rem auto;
                        }

                        p {
                            text-align: center;
                            padding: 0 1rem;
                        }
                    }

                    &.open {
                        // transition: all .5s ease-out;
                        // animation: miAnimacion .2s linear;
                        height: auto;
                        margin: 3rem 0;

                        .div1{
                            .div-image{
                                animation: div_open .2s linear;
                            }
                        }
                    }

                    &.close {
                        height: 0rem;

                        .div1{
                            .div-image{
                                width: 0;
                                height: 0;
                            }

                            p{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .point4, .point5, .point6, .point7{
        width: 10rem;
        position: absolute;
        z-index: 100;;
    }

    .point4 {
        top: 2rem;
        right: -3rem;
    }

    .point5 {
        top: 40%;
        left: -3rem;
    }

    .point6 {
        bottom: -3rem;
        right: -3rem;
    }

    .point7 {
        bottom: -3rem;
        left: -3rem;
    }
}

// *Esta parte TIPS es la más simple de todas, incluso en los mediaqueries
.tips{
    background-color: #fff;
    padding-top: 10rem;

    .tips__box{
        width: 100%;
        background: $azul;

        .box{
            max-width:110rem;
            width: 95%;
            margin: auto;
            display: flex;
            justify-content: space-between;

            .box__content{
                .content{
                    color: #fff;
                    width: 100%;
                    max-width: 50rem;
                    padding: 5rem 2rem 4rem 4rem;
    
                    .title-1{
                        padding-top: 1rem;
                        font-family: $abel;
                        font-weight: 600;
                        font-size: 2.2rem;
                    }
        
                    .title-2{
                        font-family: $abel;
                        font-size: 2.2rem;
                    }
    
                    .paragraph{
                        padding: 2rem 0 1rem 0;
                        font-size: 1.4rem;
                        font-family: $poppins;
                    }
                }
            }
    
            .box__img{
                display: flex;
                align-self: center;
                min-width: 50rem;
                height: 30rem;
                text-align: right;
                justify-content: right;

            }
        }
    }
}

.considerations{
    background-color: #fff;
    width: 100%;
    padding: 9rem 2rem 2rem 2rem;
    text-align: center;

    .title{
        font-family: $abel;
        color: $pink3;
        margin-bottom: 1rem;
        font-size: 2.5rem;
    }

    .paragraph{
        margin: auto;
        max-width: 63rem;
        font-family: $poppins;
        color: #000;
        font-size: 1.4rem;
    }
}

.footer {
    background-color: #fff;
    text-align: center;
    z-index: 0;

    .ofrecemos-footer {
        position: relative;
        display: inline-block;
        margin: 10rem auto 2rem auto;

        .ofrecemos_footer__div1 {
            display: flex;
            justify-content: space-between;
            width: 95rem;
            height: 10rem;

            i {
                color: $pink3;
            }

            div {
                display: flex;
                max-width: 30rem;
                width: 100%;
                justify-content: center;

                a {
                    position: relative;
                    top: 10px;
                    text-align: center;

                    i {
                        font-size: 3rem;
                    }
                }

                .footer-ul1, .footer-ul2, .footer-ul3{
                    list-style-type: none;
                    margin-left: 1.5rem;
                    font-family: "Poppins", sans-serif;
                    text-align: left;

                    h2{
                        font-size: 1.6rem;
                        font-family: $abel;
                    }

                    li{
                        a {
                            top: 0;
                            color: $azul;
                        }

                        p{
                            font-size: 1.3rem
                        }
                    }
                }

                .footer-ul1{
                    li{
                        padding-top: 1rem;
                    }
                }

                .footer-ul2 {
                    li {
                        padding-top: .8rem;
                        color: #007cc3;
                    }
                }

                .footer-ul3 {
                    li {
                        font-size: 1.3rem;
                        color: #007cc3;
                        font-weight: 100;
                    }

                    ul {
                        padding: 0.3rem;

                        a {
                            padding-top: .5rem;
                            position: inherit;

                            i {
                                margin-right: 1rem;
                                color: $light-color;
                                font-size: 2rem;

                                &:hover{
                                    color: $azul;
                                }
                            }

                            
                            .fab{
                                &.fa-instagram{
                                    position: relative;
                                    top: .19rem;
                                    // margin-top: 1rem;
                                    font-size: 2.3rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        .ofrecemos_footer__div2 {
            border-top: 1px solid #bfbfbf;

            p {
                font-family: "Poppins", sans-serif;
                margin-top: 1.5rem;
                color: $black;
                font-size: 1rem;
            }
        }
    }
}

//* ================= Media quieries =============
//? Hay muchas mediaqueries, pero tengo que tratar de reducir algunos

@media (max-width: 1050px) {
    .header {
        div {
            padding: 0 1rem;
            width: 100%;
        }
    }

    .home {
        height: auto;

        .home__box {
            width: 100%;

            .home__box__nav1 {
                display: inline-block;
                padding: 5rem 3rem 3rem 0;
                align-items: center;
                vertical-align: middle;
            }

            .home__box__nav2 {
                width: 50%;
                align-items: center;

                img {
                    width: 100%;
                }
            }

            .img__fondo {
                display: none;
            }
        }
    }

    .study {
        padding: 5rem 0 1rem 0;
    }

    .characteres {
        margin: auto;

        &.emi{
            margin: auto;
        }

        .characteres__center_rigth {
            .arrow-left, .arrow-right {
                display: none;
            }

            .slider-contenedor {
                width: 100%;
                margin: auto;
                overflow:auto;

                &::-webkit-scrollbar {
                    display: none;
                }

                .point2 {
                    display: none;
                }

                .slider-contenedor2{
                    margin-left: 0;
                }
            }

            .slider-contenedor-2{
                .point2{
                    display: none;
                }
            }
        }
    }

    .time-price {
        .time-price__box1 {
            .point3 {
                display: none;
            }
        }
    }

    .info-date {
        padding: 2rem 1rem;
        width: 100%;

        .point4, .point5, .point6, .point7 {
            display: none;
        }
    }

    .footer {
        .ofrecemos-footer {
            width: 100%;
            padding: 0 2rem;

            .ofrecemos_footer__div1 {
                width: 100%;
            }
        }
    }
}

@media (max-width: 800px) {
    .header {
        div {
            margin: 0;

            .header-general {
                margin: 1rem 10%;

                .header-left {
                    display: flex;

                    a {
                        img {
                            position: relative;
                            top: 0.5rem;
                            width: 12rem;
                        }
                    }
                }

                // ? INICIO===== Esta parte está para cuando vuelvan a poner gine y gesta juntos

                .navbar-opciones-phone {
                    display: flex;

                    ul {
                        margin: auto;
                        list-style-type: none;
                        display: flex;

                        li {
                            .ginecologia {
                                padding: 0.5rem 2rem;
                                background: $pink3;
                                color: #fff;
                                // font-size: 1rem;
                                // box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
                                cursor: pointer;

                                &:hover {
                                    letter-spacing: 0.1rem;
                                }
                            }

                            .gestacional {
                                color: #777;
                            }

                            a {
                                font-size: 1.5rem;
                                margin: 0 2rem;
                                opacity: 0.8;

                                &:focus {
                                    padding-bottom: 0.5rem;
                                    border-bottom: 2px solid #f173ac;
                                }
                            }
                        }
                    }
                }

                // ? FINAL===== Esta parte está para cuando vuelvan a poner gine y gesta juntos

                .header-center-right {
                    display: none;
                }

                .header-right {
                    display: flex;
                    width: auto;
                    // animation: miAnimacion_menu .2s linear;
                    transition: all 0.5s ease-out;

                    img {
                        width: 2rem;
                    }

                    .menu-close {
                        display: flex;
                    }

                    .menu-open {
                        display: none;
                    }

                    &.active {
                        // animation: miAnimacion_menu 0.3s linear;
                        // transition: all 0.3s linear;

                        .menu-close {
                            display: none;
                        }

                        .menu-open {
                            display: flex;
                        }
                    }
                }

                .header-menu {
                    display: inline-block;
                    text-align: center;
                    width: 70%;
                    height: 90vh;
                    position: absolute;
                    top: 99%;
                    right: 0;
                    background: $white;
                    border-top: 1px solid $pink3;
                    border-bottom: 1px solid $pink3;
                    padding: 0 2rem;
                    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                    font-family: "Poppins", sans-serif;

                    &.active {
                        // transition: all 0.5s linear;
                        // transition: all 0.5s ease-out;
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                    }

                    .header-center-right-tittle {
                        text-align: left;
                        margin-top: 1rem;
                        font-family: $abel;
                        color: $azul;
                    }

                    .header-modules {
                        margin-top: 2rem;
                        text-align: left;
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 1rem;
                        border-bottom: 1px solid #f173ac;

                        .header-menu-module {
                            font-size: 1.3rem;
                            color: $black;
                            padding-right: 1rem;
                        }

                        i {
                            display: flex;
                            align-items: center;
                            color: $pink3;
                        }

                        img{
                            width: 1.6rem;
                            transform: rotate(90deg);
                        }
                    }

                    .header_footer {
                        position: sticky;
                        top: 95%;
                        border-top: 1px solid #bfbfbf;

                        p {
                            color: #bfbfbf;
                            margin-top: 0.5rem;
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }

    .home {
        .home__box {
            .home__box__nav1 {
                .home__box__nav1-P_1 {
                    font-size: 2.6rem;
                }

                .home__box__nav1-P_2 {
                    font-size: 2.8rem;
                }
            }
        }
    }

    .tips{
        .tips__box{
            .box{
                .box__img{
                    min-width: 40rem;
                    height: 24rem;
                    
                    .img{
                        height: auto;
                    }
                }
            }
        }
    }

    .footer {
        .ofrecemos-footer {
            width: 80vw;
            padding: 0;
            margin-top: 5rem;

            .ofrecemos_footer__div1 {
                display: inline;
                div {
                    justify-content: left;
                    margin: 3rem;
                    padding-right: 3rem;
                }
            }
        }
    }
}

@media (max-width: 675px) {
    html {
        font-size: 55%;
    }
    // *tengo que cambiar muchas cosas
    .header {
        div {
            .header-general {
                .header-left {
                    a {
                        img {
                            width: 10rem;
                        }
                    }
                }
            }
        }
    }

    .characteres {
        .characteres__center_rigth {
            .slider-contenedor {
                .slider-contenedor2 {
                    .characteres_all {
                        height: 252px;
                        padding: 0;

                        img {
                            width: 22rem;
                        }

                        &.active {
                            padding-top: 2rem;
                            height: 282px;
                        }
                    }
                }
            }

            .slider-contenedor-2{
                .characteres_img{
                    width: 25rem;         
                    height: 25rem;
                    .img{
                        width: 25rem;       
                        height: 25rem;
                    }
                }
            }
        }
    }

    .info-date {
        .info-date-container {
            font-size: 1.15rem;

            .info-contenido {
                .contenido-body {
                    .div1 {
                        width: 25rem;
                        .div-image {
                            width: 10rem;
                        }
                    }

                    &.open {
                        height: 13rem;
                    }
                }
            }
        }
    }

    .footer{
        .ofrecemos-footer{
            .ofrecemos_footer__div1{
                div{
                    a{
                        i{
                            font-size: 3.8rem;
                        }
                    }

                    .footer-ul1{
                        padding-left: .6rem;
                        li{
                            p{

                                font-size: 1.14rem;
                            }
                        }
                    }

                    .footer-ul2{
                        li{
                            p{
                                font-size: 1.14rem;
                            }
                        }
                    }

                    .footer-ul3{
                        li{
                            font-size: 1.14rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 580px) {
    .home {
        height: auto;
    }

    .tips{
        .tips__box{
            .box{
                text-align: center;
                display: flex;
                flex-wrap: wrap;

                .box__content{
                    margin: auto;

                    .content{
                        padding: 2rem;
                    }
                }

                .box__img{
                    margin: auto;
                    justify-content: center;
                    .img{
                        box-shadow: -.5rem .5rem 30px -10px rgb(51, 46, 46);
                    }
                }
            }
        }
    }

    .considerations{
        .paragraph{
            display: inline;
        }
    }
}

@media (max-width: 530px) {
    .home {
        .home__imgLogo{
            padding-bottom: 2rem;
            text-align: center;

            .img_logo{
                height: 5rem;
            }
        }

        .home__box {
            display: flex;
            flex-wrap: wrap-reverse;
            padding-top: 0;

            .home__box__nav1 {
                padding: 1rem 0;
                margin: 0 auto;

                .home__box__nav1-P_1 {
                    text-align: center;
                }

                .home__box__nav1-P_2 {
                    text-align: center;
                }

                div {
                    margin: 1rem auto;
                }

                .nav1-box_link {
                    text-align: center;

                    .link{
                        font-size: 16px;
                    }
                }
            }

            .home__box__nav2 {
                display: flex;
                width: auto;

                img {
                    margin: auto;
                    width: 80%;
                }
            }
        }
    }

    .study {
        .tittle {
            font-size: 2.5rem;
        }
    }

    .characteres {
        .characteres__center_rigth {
            .slider-contenedor {
                height: 290px;

                .slider-contenedor2 {
                    left: -22.2rem;
                    height: 290px;

                    .characteres_all {
                        height: 250px;
                    }
                }
            }
        }
    }

    .info-date {
        h2 {
            font-size: 2rem;
        }

        .section__subtitle {
            font-size: 1.2rem;
        }

        .info-date-container {
            &.active {
                font-size: 1.3rem;

                .info-contenido {
                    margin: 1rem 1rem;

                    .contenido-body {
                        .div1 {
                            .div-image {
                                width: 7rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 460px) {

    .header_timer {
        position: relative;
        .section_one {
            flex-wrap: wrap;
            padding: .8rem;

            .one_info {
                text-align: center;
            }
        }
    }
    
    .characteres{
        .characteres__center_rigth{
            .slider-contenedor-2{
                .characteres_img{
                    display: none;
    
                    &.second{
                        display: flex;
                        width: 100%;
                        max-width: 35rem;
                        height: 22rem;

                        .img{
                            width: 100%;
                            max-width: 35rem;
                            height: 22rem;
                        }
                    }
                }

                .characteres_content{
                    max-width: 38rem;
                    width: 100%;
                    min-height: 20rem;
                    height: auto;

                    .content{
                        max-width: 35rem;
                        padding: 3rem 1rem;

                        &.b{
                            max-width: 33rem;
                        }
                    }
                }
            }
        }
    }

    .tips{
        .tips__box{
            .box{
                .box__img{
                    display: flex;
                    min-width: 20rem;

                    .img{
                        margin: auto;                        
                        width: 90%;
                    }
                }
            }
        }
    }
}

@media (max-width: 370px) {
    .header {
        div {
            padding: 0;
            .header-general {
            }
        }
    }

    .info-date {
        padding: 1rem 0.5rem;

        h2{
            font-size: 2.2rem;
        }

        .section__subtitle{
            font-size: 1.4rem;
        }

        .info-date-container {
            font-size: 1.3rem;

            &.active {
                .info-contenido {
                    .contenido-body {
                        flex-direction: column;

                        .div1 {
                            width: 90%;
                            max-width: 35rem;
                            // margin-left: 3rem;
                            margin: 1rem 0 1rem 2rem;
                            display: flex;
                            align-items: center;
                            // margin: 1rem 0;
                            animation: miAnimacion-3 .2s linear;
                        }

                        &.open {
                            margin: 0;
                            animation: none;

                            .div1{
                                animation: miAnimacion-2 .2s linear;

                                p {
                                    font-size: 1.3rem;
                                    width: 100%;
                                    text-align: left;
                                    padding: 0 1rem;
                                }
    
                                .div-image {
                                    width: 50px;
                                    height: 50px;
                                    margin: auto;
    
                                    img {
                                        width: 50px;
                                        height: 50px;
                                    }
    
                                    .img-incontrolable {
                                        height: 50px;
                                    }
                                }
                            }
                        }

                        &.close{
                            // animation: miAnimacion-3 .2s linear;

                            .div1{
                                animation: miAnimacion-3 .2s linear;
                            }
                        }
                    }
                }
            }
        }
    }

    .tips{
        padding-top: 5rem;
        .tips__box{
            .box{
                .box__img{
                    height: auto;
                }
            }
        }
    }
}

@keyframes scale {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}
