<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../css/style2.css">
    <title>IMM</title>
</head>
<body>
    <!-- *header inicio -->
    <header class="header">
        <nav class="header-left">
            <ul>
                <li class="nav-li"><a href="index.html"><img src="../img/imm-logo.png" alt=""></a></li>
                <!-- <li class="nav-li"><a href="#">Acerca de nosotros</a></li> -->
            </ul>
        </nav>
        <nav class="header-right">
            <img src="../img/infos/Estudio-ginecologico-integral-logo.jpg" alt="">
        </nav>
    </header>
    <!-- *header fin -->
    <section class="section-1">
        <nav class="nav-1">
            <h2 class="nav-1_h2-1">consideraciones generales</h2>
            <h2>para una óptima experiencia de atención</h2>
        </nav>
        <nav class="nav-2">
            <nav>
                <img src="../img/infos/whassap.PNG" alt="">
                <img src="../img/infos/prohibido-celu.PNG" alt="">
                <img src="../img/infos/15-min.PNG" alt="">
            </nav>
            <nav> 
                <p>Confirmaremos tu cita 12 a 24 horas antes</p> 
                <p>Llega 15 minutos antes de tu cita con tu DNI</p> 
                <p>Apaga el celular al ingresar al consultorio</p>
            </nav>
        </nav>
    </section>
    
    <section class="section-2">
        <nav class="section-2_nav-1">
            
        </nav>
    </section>
    
</body>
</html>