<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../css/style2.css">
    <title>IMM</title>
</head>

<body>
    <!-- Todo: primer html que se hace de la pagina por apurado -->

    <!-- *header inicio -->
    <header class="header">
        <nav class="header-left">
            <ul>
                <li class="nav-li"><a href="../index.html"><img src="../img/imm-logo.png" alt=""></a></li>
                <!-- <li class="nav-li"><a href="#">Acerca de nosotros</a></li> -->
            </ul>
        </nav>
        <nav class="header-right">
            <img src="../img/logo-estudio-ginecologico-integral.png" alt="">
        </nav>
    </header>
    <!-- *header fin -->
    <section class="section-1">
        <nav class="section-1_nav-1">
            <h2 class="nav-1_h2-1">consideraciones generales</h2>
            <h2>para una óptima experiencia de atención</h2>
        </nav>
        <nav class="section-1_nav-2">
            <nav>
                <img src="../img/image-simple/ropas.png" alt="">
                <img src="../img/image-simple/ropas.png" alt="">
                <img src="../img/image-simple/ropas.png" alt="">
            </nav>
            <nav>
                <p class="section-1_nav-2_p1">Confirmaremos tu cita 12 a 24 horas antes</p>
                <p class="section-1_nav-2_p2">Llega 15 minutos antes de tu cita con tu DNI</p>
                <p class="section-1_nav-2_p3">Apaga el celular al ingresar al consultorio</p>
            </nav>
        </nav>
    </section>

    <section class="section-2">
        <h2 class="section-2_h2">Recomendaciones para una mejor evaluación</h2>
        <nav class="section-2_nav-1">
            <nav>
                <img src="../img/image-simple/1.png" alt="">
                <img src="../img/image-simple/2.png" alt="">
                <img src="../img/image-simple/3.png" alt="">
            </nav>
            <nav>
                <p>No estar mesntruando al momento de tu cita</p>
                <p>Ni ovulos ni relaciones sexuales 48 hrs antesd de tu cita</p>
                <p>Usar ropa comoda para tu cita</p>
            </nav>
        </nav>
        <nav class="section-2_nav-2">
            <nav>
                <img src="../img/image-simple/4.png" alt="">
                <img src="../img/image-simple/5.png" alt="">
            </nav>
            <nav>
                <p>Informe de tu estudio integral a tu correo en 7 dias habiles</p>
                <p>Recetas y otros examenes: coordinar con farmacias y recepción</p>
            </nav>
        </nav>
    </section>

</body>

</html>