<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style-gest-ante.css">
    <script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
    <title>IMM Gestacional-Antenatal</title>
</head>

<body>
    <!-- *Header Inicio--> 
    <header class="header">
        <div>
            <nav class="navbar-opciones">
                <ul>
                    <a class="ginecologia" href="#">Ginecología</a>
                    <a class="gestacional" href="#">Gestacional</a>
                </ul>
            </nav>
            <nav class="header-general">
                <nav class="header-left">
                    <a href="../index.html"><img src="../img/LOGO-IMMUJER.png" alt="Logo-IMM"></a>
                </nav>
    
                <div class="navbar-opciones-phone">
                    <ul>
                        <li><a class="ginecologia" href="#">Ginecología</a></li>
                        <li><a class="gestacional" href="#">Gestacional</a></li>
                    </ul>
                </div>
                
                <div class="header-right">
                    <div id="menu-btn" class="fas fa-bars"></div>
                </div>
    
                <nav class="header-center-right" id="header-center-right">
                    <a class="module-1" href="#">
                        <h4>Viabilidad</h4>
                    </a>
                    <a class="module-2" href="#">
                        <h4>Genético</h4>
                    </a>
                    <a class="module-3" href="#">
                        <h4>Pre-Morfológico</h4>
                    </a>
                    <a class="module-4" href="#">
                        <h4>Morfológico</h4>
                    </a>
                    <a class="module-5" href="#">
                        <h4>Crecimiento Doppler</h4>
                    </a>
                    <a class="module-6" href="#">
                        <h4>Antenatal</h4>
                    </a>              
                </nav>
            </nav>
        </div>
    </header>
    <!-- *Header Final -->

    <!-- *menu Inicio -->
    <div class="contenedor">
        <div class="slider-contenedor">
            <section class="menu">
                <nav class="menu-nav1">
                    <h2 class="menu-nav1-h2_1">ESTUDIO MATERNO FETAL</h2>
                    <h2 class="menu-nav1-h2_2">VIABILIDAD</h2>
                    <p>5 a 10 semanas 6 días de gestación</p>
                    <div class="animated infinite pulse delay-2s">
                        <a href="#"><i class="fab fa-whatsapp"></i>AGENDAR CITA</a>
                    </div>
                </nav>
                <nav class="menu-nav2">
                    <img src="../img/image-simple-2/1.-Doctora.png" alt="">
                </nav>
        
            </section>
            <section class="menu">
                <nav class="menu-nav1">
                    <h2 class="menu-nav1-h2_1">ESTUDIO MATERNO FETAL</h2>
                    <h2 class="menu-nav1-h2_2">GENÉTICO</h2>
                    <p>11 a 13 semanas 6 días de gestación (CRL 45 a 84 mm)</p>
                    <div class="animated infinite pulse delay-2s">
                        <a href="#footer"><i class="fab fa-whatsapp"></i>AGENDAR CITA</a>
                    </div>
                </nav>
                <nav class="menu-nav2">
                    <img src="../img/image-simple-2/1.-Doctora.png" alt="">
                </nav>
        
            </section>
            <section class="menu">
                <nav class="menu-nav1">
                    <h2 class="menu-nav1-h2_1">ESTUDIO MATERNO FETAL</h2>
                    <h2 class="menu-nav1-h2_2">MORFOLÓGICO</h2>
                    <p>20 a 23 semanas 6 días de gestación</p>
                    <div class="animated infinite pulse delay-2s">
                        <a href="#footer"><i class="fab fa-whatsapp"></i>AGENDAR CITA</a>
                    </div>
                </nav>
                <nav class="menu-nav2">
                    <img src="../img/image-simple-2/1.-Doctora.png" alt="">
                </nav>
        
            </section>
            <section class="menu">
                <!-- <img class="menu-img" src="img/image-simple-2/Fondo.png" alt=""> -->
                <nav class="menu-nav1">
                    <h2 class="menu-nav1-h2_1">ESTUDIO MATERNO FETAL</h2>
                    <h2 class="menu-nav1-h2_2">VIABILIDAD</h2>
                    <p>5 a 10 semanas 6 días de gestación</p>
                    <div class="animated infinite pulse delay-2s">
                        <a href="#"><i class="fab fa-whatsapp"></i>AGENDAR CITA</a>
                    </div>
                </nav>
                <nav class="menu-nav2">
                    <img src="../img/image-simple-2/1.-Doctora.png" alt="">
                </nav>
        
            </section>
        </div>
    </div>
    <!-- *menu Inicio -->
    <script src="../js/slider.js"></script>
    <script src="../js/index.js"></script>
</body>
</html>