<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y8GCWSL9YP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Y8GCWSL9YP');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style-gine-process.css">
    <title>IMM Vaporización Displasia de Cérvix</title>
    <script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../img/favicon.svg">
</head>

<body>
    <!-- *Home inicio -->
    <section class="home">
        <div class="home-img_logo">
            <img src="../img/logo-imm.svg" alt="Logo-IMM" class="img_logo">
            <img src="../img/logo-imm-short.svg" alt="Logo-IMM" class="img_logo2">
        </div>
        <div class="home_box">
            <div class="home-nav1">
                <div class="home-content">
                    <h2 class="home_title">VAPORIZACIÓN</h2>
                    <h2 class="home_title">DISPLASIA DE CÉRVIX</h2>
                    <div class="animated infinite pulse delay-2s">
                        <a id="btn_wsp" data-desktop-target="_blank" rel="noopener" target="_blank"
                            href="https://web.whatsapp.com/send?phone=51986620392" target="_blank"><i
                                class="fab fa-whatsapp"></i>AGENDAR CITA</a>
                    </div>
                </div>  
            </div>
        </div>
    </section>
    <!-- *Home final -->

    <!-- *Process INICIO -->
    <section class="process">
        <h2 class="title">¿En qué consiste el procedimiento?</h2>
        <div class="process-img">
            <img src="../images/ginecologia/proc-1.svg" alt="img" class="img">
        </div>
        <p class="content">Es un tratamiento ambulatorio para retirar del cuello uterino tejidos anormales identificados en la colposcopía y/o biopsia. A diferencia de otros procedimientos, éste permite la formación de nuevo tejido gracias a la síntesis de nuevo colágeno.</p>
    </section>
    <!-- *Process final -->

    <!-- *Info INICIO -->
    <section class="info">
        <div class="info-box">
            <div class="info_image">
                <img src="../img/images-gine/procedimiento/proc-ecography.jpg" alt="ecography" class="img">
            </div>
            <article class="info_content">
                <div class="info_content_box">
                    <div class="content">
                        <h2 class="title">¿Cómo se realiza?</h2>
                        <p class="paragraph">Usamos láser Erbium-Yag que permite realizar la ablación del tejido comprometido sin afectar al tejido circundante, así como la desinfección del mismo, la cual favorece una cicatrización más rápida.</p>
                    </div>
                </div>
                <img src="../images/ginecologia/election-egi_emi/points-gine-4.svg" alt="puntitos" class="point8">
            </article>
        </div>
    </section>
    <!-- *Info FINAL -->

    <!-- *Remenber INICIO -->
    <section class="remember">
        <h2 class="title">Recuerda</h2>
        <div class="remember-box">
            <div class="box-content">
                <div class="content-img">
                    <img class="img" src="../images/ginecologia/proc-2.svg" alt="calendar"> 
                </div>
                <div class="content">
                    <p class="paragraph">Las órdenes médicas tienen una validez de 3 meses. Como los tejidos cambian, después de ese tiempo, se debe reevaluar la condición actual de la lesión.</p>
                </div>
            </div>
            <div class="box-content">
                <div class="content-img">
                    <img class="img" src="../images/ginecologia/slider/gine-slider-7.svg" alt="calendar">
                </div>
                <div class="content">
                    <p class="paragraph">Si ya pasaron más de 3 meses lo ideal es tomar una consulta de evaluación con su médico tratante o ponerse en contacto con el mismo para validar la orden.</p>
                </div>
            </div>
            <div class="box-content">
                <div class="content-img">
                    <img class="img" src="../images/ginecologia/proc-4.svg" alt="calendar">
                </div>
                <div class="content">
                    <p class="paragraph">En ocasiones, durante la vaporización, puede ser necesario añadir otras técnicas de ablación como electrofulguración u otras si la lesión lo amerita.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- *Remenber FINAL -->
    
    <!-- *Indispensable INICIO -->
    <section class="indispensable">
        <div class="indispensable-box">
            <h2 class="title">Requisitos Indispensables</h2>   
            <section class="content">
                <article class="article">
                    <header class="header">
                        <img src="../images/ginecologia/date/gine-date-23.svg" alt="" class="img">
                        <h2 class="subtitle">No estar gestando o tener sospecha de estarlo</h2>
                    </header>
                    <p class="paragraph">Cambios hormonales gestacionales afectan tejidos de la cérvix reduciendo la efectividad del procedimiento y un mayor sangrado. En gestaciones no detectadas, el procedimiento no afecta ni al desarrollo gestacional ni al bebé</p>
                    <img src="../images/ginecologia/election-egi_emi/points-gine-3.svg" alt="puntitos" class="point9">
                </article>
                <article class="article">
                    <header class="header">
                        <img src="../images/ginecologia/date/gine-date-17.svg" alt="" class="img">
                        <h2 class="subtitle">No presentar infecciones</h2>
                    </header>
                    <p class="paragraph">Si presenta molestias urinarias o sospecha de infección vaginal, debe primero tomar consulta para establecer y tratar posible infección</p>
                    <img src="../images/ginecologia/election-egi_emi/points-gine-3.svg" alt="puntitos" class="point10">
                </article>
                <article class="article">
                    <header class="header">
                        <img src="../images/ginecologia/study-1.svg" alt="" class="img">
                        <h2 class="subtitle">No presentar trastornos de coagulación</h2>
                    </header>
                    <p class="paragraph">Informar a su médico tratante para su evaluación</p>
                </article>
                <article class="article">
                    <header class="header">
                        <img src="../images/ginecologia/date/gine-date-6.svg" alt="" class="img">
                        <h2 class="subtitle">No estar mestruando ni con residuos menstruales</h2>
                    </header>
                    <p class="paragraph">De presentarse sangrado o residuos producto de la menstruación, no se distinguirá la lesión a tratar</p>
                </article>
            </section>
        </div>
    </section>
    <!-- *Indispensable FINAL -->

    <!-- *antes,durante despues citas INICIO -->
    <section class="info-date section" id="info-date">
        <h2>Recomendaciones</h2>
        <span class="section__subtitle">Ten en cuenta estas recomendaciones para una mejor experiencia</span>

        <!-- *contenido de primer día -->
        <div class="info-date-container active">
            <!-- *contenido1 -->
            <div class="info-contenido">
                <div class="contenido-header close">
                    <span>Antes de tu cita</span>
                    <img src="../img/arrow-pink-top.svg" alt="svg" class="arrow-top">
                </div>
                <div class="contenido-body close">
                    <div class="div1">
                        <div class="div-image"><img src="../images/ginecologia/date/gine-date-17.svg" alt=""></div>
                        <div class="paragrah">
                            <p><strong>Evitar contacto en zona íntima</strong></p>
                            <p>Evitar 24 horas antes: relaciones sexuales, uso de tampones, cremás, óvulos o duchas vaginales</p>
                        </div>
                    </div>
                    <div class="div1">
                        <div class="div-image"><img src="../images/ginecologia/study-1.svg" alt=""></div>
                        <div class="paragrah">
                            <p><strong>No usar anticoagulantes</strong></p>
                            <p>Suspender AINES (Ej: ibuprofeno) y aspirina una semana antes para evitar mayor sangrado durante la vaporización </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- *contenido 2 -->
            <div class="info-contenido">
                <div class="contenido-header close">
                    <span>Durante tu cita</span>
                    <img src="../img/arrow-pink-top.svg" alt="svg" class="arrow-top">
                </div>
                <div class="contenido-body close">
                    <div class="div1">
                        <div class="div-image"><img src="../images/ginecologia/date/gine-date-6.svg" alt=""></div>
                        <div class="paragrah">
                            <p><strong>No estar mestruando ni con residuos menstruales</strong></p>
                            <p>Haber pasado mínimo 3 días desde el última día de menstruación y no estar a una semana de la siguiente menstruación</p>
                        </div>
                    </div>
                    <div class="div1">
                        <div class="div-image"><img src="../images/ginecologia/date/gine-date-18.svg" alt=""></div>
                        <div class="paragrah">
                            <p><strong>Usar mascarilla de tela</strong></p>
                            <p>Evitar el uso de mascarillas con pieza nasal metálica al momento del procedimiento (Traer tu mascarilla) </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- *contenido3 -->
            <div class="info-contenido">
                <div class="contenido-header close">
                    <span>Después de tu cita</span>
                    <img src="../img/arrow-pink-top.svg" alt="svg" class="arrow-top">
                </div>
                <div class="contenido-body close">
                    <div class="div1">
                        <div class="div-image"><img src="../images/ginecologia/date/gine-date-3.svg" alt=""></div>
                        <div class="paragrah">
                            <p><strong>Restricción de contacto íntimo</strong></p>
                            <p>Abstenerse ante cualquier circunstancia de mantener relaciones sexuales durante 4 semanas después del procedimiento</p>
                        </div>
                    </div>
                    <div class="div1">
                        <div class="div-image"><img src="../images/ginecologia/date/gine-date-25.svg" alt=""></div>
                        <div class="paragrah">
                            <p><strong>Cuidados de la zona íntima</strong></p>
                            <p>No sumergirse en agua (piscinas), realizar duchas vaginales o usar tampones durante 4 semanas. Usar prendas sueltas y mantener una higiene íntima normal</p>
                        </div>
                    </div>
                </div>
                <div class="contenido-body close">
                    <div class="div1">
                        <div class="div-image"><img src="../images/ginecologia/date/gine-date-24.svg" alt=""></div>
                        <div class="paragrah">
                            <p><strong>Limitaciones en actividad física</strong></p>
                            <p>Reposar el primer día. Posteriormente limitar la actividad física vigorosa durante 5 días</p>
                        </div>
                    </div>
                    <div class="div1">
                        <div class="div-image"><img src="../images/ginecologia/slider/gine-slider-7.svg" alt=""></div>
                        <div class="paragrah">
                            <p><strong>Consulta posterior</strong></p>
                            <p>Volver a una consulta de control en
                                la cual se evaluará el resultado final y se planteará el seguimiento</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- *contenido4 -->
            <div class="info-contenido">
                <div class="contenido-header close">
                    <span>Síntomas comunes post procedimiento</span>
                    <img src="../img/arrow-pink-top.svg" alt="svg" class="arrow-top">
                </div>
                <div class="contenido-body close">
                    <div class="div1 solo">
                        <div class="div-image"><img src="../images/ginecologia/date/gine-date-21.svg" alt=""></div>
                        <div class="paragrah">
                            <p><strong>Cambios en el flujo vaginal</strong></p>
                            <p>Durante 2 o 3 semanas después del procedimiento,
                                el flujo puede ser sanguinolento, oscuro y de color amarillo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="../img/blue-points.svg" alt="puntitos" class="point4">
        <img src="../img/blue-points.svg" alt="puntitos" class="point5">
        <img src="../img/blue-points.svg" alt="puntitos" class="point6">
        <!-- <img src="../img/blue-points.svg" alt="puntitos" class="point7"> -->
    </section>
    <!-- *antes,durante despues citas FINAL -->

    <!-- *footer INICIO -->
    <footer class="footer">
        <nav class="ofrecemos-footer">
            <div class="ofrecemos_footer_div1">
                <div>
                    <a target="_blank" href="https://imm.pe/contact_us"><i class="fas fa-map-marker-alt"></i></a>
                    <ul class="footer-ul1">
                        <h2>Visítanos</h2>
                        <li>
                            <p>Av. Javier Prado Este 1476</p>
                        </li>
                        <li>
                            <p>San Isidro</p>
                        </li>
                    </ul>
                </div>
                <div>
                    <a id="btn_wsp" data-desktop-target="_blank" rel="noopener" target="_blank"
                        href="https://web.whatsapp.com/send?phone=51986620392" target="_blank"><i
                            class="fab fa-whatsapp"></i></a>
                    <ul class="footer-ul2">
                        <h2>Escríbenos</h2>
                        <li>
                            <p>+51 986 620 392</p>
                        </li>
                    </ul>
                </div>
                <div>
                    <a rel="noopener noreferrer" href="mailto:citas@imm.com.pe"><img
                            src="../../img/image-simple-2/9.-mail.png" alt="" class="footer_img3"></i></a>
                    <ul class="footer-ul3">
                        <li>citas.immujer@imm.com.pe</li>
                        <ul>
                            <a target="_blank" href="https://www.facebook.com/immperu/"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="https://www.instagram.com/immperuoficial/"><i
                                    class="fab fa-instagram"></i></a>
                        </ul>
                    </ul>
                </div>

            </div>
            <div class="ofrecemos_footer_div2">
                <p>© 2022 Instituto Médico de la Mujer</p>
            </div>
        </nav>
    </footer>
    <!-- *footer final -->

    <script src="../js/content_arrows-gine.js"></script>
    <script src="../js/funcional/btn_wsp.js"></script>
</body>

</html>