<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y8GCWSL9YP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Y8GCWSL9YP');
    </script> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style-gine-densi_osea.css">
    <title>IMM Densitometría Osea</title>
    <script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../img/favicon.svg">
</head>

<body>
    <!-- *Home inicio -->
    <section class="home">
        <div class="home-img_logo">
            <img src="../img/logo-imm.svg" alt="Logo-IMM" class="img_logo">
            <img src="../img/logo-imm-short.svg" alt="Logo-IMM" class="img_logo2">
        </div>
        <div class="home_box">
            <div class="home-nav1">
                <div class="home-content">
                    <h2 class="home_title">DENSITOMETRÍA OSEA</h2>
                    <!-- <h2 class="home_title">ECTROPION CERVICAL</h2> -->
                    <div class="animated infinite pulse delay-2s">
                        <a id="btn_wsp" data-desktop-target="_blank" rel="noopener" target="_blank"
                            href="https://web.whatsapp.com/send?phone=51986620392" target="_blank"><i
                                class="fab fa-whatsapp"></i>AGENDAR CITA</a>
                    </div>
                </div>  
            </div>
        </div>
    </section>
    <!-- *Home final -->

    <!-- *Process INICIO -->
    <section class="process">
        <h2 class="title">¿En qué consiste el procedimiento?</h2>
        <div class="process-img">
            <img src="../images/ginecologia/proc-1.svg" alt="img" class="img">
        </div>
        <p class="content">Establece con precisión la densidad mineral ósea, es decir, la cantidad de minerales 
            que hay en un área del hueso ayudando a detectar si hay disminución de dicha densidad en diversos grados (Osteopenia, osteoporosis) y precedecir su riesgo de fracturas.</p>
    </section>
    <!-- *Process final -->

    <!-- *Info INICIO -->
    <section class="info">
        <div class="info-box">
            <div class="info_image">
                <img src="../img/images-gine/procedimiento/proc-ecography.jpg" alt="ecography" class="img">
            </div>
            <article class="info_content">
                <div class="info_content_box">
                    <div class="content">
                        <h2 class="title">¿Para qué sirve?</h2>
                        <p class="paragraph">
                            La densidad ósea está determinada por la edad, la nutrición, la actividad física y otras 
                            variables individuales para mantener un bienestar óptimo y estimarla nos ayuda
                            a establecer otros riesgos metabólicos y oportunidad de corregirlos.
                        </p>
                    </div>
                </div>
                <img src="../images/ginecologia/election-egi_emi/points-gine-4.svg" alt="puntitos" class="point8">
            </article>
        </div>
    </section>
    <!-- *Info FINAL -->

    <!-- *features INICIO -->
    <section class="features">
        <div class="features__box">
            <article class="article_feature">
                <img src="../img/images-gine/densi_osea/feature-1.png" alt="img-feature">
                <h4>Equipo de última generación</h4>
                <p>Contamos con el Lunar Prodigy Advance, el más rápido y preciso equipo para la valoración de la densidad mineral ósea</p>
            </article>
            <article class="article_feature">
                <img src="../img/images-gine/densi_osea/feature-2.png" alt="img-feature">
                <h4>Prevención temprana</h4>
                <p class="b">40% mejor precisión en el diagnóstico de pérdida de densidad ósea</p>
            </article>
            <article class="article_feature">
                <img src="../img/images-gine/densi_osea/feature-3.png" alt="img-feature">
                <h4>Método seguro y rápido</h4>
                <p>Prueba no invasiva, indolora y con poca exposición a la radiación con resultados inmediatos</p>
            </article>
        </div>
    </section>
    <!-- *features FINAL -->

    <!-- *Tiempo y precio INICIO-->
    <section class="time-price">
        <div class="time-price_box1">
            <img src="../img/blue-points.svg" alt="puntitos" class="point3">
            <img class="time-price_box2_img" src="../images/ginecologia/time_price-3.svg" alt="time">
            <div>
                <h3>¿En cuánto </h3>
                <h3>tiempo se realiza?</h3>
                <p>Entre 15 a 20 minutos</p>
            </div>
        </div>

        <div class="time-price_box2">
            <!-- <img class="img-fondo" src="../img/image-simple-2/Fondo.png" alt=""> -->
            <img class="time-price_box2_img" src="../images/ginecologia/time_price-2.svg" alt="porcentaje">
            <div>
                <p>¿Qué precio tiene?</p>
                <h3>S/ 120</h3>
            </div>
        </div>
    </section>
    <!-- *Tiempo y precio FINAL-->

    <!-- *casos INICIO -->
    <section class="cases">
        <h2 class="title">Casos en los que no se recomienda esta prueba</h2>
        <div class="cases__box">
            <div class="case">
                <img src="../images/ginecologia/date-two/gine-date-40.svg" alt="img" class="img">
                <p class="paragraph">Está gestando</p>
            </div>
            <div class="case">
                <img src="../images/ginecologia/date-two/gine-date-41.svg" alt="img" class="img">
                <p class="paragraph">Tiene implantes de silicona en los glúteos</p>
            </div>
            <div class="case">
                <img src="../images/ginecologia/date-two/gine-date-42.svg" alt="img" class="img">
                <p class="paragraph">Tiene dispositivos ortopédicos metálicos</p>
            </div>
            <div class="case b">
                <img src="../images/ginecologia/date-two/gine-date-43.svg" alt="img" class="img">
                <p class="paragraph">Tuvo operaciones en la región de la exploración</p>
            </div>
            <div class="case">
                <img src="../images/ginecologia/date-two/gine-date-44.svg" alt="img" class="img">
                <p class="paragraph">Tiene dificultad para rotar 25° la pierna</p>
            </div>
        </div>
    </section>
    <!-- *casos FINAL -->

    <!-- *inbody INICIO -->
    <section class="inbody">
        <div class="inbody__box">
            <div class="box_img">
                <img src="../img/images-gine/densi_osea/inbody-1.png" alt="inbody" class="img">
            </div>
            <article class="box_paragraph">
                <p class="paragraph">
                    La evaluación de la salud ósea va mejor cuando se combina con Análisis de la Composición Corporal
                    para valorar la relación músculo grasa y otros indicadores metabólicos cuando el caso lo amerite según la evaluación con el médico.
                </p>
            </article>
            <img src="../images/ginecologia/election-egi_emi/points-gine-4.svg" alt="puntitos" class="point4">
            <img src="../images/ginecologia/election-egi_emi/points-gine-4.svg" alt="puntitos" class="point5">
        </div>
    </section>
    <!-- *inbody FINAL -->

    <!-- *antes,durante despues citas INICIO -->
    <section class="info-date section" id="info-date">
        <h2>Recomendaciones</h2>
        <span class="section__subtitle">Ten en cuenta estas recomendaciones para una mejor experiencia</span>

        <!-- *contenido de primer día -->
        <div class="info-date-container active">
            <!-- *contenido1 -->
            <div class="info-contenido">
                <div class="contenido-header close">
                    <span>Antes de la cita</span>
                    <img src="../img/arrow-pink-top.svg" alt="svg" class="arrow-top">
                </div>
                <div class="contenido-body close">
                    <div class="div1">
                        <div class="div-image"><img src="../images/ginecologia/date/gine-date-1.svg" alt=""></div>
                        <div class="paragrah">
                            <p>Confirmaremos tu asistencia de 12 a 24 horas antes de la cita</p>
                        </div>
                    </div>
                    <div class="div1">
                        <div class="div-image"><img src="../images/ginecologia/date/gine-date-2.svg" alt=""></div>
                        <div class="paragrah">
                            <p>Regístrate en recepción 15 minutos antes de tu cita con tu DNI</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- *contenido 2 -->
            <div class="info-contenido">
                <div class="contenido-header close">
                    <span>Durante la cita</span>
                    <img src="../img/arrow-pink-top.svg" alt="svg" class="arrow-top">
                </div>
                <div class="contenido-body close">
                    <div class="div1">
                        <div class="div-image"><img src="../images/ginecologia/date/gine-date-12.svg" alt=""></div>
                        <div class="paragrah">
                            <p>No usar joyas ni relojes durante tu cita</p>
                        </div>
                    </div>
                    <div class="div1">
                        <div class="div-image"><img src="../images/ginecologia/date-two/gine-date-45.svg" alt=""></div>
                        <div class="paragrah">
                            <p>Usar ropa cómoda sin cierres o botones de metal</p>
                        </div>
                    </div>
                    <div class="div1">
                        <div class="div-image"><img src="../images/ginecologia/date/gine-date-18.svg" alt=""></div>
                        <div class="paragrah">
                            <p>Usar mascarillas de tela únicamente</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- *contenido3 -->
            <div class="info-contenido">
                <div class="contenido-header close">
                    <span>Después de la cita</span>
                    <img src="../img/arrow-pink-top.svg" alt="svg" class="arrow-top">
                </div>
                <div class="contenido-body close">
                    <div class="div1 solo">
                        <div class="div-image"><img src="../images/ginecologia/date/gine-date-8.svg" alt=""></div>
                        <div class="paragrah">
                            <p>Entrega del informe físico 20 minutos posterior a la prueba"</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="../img/blue-points.svg" alt="puntitos" class="point4">
        <img src="../img/blue-points.svg" alt="puntitos" class="point5">
        <img src="../img/blue-points.svg" alt="puntitos" class="point6">
        <!-- <img src="../img/blue-points.svg" alt="puntitos" class="point7"> -->
    </section>
    <!-- *antes,durante despues citas FINAL -->

    <!-- *footer INICIO -->
    <footer class="footer">
        <nav class="ofrecemos-footer">
            <div class="ofrecemos_footer_div1">
                <div>
                    <a target="_blank" href="https://imm.pe/contact_us"><i class="fas fa-map-marker-alt"></i></a>
                    <ul class="footer-ul1">
                        <h2>Visítanos</h2>
                        <li>
                            <p>Av. Javier Prado Este 1476 San Isidro</p>
                        </li>
                    </ul>
                </div>
                <div>
                    <a id="btn_wsp" data-desktop-target="_blank" rel="noopener" target="_blank"
                        href="https://web.whatsapp.com/send?phone=51986620392" target="_blank"><i
                            class="fab fa-whatsapp"></i></a>
                    <ul class="footer-ul2">
                        <h2>Escríbenos</h2>
                        <li>
                            <p>+51 986 620 392</p>
                        </li>
                    </ul>
                </div>
                <div>
                    <a rel="noopener noreferrer" href="mailto:citas@imm.com.pe"><img
                            src="../../img/image-simple-2/9.-mail.png" alt="" class="footer_img3"></i></a>
                    <ul class="footer-ul3">
                        <li>citas.immujer@imm.com.pe</li>
                        <ul>
                            <a target="_blank" href="https://www.facebook.com/immperu/"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="https://www.instagram.com/immperuoficial/"><i
                                    class="fab fa-instagram"></i></a>
                        </ul>
                    </ul>
                </div>

            </div>
            <div class="ofrecemos_footer_div2">
                <p>© 2022 Instituto Médico de la Mujer</p>
            </div>
        </nav>
    </footer>
    <!-- *footer final -->

    <script src="../js/content_arrows-gine.js"></script>
    <script src="../js/funcional/btn_wsp.js"></script>
</body>

</html>