<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y8GCWSL9YP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Y8GCWSL9YP');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style-gine-process.css">
    <title>IMM Biopsia de mamas percutánea</title>
    <script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../img/favicon.svg">
</head>

<body>
    <!-- *Home inicio -->
    <section class="home">
        <div class="home-img_logo">
            <img src="../img/logo-imm.svg" alt="Logo-IMM" class="img_logo">
            <img src="../img/logo-imm-short.svg" alt="Logo-IMM" class="img_logo2">
        </div>
        <div class="home_box">
            <div class="home-nav1">
                <div class="home-content">
                    <h2 class="home_title">BIOPSIA DE MAMAS</h2>
                    <h2 class="home_title">POR PUNCIÓN PERCUTÁNEA</h2>
                    <div class="animated infinite pulse delay-2s">
                        <a id="btn_wsp" data-desktop-target="_blank" rel="noopener" target="_blank"
                            href="https://web.whatsapp.com/send?phone=51986620392" target="_blank"><i
                                class="fab fa-whatsapp"></i>AGENDAR CITA</a>
                    </div>
                </div>  
            </div>
        </div>
    </section>
    <!-- *Home final -->

    <!-- *Process INICIO -->
    <section class="process">
        <h2 class="title">¿En qué consiste el procedimiento?</h2>
        <div class="process-img">
            <img src="../images/ginecologia/proc-1.svg" alt="img" class="img">
        </div>
        <p class="content">Es un procedimiento ambulatorio en el que se extrae vía percutánea (a través de la piel) líquido o porciones muy pequeñas de tejido de nódulos en la mama.</p>
    </section>
    <!-- *Process final -->

    <!-- *Info INICIO -->
    <section class="info">
        <div class="info-box">
            <div class="info_image">
                <img src="../img/images-gine/procedimiento/proc-ecography.jpg" alt="ecography" class="img">
            </div>
            <article class="info_content">
                <div class="info_content_box">
                    <div class="content">
                        <h2 class="title">¿Cómo se realiza?</h2>
                        <p class="paragraph">Bajo guía ecográfica se ingresa una aguja dentro del nódulo y se aspira líquido (si es un quiste) o porciones de tejido (si el nódulo es sólido)</p>
                    </div>
                </div>
                <img src="../images/ginecologia/election-egi_emi/points-gine-4.svg" alt="puntitos" class="point8">
            </article>
        </div>
    </section>
    <!-- *Info FINAL -->

    <!-- *Remenber INICIO -->
    <section class="remember">
        <h2 class="title">Recuerda</h2>
        <div class="remember-box">
            <div class="box-content2">
                <div class="content-img">
                    <img class="img" src="../images/ginecologia/proc-2.svg" alt="calendar">
                </div>
                <div class="content">
                    <p class="paragraph">Las órdenes médicas tienen una validez de 3 meses. Como los tejidos cambian, después de ese tiempo, se debe reevaluar la condición actual de la lesión.</p>
                </div>
            </div>
            <div class="box-content2">
                <div class="content-img">
                    <img class="img" src="../images/ginecologia/slider/gine-slider-7.svg" alt="calendar">
                </div>
                <div class="content">
                    <p class="paragraph">Para asegurar la efectividad del tratamiento, le recomendamos presentar su órden médica actualizada según la evaluación de su médico tratante</p>
                </div>
            </div>
        </div>
    </section>
    <!-- *Remenber FINAL -->
    
    <!-- *Indispensable INICIO -->
    <section class="indispensable">
        <div class="indispensable-box">
            <h2 class="title">Requisitos Indispensable</h2>   
            <section class="content">
                <article class="article">
                    <header class="header">
                        <img src="../images/ginecologia/date/gine-date-23.svg" alt="" class="img">
                        <h2 class="subtitle">No estar gestando</h2>
                    </header>
                    <p class="paragraph">En caso de estar embarazada o tener sospechas, informar al médico tratante para evaluar su caso</p>
                    <img src="../images/ginecologia/election-egi_emi/points-gine-3.svg" alt="puntitos" class="point9">
                </article>
                <article class="article">
                    <header class="header">
                        <img src="../images/ginecologia/study-1.svg" alt="" class="img">
                        <h2 class="subtitle">No presentar trastornos de coagulación</h2>
                    </header>
                    <p class="paragraph">De ser su caso, informar a su médico para evaluar la programación de su procedimiento</p>
                    <img src="../images/ginecologia/election-egi_emi/points-gine-3.svg" alt="puntitos" class="point10">
                </article>
            </section>
        </div>
    </section>
    <!-- *Indispensable FINAL -->

    <!-- *antes,durante despues citas INICIO -->
    <section class="info-date section" id="info-date">
        <h2>Recomendaciones</h2>
        <span class="section__subtitle">Ten en cuenta estas recomendaciones para una mejor experiencia</span>

        <!-- *contenido de primer día -->
        <div class="info-date-container active">
            <!-- *contenido1 -->
            <div class="info-contenido">
                <div class="contenido-header close">
                    <span>Antes de tu cita</span>
                    <img src="../img/arrow-pink-top.svg" alt="svg" class="arrow-top">
                </div>
                <div class="contenido-body close">
                    <div class="div1 solo">
                        <div class="div-image"><img src="../images/ginecologia/study-1.svg" alt=""></div>
                        <div class="paragrah">
                            <p><strong>No usar anticoagulantes</strong></p>
                            <p>Suspender AINES (Ej: ibuprofeno) y aspirina una semana antes para evitar mayor sangrado durante la biopsia</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- *contenido2 -->
            <div class="info-contenido">
                <div class="contenido-header close">
                    <span>Después de tu cita</span>
                    <img src="../img/arrow-pink-top.svg" alt="svg" class="arrow-top">
                </div>
                <div class="contenido-body close">
                    <div class="div1">
                        <div class="div-image"><img src="../images/ginecologia/date/gine-date-24.svg" alt=""></div>
                        <div class="paragrah">
                            <p><strong>Limitaciones en actividades físicas</strong></p>
                            <p>Reposo físico por 1 día en casa sin retirar el vendaje la primera noche y evitar esfuerzos como cargar peso por 1 semana</p>
                        </div>
                    </div>
                    <div class="div1">
                        <div class="div-image"><img src="../images/ginecologia/date/gine-date-25.svg" alt=""></div>
                        <div class="paragrah">
                            <p><strong>Cuidados en la rutina diaria</strong></p>
                            <p>No debe realizar actividades diarias (limpiar, cocinar, etc) con el brazo de la zona de la biopsia por el riesgo de hematoma</p>
                        </div>
                    </div>
                </div>
                <div class="contenido-body close">
                    <div class="div1">
                        <div class="div-image"><img src="../images/ginecologia/date/gine-date-35.svg" alt=""></div>
                        <div class="paragrah">
                            <p><strong>Cuidado de zona tratada</strong></p>
                            <p>Mantener el vendaje por 1 día entero en la zona de mamas después del procedimiento</p>
                        </div>
                    </div>
                    <div class="div1">
                        <div class="div-image"><img src="../images/ginecologia/slider/gine-slider-7.svg" alt=""></div>
                        <div class="paragrah">
                            <p><strong>Control de lectura</strong></p>
                            <p>Asistir al control de lectura de su resultado y realizarse controles según le indique su médico</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- *contenido3 -->
            <div class="info-contenido">
                <div class="contenido-header close">
                    <span>Síntomas comunes post procedimiento</span>
                    <img src="../img/arrow-pink-top.svg" alt="svg" class="arrow-top">
                </div>
                <div class="contenido-body close">
                    <div class="div1">
                        <div class="div-image"><img src="../images/ginecologia/date/gine-date-36.svg" alt=""></div>
                        <div class="paragrah">
                            <p><strong>Inflamación o hematomas</strong></p>
                            <p>Por medio de la punción, hay riesgo de lastimar vasos sanguíneos muy pequeños de la piel y los tejidos internos generando hematomas, que ceden solos en unos días</p>
                        </div>
                    </div>
                    <div class="div1">
                        <div class="div-image"><img src="../images/ginecologia/date/gine-date-22.svg" alt=""></div>
                        <div class="paragrah">
                            <p><strong>Dolor en zona tratada</strong></p>
                            <p>En ocasiones aparece dolor luego del procedimiento. Aliviarlo con reposo o uso de analgésicos permitidos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="../img/blue-points.svg" alt="puntitos" class="point4">
        <img src="../img/blue-points.svg" alt="puntitos" class="point5">
        <img src="../img/blue-points.svg" alt="puntitos" class="point6">
        <!-- <img src="../img/blue-points.svg" alt="puntitos" class="point7"> -->
    </section>
    <!-- *antes,durante despues citas FINAL -->

    <!-- *footer INICIO -->
    <footer class="footer">
        <nav class="ofrecemos-footer">
            <div class="ofrecemos_footer_div1">
                <div>
                    <a target="_blank" href="https://imm.pe/contact_us"><i class="fas fa-map-marker-alt"></i></a>
                    <ul class="footer-ul1">
                        <h2>Visítanos</h2>
                        <li>
                            <p>Av. Javier Prado Este 1476 San Isidro</p>
                        </li>
                    </ul>
                </div>
                <div>
                    <a id="btn_wsp" data-desktop-target="_blank" rel="noopener" target="_blank"
                        href="https://web.whatsapp.com/send?phone=51986620392" target="_blank"><i
                            class="fab fa-whatsapp"></i></a>
                    <ul class="footer-ul2">
                        <h2>Escríbenos</h2>
                        <li>
                            <a id="btn_wsp" data-desktop-target="_blank" rel="noopener" target="_blank"
                            href="https://web.whatsapp.com/send?phone=51986620392" target="_blank"><p>+51 986 620 392</p></a>
                        </li>
                    </ul>
                </div>
                <div>
                    <a rel="noopener noreferrer" href="mailto:citas@imm.com.pe"><img
                        src="../../img/image-simple-2/9.-mail.png" alt="email" class="footer_img3"></i></a>
                    <ul class="footer-ul3">
                        <li><a rel="noopener noreferrer" href="mailto:citas@imm.com.pe">citas.immujer@imm.com.pe</a></li>
                        <ul>
                            <a target="_blank" href="https://www.facebook.com/immperu/"><i
                                class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="https://www.instagram.com/immperuoficial/"><i
                                class="fab fa-instagram"></i></a>
                        </ul>
                    </ul>
                </div>

            </div>
            <div class="ofrecemos_footer_div2">
                <p>© 2023 Instituto Médico de la Mujer</p>
            </div>
        </nav>
    </footer>
    <!-- *footer final -->

    <script src="../js/content_arrows-gine.js"></script>
    <script src="../js/funcional/btn_wsp.js"></script>
</body>

</html>