<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y8GCWSL9YP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Y8GCWSL9YP');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style-gine-tomo_3d.css">
    <title>IMM Tomosíntesis 3D</title>
    <script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../img/favicon.svg">
</head>

<body>
    <!-- *Home inicio -->
    <section class="home">
        <div class="home-img_logo">
            <img src="../img/logo-imm.svg" alt="Logo-IMM" class="img_logo">
            <img src="../img/logo-imm-short.svg" alt="Logo-IMM" class="img_logo2">
        </div>
        <div class="home_box">
            <div class="home-nav1">
                <div class="home-content">
                    <h2 class="home_title">TOMOSÍNTESIS 3D</h2>
                    <!-- <h2 class="home_title">ECTROPION CERVICAL</h2> -->
                    <div class="animated infinite pulse delay-2s">
                        <a id="btn_wsp" data-desktop-target="_blank" rel="noopener" target="_blank"
                            href="https://web.whatsapp.com/send?phone=51986620392" target="_blank"><i
                                class="fab fa-whatsapp"></i>AGENDAR CITA</a>
                    </div>
                </div>  
            </div>
        </div>
    </section>
    <!-- *Home final -->

    <!-- *Process INICIO -->
    <section class="process">
        <h2 class="title">¿En qué consiste el procedimiento?</h2>
        <div class="process-img">
            <img src="../images/ginecologia/proc-1.svg" alt="img" class="img">
        </div>
        <p class="content">La mamografía con tomosíntesis 3D es la mejor técnica actual de detección temprana de las lesiones
            en la mama en mujeres que no presentan ni signos ni síntomas ayudando a la prevención del cáncer de mama.</p>
    </section>
    <!-- *Process final -->

    <!-- *Info INICIO -->
    <section class="info">
        <div class="info-box">
            <div class="info_image">
                <img src="../img/images-gine/procedimiento/proc-ecography.jpg" alt="ecography" class="img">
            </div>
            <article class="info_content">
                <div class="info_content_box">
                    <div class="content">
                        <h2 class="title">¿Para qué sirve?</h2>
                        <p class="paragraph">
                            A diferencia de un mamógrafo digital convencional suele obtener solo 4 imágenes radiográficas,
                            la tomosíntesis 3D obtiene por barrido del tejido cientos de imágenes que permiten ver la mama en su real aspecto gracias
                            a su cabezal que se mueve sobre la mama tomando imágenes mientras realiza un arco de giro.
                        </p>
                        <p class="paragraph">
                            Mediante la implementación de un potente software, se consigue la reconstrucción tridimensional de las imágenes permitiendo ver la mama de forma más clara y precisa.
                        </p>
                    </div>
                </div>
                <img src="../images/ginecologia/election-egi_emi/points-gine-4.svg" alt="puntitos" class="point8">
            </article>
        </div>
    </section>
    <!-- *Info FINAL -->

    <!-- *advantage INICIO -->
    <section class="advantages">
        <h2 class="title">Ventajas</h2>
        <div class="advantages__box">
            <article class="article_advantage">
                <img src="../images/ginecologia/date-two/gine-date-46.svg" alt="img" class="img">
                <h3 class="subtitle">Mejor visualización</h3>
                <p class="paragraph">Detecta lesiones ocultas sospechosas de cáncer de mama, además de evitar biopsias innecesarias</p>
            </article>
            <article class="article_advantage b">
                <img src="../images/ginecologia/date-two/gine-date-47.svg" alt="img" class="img">
                <h3 class="subtitle">Detección temprana</h3>
                <p class="paragraph">Visualiza del tejido espaciados por 1 mm y detecta lesiones pequeñas combatibles con tratamientos simples y menos agresivos</p>
            </article>
            <article class="article_advantage b">
                <img src="../images/ginecologia/date-two/gine-date-48.svg" alt="img" class="img">
                <h3 class="subtitle">Mayor sensibilidad</h3>
                <p class="paragraph">Detecta hasta un 45% más de casos de cáncer de mama que la mamografía convencional gracias al procesamiento por capas</p>
            </article>
            <article class="article_advantage b">
                <img src="../images/ginecologia/date-two/gine-date-49.svg" alt="img" class="img">
                <h3 class="subtitle">Ideal para mamas densas</h3>
                <p class="paragraph">Alta sensibilidad diagnóstica
                    al minimizar la superposición
                    de tejidos, ayudando a reducir falsos negativos o positivos</p>
            </article>
        </div>
    </section>
    <!-- *advantage INICIO -->

    <!-- *who INICIO -->
    <section class="who">
        <h2 class="title">¿A quién se le recomienda una mamografía?</h2>
        <div class="who__box">
            <article class="article_who">
                <h3 class="number">1</h3>
                <p class="paragraph b">
                    Mujeres de 40 años a más
                </p>
            </article>
            <article class="article_who">
                <h3 class="number">2</h3>
                <p class="paragraph">
                    Mujeres desde los 35 años si tienen un familiar directo con cáncer de mama (Madres, tías, abuelas)
                </p>
            </article>
            <article class="article_who">
                <h3 class="number">3</h3>
                <p class="paragraph">
                    Mujeres de cualquier edad con sospechas de lesiones atípicas en la mama (Bajo recomendación médica)
                </p>
            </article>
        </div>
    </section>
    <!-- *who FINAL -->

    <!-- *Tiempo y precio INICIO-->
    <section class="time-price">
        <div class="time-price_box1">
            <img src="../img/blue-points.svg" alt="puntitos" class="point3">
            <img class="time-price_box2_img" src="../images/ginecologia/time_price-3.svg" alt="time">
            <div>
                <h3>¿En cuánto </h3>
                <h3>tiempo se realiza?</h3>
                <p>Entre 15 a 20 minutos</p>
            </div>
        </div>

        <div class="time-price_box2">
            <!-- <img class="img-fondo" src="../img/image-simple-2/Fondo.png" alt=""> -->
            <img class="time-price_box2_img" src="../images/ginecologia/time_price-2.svg" alt="porcentaje">
            <div>
                <p>¿Qué precio tiene?</p>
                <h3>S/ 130</h3>
            </div>
        </div>
    </section>
    <!-- *Tiempo y precio FINAL-->

    
    <!-- *inbody INICIO -->
    <section class="inbody">
        <div class="inbody__box">
            <div class="box_img">
                <img src="../img/images-gine/tomo_3d/exam-1.png" alt="inbody" class="img">
            </div>
            <article class="box_paragraph">
                <p class="paragraph">
                    Esta prueba es parte del Estudio de Menopausia Integral y del Estudio Mamario Integral,
                    donde se combina con ecografía mamaría mejorando la sensibilidad diagnóstica.
                </p>
            </article>
            <img src="../images/ginecologia/election-egi_emi/points-gine-4.svg" alt="puntitos" class="point4">
            <img src="../images/ginecologia/election-egi_emi/points-gine-4.svg" alt="puntitos" class="point5">
        </div>
    </section>
    <!-- *inbody FINAL -->

    <!-- *features_tomo INICIO -->
    <section class="features_tomo">
        <div class="features_tomo__box">
            <article class="article_feature">
                <img src="../img/images-gine/tomo_3d/feature-4.png" alt="img-feature">
                <h4 class="article_feature__title">Equipo de última generación</h4>
                <p class="paragraph">Contamos con el Senographe Pristina, el más moderno equipo para la toma de tomosíntesis y mamografía 3D</p>
            </article>
            <article class="article_feature">
                <img src="../img/images-gine/tomo_3d/feature-5.png" alt="img-feature">
                <h4 class="article_feature__title">Prueba cómoda e indolora</h4>
                <p class="paragraph">Tranquilidad y confort que reduce el nivel de ansiedad sin generar dolor a la paciente</p>
            </article>
            <article class="article_feature">
                <img src="../img/images-gine/tomo_3d/feature-6.png" alt="img-feature">
                <h4 class="article_feature__title">Precisión diagnóstica y segura</h4>
                <p class="paragraph">Un mejor diagnóstico con compresión mamaria controlada y bajos niveles de radiación</p>
            </article>
        </div>
    </section>
    <!-- *features_tomo FINAL -->

    <!-- *antes,durante despues citas INICIO -->
    <section class="info-date section" id="info-date">
        <h2>Recomendaciones</h2>
        <span class="section__subtitle">Ten en cuenta estas recomendaciones para una mejor experiencia</span>

        <!-- *contenido de primer día -->
        <div class="info-date-container active">
            <!-- *contenido1 -->
            <div class="info-contenido">
                <div class="contenido-header close">
                    <span>Antes de la cita</span>
                    <img src="../img/arrow-pink-top.svg" alt="svg" class="arrow-top">
                </div>
                <div class="contenido-body close">
                    <div class="div1 solo">
                        <div class="div-image"><img src="../images/ginecologia/date/gine-date-1.svg" alt=""></div>
                        <div class="paragrah">
                            <p>Confirmaremos tu asistencia de 12 a 24 horas antes de la cita</p>
                        </div>
                    </div>
                    <div class="div1 solo">
                        <div class="div-image"><img src="../images/ginecologia/date/gine-date-2.svg" alt=""></div>
                        <div class="paragrah">
                            <p>Regístrate en recepción 15 minutos antes de tu cita con tu DNI</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- *contenido 2 -->
            <div class="info-contenido">
                <div class="contenido-header close">
                    <span>Durante la cita</span>
                    <img src="../img/arrow-pink-top.svg" alt="svg" class="arrow-top">
                </div>
                <div class="contenido-body close">
                    <div class="div1">
                        <div class="div-image"><img src="../images/ginecologia/date/gine-date-12.svg" alt=""></div>
                        <div class="paragrah">
                            <p>No usar joyas ni relojes durante tu cita</p>
                        </div>
                    </div>
                    <div class="div1">
                        <div class="div-image"><img src="../images/ginecologia/date/gine-date-13.svg" alt=""></div>
                        <div class="paragrah">
                            <p>No usar talco, cremas ni desodorante en la zona axilar o las mamas</p>
                        </div>
                    </div>
                    <div class="div1">
                        <div class="div-image"><img src="../images/ginecologia/date/gine-date-15.svg" alt=""></div>
                        <div class="paragrah">
                            <p>El cabello debe estar recogido en cola</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- *contenido3 -->
            <div class="info-contenido">
                <div class="contenido-header close">
                    <span>Después de la cita</span>
                    <img src="../img/arrow-pink-top.svg" alt="svg" class="arrow-top">
                </div>
                <div class="contenido-body close">
                    <div class="div1 solo">
                        <div class="div-image"><img src="../images/ginecologia/date/gine-date-7.svg" alt=""></div>
                        <div class="paragrah">
                            <p>Entrega del informe físico entre 24 y 48 horas posteriores a la cita</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="../img/blue-points.svg" alt="puntitos" class="point4">
        <img src="../img/blue-points.svg" alt="puntitos" class="point5">
        <img src="../img/blue-points.svg" alt="puntitos" class="point6">
        <!-- <img src="../img/blue-points.svg" alt="puntitos" class="point7"> -->
    </section>
    <!-- *antes,durante despues citas FINAL -->


    <!-- *consideraciones INICIO -->
    <section class="considerations">
        <h2 class="title">Considera la siguiente información</h2>
        <p class="paragraph">De estar gestando o tener sospechas de estarlo, evite realizarse esta prueba.</p>
        <p class="paragraph">En caso de un embarazo no detectado, no hay evidencia que estos estudios 
            generen riesgos en el desarrollo del bebé durante la gestación ni después de ella.
        </p>
    </section>
    <!-- *consideraciones FINAL -->

    <!-- *footer INICIO -->
    <footer class="footer">
        <nav class="ofrecemos-footer">
            <div class="ofrecemos_footer_div1">
                <div>
                    <a target="_blank" href="https://imm.pe/contact_us"><i class="fas fa-map-marker-alt"></i></a>
                    <ul class="footer-ul1">
                        <h2>Visítanos</h2>
                        <li>
                            <p>Av. Javier Prado Este 1476 San Isidro</p>
                        </li>
                    </ul>
                </div>
                <div>
                    <a id="btn_wsp" data-desktop-target="_blank" rel="noopener" target="_blank"
                        href="https://web.whatsapp.com/send?phone=51986620392" target="_blank"><i
                            class="fab fa-whatsapp"></i></a>
                    <ul class="footer-ul2">
                        <h2>Escríbenos</h2>
                        <li>
                            <p>+51 986 620 392</p>
                        </li>
                    </ul>
                </div>
                <div>
                    <a rel="noopener noreferrer" href="mailto:citas@imm.com.pe"><img
                            src="../../img/image-simple-2/9.-mail.png" alt="" class="footer_img3"></i></a>
                    <ul class="footer-ul3">
                        <li>citas.immujer@imm.com.pe</li>
                        <ul>
                            <a target="_blank" href="https://www.facebook.com/immperu/"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="https://www.instagram.com/immperuoficial/"><i
                                    class="fab fa-instagram"></i></a>
                        </ul>
                    </ul>
                </div>

            </div>
            <div class="ofrecemos_footer_div2">
                <p>© 2022 Instituto Médico de la Mujer</p>
            </div>
        </nav>
    </footer>
    <!-- *footer final -->

    <script src="../js/content_arrows-gine.js"></script>
    <script src="../js/funcional/btn_wsp.js"></script>
</body>

</html>