<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style-gine_elec-egi_emi.css">
    <title>Estudios-Ginecológicos</title>
    <script src="https://kit.fontawesome.com/7b8ec7838e.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../img/favicon.svg">
</head>
<body class="body">
    <section class="left">
        <img src="../images/ginecologia/election-egi_emi/gine-img-global.png" alt="img-left" class="img">
        <img src="../images/ginecologia/election-egi_emi/points-gine-1.svg" alt="" class="points-1">
        <img src="../images/ginecologia/election-egi_emi/points-gine-3.svg" alt="points-2" class="points-2">
        <img src="../images/ginecologia/election-egi_emi/points-gine-2.svg" alt="points-2" class="points-3">
        <p class="content">© 2022 Instituto Médico de la Mujer</p>
    </section>
    <!-- *section 2========== -->
    <section class="right">
        <header class="header">
            <img src="../img/logo-imm.svg" alt="imm-logo" class="imm-logo">
            <nav class="navbar">
                <a class="links" href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a class="links" href="#"><i class="fa-brands fa-instagram"></i></a>
                <span>Escribenos</span>
                <a class="links" href="#"><i class="fa-brands fa-whatsapp"></i></a>
                <span>+51 986 620 393</span>
           </nav>
        </header>

        <section class="titles">
            <h1 class="title">PAQUETES GINECOLÓGICOS</h1>
            <p class="subtitle">Los mejores estudios integrales de detección y prevención diseñados especialmente
             para tu bienestar como mujer</p>
        </section>
 
        <section class="egi-emi">
            <div class="box">
                 <article class="article">
                     <h2 class="article-title">EGI</h2>
                     <h5 class="article-subtitle">E S T U D I O</h5>
                     <h5 class="content">Ginecológico Integral</h5>
                     <p class="description">Para mujeres menores de 40 años</p>
                </article>
                <a href="ginecologia-egi.html" class="btn">INGRESAR</a>
            </div>
            <div class="box">
                 <article class="article">
                     <h2 class="article-title">EMI</h2>
                     <h5 class="article-subtitle">E S T U D I O</h5>
                     <h5 class="content">Menopáusico Integral</h5>
                     <p class="description">Para mujeres de 40 años o más</p>
                </article>
                <a href="ginecologia-emi.html" class="btn">INGRESAR</a>
             </div>
        </section>
 
        <footer class="footer">
            <p class="content">© 2022 Instituto Médico de la Mujer</p>
        </footer>
    </section>
</body>
</html>