<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y8GCWSL9YP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Y8GCWSL9YP');
    </script> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style-gine-bioimpedancia.css">
    <title>IMM Bioimpedancia Eléctrica</title>
    <script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../img/favicon.svg">
</head>

<body>
    <!-- *Home inicio -->
    <section class="home">
        <div class="home-img_logo">
            <img src="../img/logo-imm.svg" alt="Logo-IMM" class="img_logo">
            <img src="../img/logo-imm-short.svg" alt="Logo-IMM" class="img_logo2">
        </div>
        <div class="home_box">
            <div class="home-nav1">
                <div class="home-content">
                    <h2 class="home_title">BIOIMPEDANCIA ELÉCTRICA</h2>
                    <h2 class="home_title-2">Análisis de la Composición Corporal</h2>
                    <div class="animated infinite pulse delay-2s">
                        <a id="btn_wsp" data-desktop-target="_blank" rel="noopener" target="_blank"
                            href="https://web.whatsapp.com/send?phone=51986620392" target="_blank"><i
                                class="fab fa-whatsapp"></i>AGENDAR CITA</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- *Home final -->

    <!-- *Process INICIO -->
    <section class="process">
        <article class="process__box">
            <article class="process-content">
                <h2 class="title">¿En qué consiste el procedimiento?</h2>
                <p class="paragraph">
                    <img src="../img/images-gine/bioimpedancia/process-1.png" alt="img" class="img">
                    Es el mejor método para cuantificar los componentes de nuestro cuerpo, diferenciando lo que es masa
                    grasa
                    (tejido adiposo) de la masa magra (músculos, huesos, órganos) siendo la forma más efectiva de
                    controlar de modo adecuado nuestro
                    peso, porque evalúa la cantidad de grasa que realmente pierde y/o la cantidad de músculo que gana.
                </p>
                <p class="paragraph">
                    Un cuerpo sano debe contener más tejido magro que
                    tejido graso. Cuando esto no es así, así se tenga un peso aceptable, pueden aparecer síntomas
                    crónicos que afecten el bienestar.
                </p>
            </article>
            <div class="process-img">
                <img src="../img/images-gine/bioimpedancia/process-1.png" alt="img" class="img">
            </div>
        </article>
    </section>
    <!-- *Process final -->

    <!-- *inbody INICIO -->
    <section class="inbody">
        <div class="inbody__box">
            <div class="box_img">
                <img src="../img/images-gine/bioimpedancia/inbody-2.png" alt="inbody" class="img">
            </div>
            <box class="box_content">
                <h2 class="box_content__title">Equipos de última generación</h2>
                <article class="box_content__article">
                    <img class="img" src="../images/ginecologia/white-svg/white-1.svg" alt="">
                    <p class="paragraph">
                        Contamos con equipos InBody 570, de grado médico, que brinda un análisis completo para adultos y
                        niños.
                    </p>
                </article>
                <article class="box_content__article">
                    <img class="img" src="../images/ginecologia/white-svg/white-2.svg" alt="">
                    <p class="paragraph">
                        Se establece el peso, el porcentaje de grasa corporal y de músculo, tanto el actual como el objetivo.
                    </p>
                </article>
            </box>
            <img src="../images/ginecologia/election-egi_emi/points-gine-4.svg" alt="puntitos" class="point4">
            <img src="../images/ginecologia/election-egi_emi/points-gine-4.svg" alt="puntitos" class="point5">
        </div>
    </section>
    <!-- *inbody FINAL -->

    <!-- *antes,durante despues citas INICIO -->
    <section class="info-date section" id="info-date">
        <h2>Recomendaciones</h2>
        <span class="section__subtitle">Ten en cuenta estas recomendaciones para una mejor experiencia</span>

        <!-- *contenido de primer día -->
        <div class="info-date-container active">
            <!-- *contenido1 -->
            <div class="info-contenido">
                <div class="contenido-header close">
                    <span>Antes de la cita</span>
                    <img src="../img/arrow-pink-top.svg" alt="svg" class="arrow-top">
                </div>
                <div class="contenido-body close">
                    <div class="div1 solo">
                        <div class="div-image"><img src="../images/ginecologia/date-two/gine-date-50.svg" alt=""></div>
                        <div class="paragrah">
                            <p>Tomar abundate agua el día previo a tu cita</p>
                        </div>
                    </div>
                    <div class="div1 solo">
                        <div class="div-image"><img src="../images/ginecologia/date-two/gine-date-51.svg" alt=""></div>
                        <div class="paragrah">
                            <p>Alimentación habitual el día previo a tu cita</p>
                        </div>
                    </div>
                    <div class="div1 solo">
                        <div class="div-image"><img src="../images/ginecologia/date-two/gine-date-52.svg" alt=""></div>
                        <div class="paragrah">
                            <p>No consumir suplementos ade calcio 24 horas antes</p>
                        </div>
                    </div>
                </div>
                <div class="contenido-body close">
                    <div class="div1 solo">
                        <div class="div-image"><img src="../images/ginecologia/date/gine-date-1.svg" alt=""></div>
                        <div class="paragrah">
                            <p>Confirmaremos tu asistencia de 12 a 24 horas antes de tu cita</p>
                        </div>
                    </div>
                    <div class="div1 solo">
                        <div class="div-image"><img src="../images/ginecologia/date/gine-date-2.svg" alt=""></div>
                        <div class="paragrah">
                            <p>Registrate en recepción 15 minutos antes de tu cita con tu DNI</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- *contenido 2 -->
            <div class="info-contenido">
                <div class="contenido-header close">
                    <span>Durante la cita</span>
                    <img src="../img/arrow-pink-top.svg" alt="svg" class="arrow-top">
                </div>
                <div class="contenido-body close">
                    <div class="div1">
                        <div class="div-image"><img src="../images/ginecologia/date-two/gine-date-53.svg" alt=""></div>
                        <div class="paragrah">
                            <p>Realizarse la prueba entre 7:30 am a 9 am</p>
                        </div>
                    </div>
                    <div class="div1">
                        <div class="div-image"><img src="../images/ginecologia/date/gine-date-5.svg" alt=""></div>
                        <div class="paragrah">
                            <p>Usar ropa cómoda</p>
                        </div>
                    </div>
                    <div class="div1">
                        <div class="div-image"><img src="../images/ginecologia/date/gine-date-12.svg" alt=""></div>
                        <div class="paragrah">
                            <p>No usar joyas ni relojes durante la cita</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- *contenido3 -->
            <div class="info-contenido">
                <div class="contenido-header close">
                    <span>Después de la cita</span>
                    <img src="../img/arrow-pink-top.svg" alt="svg" class="arrow-top">
                </div>
                <div class="contenido-body close">
                    <div class="div1 solo">
                        <div class="div-image"><img src="../images/ginecologia/date/gine-date-8.svg" alt=""></div>
                        <div class="paragrah">
                            <p>Envío del informe digital a tu correo electrónico</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="../img/blue-points.svg" alt="puntitos" class="point4">
        <img src="../img/blue-points.svg" alt="puntitos" class="point5">
        <img src="../img/blue-points.svg" alt="puntitos" class="point6">
        <!-- <img src="../img/blue-points.svg" alt="puntitos" class="point7"> -->
    </section>
    <!-- *antes,durante despues citas FINAL -->

    <!-- *footer INICIO -->
    <footer class="footer">
        <nav class="ofrecemos-footer">
            <div class="ofrecemos_footer_div1">
                <div>
                    <a target="_blank" href="https://imm.pe/contact_us"><i class="fas fa-map-marker-alt"></i></a>
                    <ul class="footer-ul1">
                        <h2>Visítanos</h2>
                        <li>
                            <p>Av. Javier Prado Este 1476 San Isidro</p>
                        </li>
                    </ul>
                </div>
                <div>
                    <a id="btn_wsp" data-desktop-target="_blank" rel="noopener" target="_blank"
                        href="https://web.whatsapp.com/send?phone=51986620392" target="_blank"><i
                            class="fab fa-whatsapp"></i></a>
                    <ul class="footer-ul2">
                        <h2>Escríbenos</h2>
                        <li>
                            <p>+51 986 620 392</p>
                        </li>
                    </ul>
                </div>
                <div>
                    <a rel="noopener noreferrer" href="mailto:citas@imm.com.pe"><img
                            src="../../img/image-simple-2/9.-mail.png" alt="" class="footer_img3"></i></a>
                    <ul class="footer-ul3">
                        <li>citas.immujer@imm.com.pe</li>
                        <ul>
                            <a target="_blank" href="https://www.facebook.com/immperu/"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="https://www.instagram.com/immperuoficial/"><i
                                    class="fab fa-instagram"></i></a>
                        </ul>
                    </ul>
                </div>

            </div>
            <div class="ofrecemos_footer_div2">
                <p>© 2022 Instituto Médico de la Mujer</p>
            </div>
        </nav>
    </footer>
    <!-- *footer final -->

    <script src="../js/content_arrows-gine.js"></script>
    <script src="../js/funcional/btn_wsp.js"></script>
</body>

</html>