<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indice General de Paginas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style-index-general.css">
</head>
<body>
    <nav class="navbar  navbar-expand-md navbar-light bg-dark position-sticky">
        <h1 class="h1 position-sticky">IMM - indice de páginas</h1>
        <span style="color: #fff; margin-left: auto;">(Vista No disponible en movil)</span>
    </nav>

    <section class="pages">
        <h2>Página: IMMLATAM</h2>
        <hr>
        <div class="table-container">
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>url - DE PRUEBA</th>
                    <th>url - IMMLATAM</th>
                    <th>página</th>
                    <!-- <th>Propuesta(solo Desktop) 
                        <br>
                        Solo para el primer pantallazo de carga</th> -->
                    <!-- <th>Opinión <strong><em>(Only visible to admin)</em></strong></th> -->
                </tr>
                <tr>
                    <td>IMM <strong>(Esta página, es el index)</strong></td>
                    <td><a href="https://imm-page.netlify.app/views/test.html">Link</a></td>
                    <td><a href="https://www.immlatam.com/">Link</a></td>
                    <td><a href="#"><img src="https://imm-page.netlify.app/img/logo-imm.svg" alt=""></a></td>
                    <!-- <td>costó trabajo hacerla responsiva, no está completa para pantallas cuadradas</td> -->
                </tr>
            </table>
        </div>
        <br><br>
        <h2>Páginas: GINECOLOGÍA</h2>
        <hr>
        <div class="table-container">
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>url - DE PRUEBA</th>
                    <th>url - IMMLATAM</th>
                    <th>página</th>
                    <!-- <th>Propuesta(solo Desktop) 
                        <br>
                        Solo para el primer pantallazo de carga</th> -->
                    <!-- <th>Opinión <strong><em>(Only visible to admin)</em></strong></th> -->
                </tr>
                <tr>
                    <td>Estudios Ginecológicos <strong>página que redirecciona a EGI EMI</strong></td>
                    <td><a href="https://imm-page.netlify.app/views/ginecologia_eleccion-egi_emi.html">Link</a></td>
                    <td><a href="https://www.immlatam.com/views/ginecologia_eleccion-egi_emi.html">Link</a></td>
                    <td><a href="#"><img src="https://imm-page.netlify.app/img/logo-imm.svg" alt=""></a></td>
                    <!-- <td>costó trabajo hacerla responsiva, no está completa para pantallas cuadradas</td> -->
                </tr>
                <tr>
                    <td>Estudio Ginecológico Integral</td>
                    <td><a href="https://imm-page.netlify.app/views/ginecologia-egi.html">Link</a></td>
                    <td><a href="https://www.immlatam.com/views/ginecologia-egi.html">Link</a></td>
                    <td><a href="#"><img src="https://imm-page.netlify.app/img/image-simple-2/doctora-gine-1.jpg" alt="egi"></a></td>
                    <!-- <td><a href="https://imm-pruebas.netlify.app/views/ginecologia-egi.html">Link</a></td> -->
                    <!-- <td>5/5</td> -->
                </tr>
                <tr>
                    <td>Estudio Menopáusico Integral</td>
                    <td><a href="https://imm-page.netlify.app/views/ginecologia-emi.html">Link</a></td>
                    <td><a href="https://www.immlatam.com/views/ginecologia-emi.html">Link</a></td>
                    <td><a href="#"><img src="https://imm-page.netlify.app/img/image-simple-2/doctora-gine-2.jpg" alt=""></a></td>
                    <!-- <td><a href="https://imm-pruebas.netlify.app/views/ginecologia-emi.html">Link</a></td> -->
                    <!-- <td>5/5</td> -->
                </tr>
                <tr>
                    <td>Consulta Ginecológica</td>
                    <td><a href="https://imm-page.netlify.app/views/ginecologia-consulta.html">Link</a></td>
                    <td><a href="https://www.immlatam.com/views/ginecologia-consulta.html">Link</a></td>
                    <td><a href="https://imm-page.netlify.app/img/image-simple-2/doctora-gine-3.jpg"><img src="https://imm-page.netlify.app/img/image-simple-2/doctora-gine-3.jpg" alt=""></a></td>
                    <!-- <td><a href="https://imm-pruebas.netlify.app/views/ginecologia-consulta.html">Link</a></td> -->
                    <!-- <td>5/5</td> -->
                </tr>
                <tr>
                    <td>Estudio Mamario</td>
                    <td><a href="https://imm-page.netlify.app/views/ginecologia-ema.html">Link</a></td>
                    <td><a href="https://www.immlatam.com/views/ginecologia-ema.html">Link</a></td>
                    <td><a href="https://imm-page.netlify.app/img/images-gine/ema/ema-ecography.jpg"><img src="https://imm-page.netlify.app/img/images-gine/ema/ema-ecography.jpg" alt=""></a></td>
                    <!-- <td><a href="https://imm-pruebas.netlify.app/views/ginecologia-ema.html">Link</a></td> -->
                </tr>
                <tr>
                    <td>Procedimientos</td>
                    <td><a href="https://imm-page.netlify.app/views/ginecologia-procedimiento.html">Link</a></td>
                    <td><a href="https://www.immlatam.com/views/ginecologia-procedimiento.html">Link</a></td>
                    <td><img src="https://imm-page.netlify.app/img/images-gine/procedimiento/proc-bg-1.jpg" alt=""></a></td>
                    <!-- <td><a href="https://imm-pruebas.netlify.app/views/ginecologia-ema.html">Link</a></td> -->
                </tr>
            </table>
        </div>
        <br><br>
        <!-- <hr> -->
        <h2>Páginas: GESTACIONAL (Estas se encuentran conectadas)</h2>
        <hr>
        <div class="table-container">
            <table class="table">
                <tr>
                    <th>Nombre de la primera página</th>
                    <th>url - DE PRUEBA</th>
                    <th>url - IMMLATAM</th>
                    <th>página</th>
                </tr>
                <tr>
                    <td>Viabilidad (Esta página, es el index de todos)</td>
                    <td><a href="https://imm-page.netlify.app/views/gestacional-viabilidad.html">https://imm-page.netlify.app/</a></td>
                    <td><a href="https://www.immlatam.com/views/gestacional-viabilidad.html">https://www.immlatam.com/</a></td>
                    <td><a href="#"><img src="https://imm-page.netlify.app/img/image-simple-2/doctora-gine-1.jpg" alt=""></a></td>
                </tr>
                <tr>
                    <td>Genético</td>
                    <td><a href="https://imm-page.netlify.app/views/gestacional-genetico.html">Link</a></td>
                    <td><a href="https://www.immlatam.com/views/gestacional-genetico.html">Link</a></td>
                    <td><a href="#"><img src="https://imm-page.netlify.app/img/image-simple-2/doctora-gine-1.jpg" alt=""></a></td>
                </tr>
                <tr>
                    <td>Pre-Morfológico</td>
                    <td><a href="https://imm-page.netlify.app/views/gestacional-pre_morfologico.html">Link</a></td>
                    <td><a href="https://www.immlatam.com/views/gestacional-pre_morfologico.html">Link</a></td>
                    <td><a href="#"><img src="https://imm-page.netlify.app/img/image-simple-2/doctora-gine-1.jpg" alt=""></a></td>
                </tr>
                <tr>
                    <td>Morfológico</td>
                    <td><a href="https://imm-page.netlify.app/views/gestacional-morfologico.html">Link</a></td>
                    <td><a href="https://www.immlatam.com/views/gestacional-morfologico.html">Link</a></td>
                    <td><a href="#"><img src="https://imm-page.netlify.app/img/image-simple-2/doctora-gine-1.jpg" alt=""></a></td>
                </tr>
                <tr>
                    <td>Crecimiento Doppler</td>
                    <td><a href="https://imm-page.netlify.app/views/gestacional-crecimiento_doppler.html">Link</a></td>
                    <td><a href="https://www.immlatam.com/views/gestacional-crecimiento_doppler.html">Link</a></td>
                    <td><a href="#"><img src="https://imm-page.netlify.app/img/image-simple-2/doctora-gine-1.jpg" alt=""></a></td>
                </tr>
                <tr>
                    <td>Antenatal</td>
                    <td><a href="https://imm-page.netlify.app/views/gestacional-antenatal.html">Link</a></td>
                    <td><a href="https://www.immlatam.com/views/gestacional-antenatal.html">Link</a></td>
                    <td><a href="#"><img src="https://imm-page.netlify.app/img/image-simple-2/doctora-gine-1.jpg" alt=""></a></td>
                </tr>
            </table>
        </div>
        <br><br>
        <h2>Otras Páginas</h2>
        <hr>
        <div class="table-container">
            <table class="table">
                <tr>
                    <th>Nombre de la primera página</th>
                    <th>url - DE PRUEBA</th>
                    <th>url - IMMLATAM</th>
                    <th>página</th>
                    <th>ESTADO</th>
                    <!-- <th>Propuesta(solo Desktop) 
                        <br>
                        Solo para el primer pantallazo de carga</th> -->
                    <!-- <th>Opinión<strong><em>(Only visible to admin)</em></strong></th> -->
                </tr>
                <tr>
                    <td>Colocación Endovenosa de hierro</td>
                    <td><a href="https://imm-page.netlify.app/views/others/colocacion_hierro.html">Colocacion_hierro</a></td>
                    <td><a href="https://www.immlatam.com/views/others/colocacion_hierro.html">Colocacion_hierro</a></td>
                    <td><a href="#"><img src="https://imm-page.netlify.app/images/recomendaciones/hierro/1-hierro_2.jpg" alt=""></a></td>
                    <td>Terminado</td>
                    <!-- <td><a href="https://imm-pruebas.netlify.app/views/others/colocacion_hierro.html">Link</a></td> -->
                    <!-- <td>Deberian Pagarme más por esta XD</td> -->
                </tr>
                <tr>
                    <td>ENDOCRINÓLOGAS</td>
                    <td><a href="https://imm-page.netlify.app/images/recomendaciones/hierro/1-hierro_2.jpg">endocrinologas</a></td>
                    <td><a href="https://www.immlatam.com/views/others/endocrinologas.html">endocrinologas</a></td>
                    <td><a href="#"><img src="https://imm-page.netlify.app/images/endocrinologia/endocrinologa.png" alt=""></a></td>
                    <td>Terminado</td>
                    <!-- <td>No me dijeron nada más, tal vez se quedó en el aire, 4.5/5 *</td> -->
                </tr>
                <tr>
                    <td>Recomendaciones-consulta</td>
                    <td><a href="https://imm-page.netlify.app/views/others/ginecologia-info_date-consulta.html">Recomendaciones</a></td>
                    <td>null</td>
                    <td>null</td>
                    <td>Cancel</td>
                    <!-- <td>En el Aire, tanto por el equipo como por el desarrollador</td> -->
                    <!-- <td>3/5</td> -->
                </tr>
                <tr>
                    <td>Recomendaciones-EGI</td>
                    <td><a href="https://imm-page.netlify.app/views/others/ginecologia-info_date-egi.html">Recomendaciones</a></td>
                    <td>null</td>
                    <td>null</td>
                    <td>Cancel</td>
                    <!-- <td>También en el Aire, tanto por el equipo como por el desarrollador</td> -->
                    <!-- <td>3/5 + 🧸</td> -->
                </tr>
                <tr>
                    <td>toma de muestra SM</td>
                    <td><a href="https://imm-page.netlify.app/views/others/muestra_de_sangre.html">Muestra-A</a></td>
                    <td><a href="https://www.immlatam.com/views/others/muestra_de_sangre.html">Muestra-A</a></td>
                    <td><a href="#"><img src="https://imm-page.netlify.app/images/recomendaciones/muestra_sangre/sangre-6.svg" alt=""></a></td>
                    <td>Terminado</td>
                    <!-- <td>otra por la que deberian pagarme más, no saben cuando tuve que pelear por el responsive</td> -->
                </tr>
                <tr>
                    <td>toma de muestra CM</td>
                    <td><a href="https://imm-page.netlify.app/views/others/muestra_de_sangre-b.html">Muestra-B</a></td>
                    <td><a href="https://www.immlatam.com/views/others/muestra_de_sangre-b.html">Muestra-B</a></td>
                    <td><a href="#"><img src="https://imm-page.netlify.app/images/recomendaciones/muestra_sangre/sangre-6.svg" alt=""></a></td>
                    <td>Terminado</td>
                    <!-- <td>Bueno, en esta si tuve menos trabajo, los elementos se podian cargar desde la otra página, 5/5 + 🎈</td> -->
                </tr>
                <tr>
                    <td>Recomendaciones para inyecciones</td>
                    <td><a href="https://imm-page.netlify.app/views/others/recomendaciones-hierro.html">Recomenaciones_inyecciones</a></td>
                    <td><a href="https://www.immlatam.com/views/others/recomendaciones-hierro.html">Recomendacion_inyeccion</a></td>
                    <td><a href="#"><img src="https://www.immlatam.com/images/recomendaciones/hierro/hierro-s-1.svg" alt=""></a></td>
                    <td>Terminado</td>
                    <!-- <td>Diseñado, y no supe más de él.... y se marchó, y a su barco le llamó....</td> -->
                    <!-- <td>Diseño muy simple en movil, aunque bueno en pc, no se más de esto 3.8/5</td> -->
                </tr>
            </table>
        </div>

    </section>
</body>
</html>