<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/test.css">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="contenedor">
        <div class="reproductor" data-id="WR_DGonVhWE"></div>
    </div>
    <iframe  src="https://www.youtube.com/embed/WR_DGonVhWE?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen allow="autoplay"></iframe>
</body>
<script src="../js/test.js"></script>
</html>