<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y8GCWSL9YP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Y8GCWSL9YP');
    </script> -->

    <!-- Google tag (gtag.js) -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10909381257"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
    
            gtag('config', 'AW-10909381257');
        </script> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/style-immfarma-new_page.css">
    <title>IMM Ginecología-EMA</title>
    <script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../img/favicon.svg">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"> -->

</head>

<body>
    <!-- *section_one -->
    <section class="section_one">
        <article class="section_one-article">
            <img class="article-img" src="../image/endo-logo.svg" alt="logo">
            <div class="article-content">
                <div class="content-box">
                    <h2><span>Bienestar y seguridad</span> femenina con un estudio completo</h2>
                    <p>Detecta el 99% de las lesiones cerviacles más temprano que el PAP, es moderna y confiable, lider
                        en países desarrollados con la mejor tecnología para ti.</p>
                    <button>Ver infografía</button>
                    <div>
                        <img src="../image/endo-logo-short.svg" alt="img">
                        <img src="../image/endo-logo-short.svg" alt="img">
                    </div>
                </div>
            </div>
        </article>
        <div class="section_one-box_image">
            <img class="box_image-image" src="../image/2.jpg" alt="seño-riendo">
        </div>
    </section>

    <section class="section_two">
        <div class="box">
            <h2>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente laudantium veniam ipsa suscipit
                excepturi ullam incidunt, aut molestiae eveniet labore a ex maxime laborum eius laboriosam? Quia esse
                eius error.</h2>
        </div>
    </section>

    <section class="section_threee">
        <section class="section_three-box">
            <div class="box-box_image">

            </div>
            <article class="box-article">
                <h2>¿Por que realizarse el estudio bio vital?</h2>
                <ul>
                    <li>quee</li>
                    <li>quee</li>
                    <li>quee</li>
                    <li>quee</li>
                </ul>
            </article>
        </section>
    </section>

    <section class="section_goals">
        <section>
            <h2></h2>
            <div>
                <div></div>
                <div></div>
            </div>
        </section>
    </section>

    <section class="section_four">
        <section>
            <div></div>
            <div></div>
        </section>
    </section>

    <section class="section_five_why">
        <article></article>
    </section>

    <section class="section_six_travel">
        <div>
            <h2></h2>
        </div>
    </section>

    <section class="section_seven_datas">
        <header>

        </header>

        <div></div>
    </section>

    <section class="section_eight_graphic">

    </section>

    <section class="section_nine_why">
        <div>
            <div></div>
            <article></article>
        </div>
    </section>

    <section class="section_ten">
        <h2>Mejor Sensibilidad diagnósitca</h2>
    </section>

    <section class="section_eleven">
        <section>
            <div></div>
            <div></div>
        </section>
    </section>

    <section class="section_twelve">
        <header>
            <h2></h2>
        </header>
        <div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </section>

    <section class="section_thirteen_form">
        <form>
            <h2>¡Déjanos tus datos y una asesora se contactrá a la brevedad!</h2>

        </form>
    </section>

    <section class="section_fourteen_questions">

    </section>
</body>

</html>