@font-face {
    font-family: "Poppins-Medium";
    src: url('../../fonts/Poppins/Poppins-Medium.ttf');
}

$poppins_m : "Poppins-Medium";

@font-face {
    font-family: "Abel-Regular";
    src: url('../../fonts/Abel-Regular.ttf');
}

$abel_regular: "Abel-Regular";