<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y8GCWSL9YP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Y8GCWSL9YP');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colocacion Endovenosa de Hierro</title>
    <link rel="stylesheet" type="text/css" href="../../css/style-hierro_2.css">
    <script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../../images/endocrinologia/favicon-endo.svg">
</head>

<body>
    <!-- *¨main INICIO -->
    <section class="main">
        <header class="main-header">
            <img src="../../images/endocrinologia/endo-logo.svg" alt="logo-img" class="main_img">
        </header>
        <div class="main-tittle">
            <h2 class="tittle first">COLOCACIÓN</h2>
            <h2 class="tittle second">ENDOVENOSA DE HIERRO</h2>
        </div>
    </section>
    <!-- *¨main FIN -->

    <!-- *box_1 INICIO -->
    <section class="box_1">
        <div class="box_box">
            <div class="box_content">
                <div class="boxes">
                    <h2 class="number">1</h2>
                    <p class="paragraph">Debes cumplir con las
                        indicaciones para asistir
                        a tu colocación de dosis</p>
                </div>
                <div class="boxes">
                    <h2 class="number">2</h2>
                    <p class="paragraph">Puedes adquirir tu
                        medicación en nuestra
                        farmacia</p>
                </div>
            </div>
            <div class="box_content">
                <div class="boxes">
                    <h2 class="number">3</h2>
                    <p class="paragraph">Al llegar al IMM,
                        regístrate en counter
                        para tu atención</p>
                </div>
                <div class="boxes">
                    <h2 class="number">4</h2>
                    <p class="paragraph">Trae tu receta médica
                        y preséntala al momento
                        de registrarte</p>
                </div>
                <img src="../../img/green-points.svg" alt="puntitos" class="points1">
            </div>
        </div>
    </section>
    <!-- *box_1 FIN -->

    <!-- * indications INICIO -->
    <section class="indications">
        <div class="indications_header">
            <h2 class="tittle">Indicaciones</h2>
            <p class="paragraph">La aplicación de hierro endovenoso requiere el cumplimiento de indicaciones
                específicas.
                Por eso, debes tomar en cuenta las siguientes recomendaciones:</p>
        </div>

        <div class="indications_content">
            <div class="boxes">
                <img src="../../img/green-double-points.svg" alt="puntitos" class="points2">
                <img src="../../images/recomendaciones/hierro/1-hierro_2.jpg" alt="img-food" class="img">
                <p class="paragraph_1"><strong>Comer tu alimentación habitual</strong> el día de su aplicación</p>
                <p class="paragraph_2">El realizar cambios en tu alimentación puede generar
                    descompensaciones y reacciones alérgicas.</p>
            </div>
            <div class="boxes">
                <img src="../../img/green-double-points.svg" alt="puntitos" class="points3">
                <img src="../../images/recomendaciones/hierro/2-hierro_2.jpg" alt="img-med" class="img">
                <p class="paragraph_1"><strong>Horario sugerido</strong> de aplicación de la dosis de hierro</p>
                <p class="paragraph_2">Acudir después de la comida (Entre 7 a 11 am y 2 a 5 pm)
                    evitando lapsos prolongados sin comer.</p>
            </div>
        </div>
    </section>
    <!-- * indications FIN -->

    <!-- *box_2 INICIO -->
    <section class="box_2">
        <div class="box">
            <div class="boxes">
                <div class="boxes_div">
                    <img src="../../images/recomendaciones/hierro/hierro-s-2.svg" alt="prohibido_comer"
                        class="boxes_img">
                    <strong class="paragraph_1">No ingerir pescados ni maricos
                        24 horas antes</strong>
                    <p class="paragraph_2">Caso contrario, la aplicación no será
                        efectiva y puede generar reacciones
                        alérgicas.</p>
                </div>
            </div>
            <div class="boxes">
                <div class="boxes_div">
                    <img src="../../images/recomendaciones/hierro/hierro-s-3.svg" alt="prohibido_comer"
                        class="boxes_img">
                    <strong class="paragraph_1">No haber sufrido picaduras de
                        insectos 24 horas antes</strong>
                    <p class="paragraph_2">Para evitar posibles reacciones
                        alérgicas, es recomendable no haber
                        sido picado 1 día antes.</p>
                </div>
            </div>
            <div class="boxes">
                <div class="boxes_div">
                    <img src="../../images/recomendaciones/muestra_sangre/sangre-4.svg" alt="prohibido_comer"
                        class="boxes_img">
                    <strong class="paragraph_1">No estar atravesando procesos
                        infecciosos desde 48 horas antes</strong>
                    <p class="paragraph_2">Para evitar posibles reacciones
                        alérgicas. Esto no aplica si estás
                        utilizando óvulos.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- *box_2 FIN -->

    <!-- *restrictions INICIO -->
    <section class="restrictions">
        <h2 class="title">Restricciones</h2>
        <img class="img" src="../../images/recomendaciones/muestra_sangre/sangre-8.svg" alt="interration">
        <p class="paragraph">En gestantes, la aplicación de más de 1 dosis de carboximaltosa de hierro (Ferinject)
            se limita a casos estrictamente necesarios previa evaluación.</p>
    </section>
    <!-- *restrictions FIN -->
    

    <!-- *footer INICIO -->
    <footer class="footer">
        <nav class="ofrecemos-footer">
            <div class="ofrecemos_footer_div1">
                <div class="box">
                    <a target="_blank" href="https://imm.pe/contact_us"><i class="fas fa-map-marker-alt"></i></a>
                    <div class="footer-ul1">
                        <h2>Visítanos</h2>
                        <div>
                            <p>Av. Javier Prado Este 1476</p>
                        </div>
                        <div>
                            <p>San Isidro</p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <a class="links" id="btn_wsp" data-desktop-target="_blank" rel="noopener" target="_blank"
                    href="https://web.whatsapp.com/send?phone=51989266655" target="_blank"><i class="fab fa-whatsapp"></i></a>
                    <div class="footer-ul2">
                        <h2>Escríbenos</h2>
                        <div>
                            <p>
                                <a class="links" id="btn_wsp" data-desktop-target="_blank" rel="noopener" target="_blank"
                                href="https://web.whatsapp.com/send?phone=51989266655" target="_blank">+51 989 266 655</a>
                            </p>
                            <!-- <p>+51 989 266 655</p> -->
                        </div>
                        <!-- <div>
                            <p>+51 920 361 464</p>
                        </div> -->
                    </div>
                </div>
                <div class="box">
                    <a rel="noopener noreferrer" href="mailto:citas@imm.com.pe"><img src="../../img/footer-mail-green.svg" alt="mail" class="footer_img3"></a>
                    <div class="footer-ul3">
                        <a class="mail-link" rel="noopener noreferrer" href="mailto:citas@imm.com.pe">citas.immujer@imm.com.pe</a>
                        <div>
                            <a target="_blank" href="https://www.facebook.com/IMMetabolico"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="https://www.instagram.com/immetabolico_oficial/"><i
                                    class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ofrecemos_footer_div2">
                <p>© 2023 Instituto Médico Metabólico</p>
            </div>
        </nav>
    </footer>
    <!-- *footer final -->
    <script src="../../js/funcional/btn_wsp2.js"></script>
</body>

</html>