<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENDOCRINOLOGAS</title>
    <link rel="stylesheet" type="text/css" href="../../css/style-endocrinologas.css">
</head>
<body>
    <!-- *home INICIO -->
    <section class="home">
        <div class="home-box">
            <div class="home__div1">
                <img src="../../img/imm-logo.png" alt="imm-logo">
                <div>
                    <span class="tittle">En el IMM sabemos</span>
                    <p><b>que eres un excelente médico</b></p>
                    <p>tanto en el plano profesional como en el humano, que atiendes a tus pacientes con calidez y empatía</p>
                </div>
            </div>
            <div class="home__div2">
                
            </div>
            <div class="home__div3">
                <img class="ofrecemos-box3_img" src="../../img/image-simple-2/6.-importante.png" alt="">
            </div>
        </div>
    </section>
    <!-- *home FINAL -->

    <!-- *section 2 INICIO  -->
    <section class="section_2">
        <div class="image">
            <img src="../../img/image-simple-2/1.-Doctora.png" alt="">
        </div>
        <div class="content">
            <h3>Y que quieres lo mejor,</h3>
            <span>tanto para ti como para tu paciente. Y lo mejor
                es estar en bienestar la mayoría del tiempo. </span>
        </div>
    </section>
    <!-- *section 2 FINAL  -->

    <!-- *section 3 INICIO -->
    <section class="section_3">
        <div class="content">
            <h3>En el IMM creemos</h3>
            <h3>que si tú estas en bienestar,</h3>
            <span>el paciente lo estará también en el menor tiempo posible. Por eso hemos creado el mejor lugar para ejercer la Endocrinologia.</span>
        </div>
        <div class="image">
            <img src="../../img/image-simple-2/1.-Doctora.png" alt="">
        </div>
    </section>
    <!-- *section 3 FINAL -->

    <section class="dinamic"></section>

    <section class="filosofy"></section>

    <section class="section_final"></section>
</body>
</html>