<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y8GCWSL9YP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Y8GCWSL9YP');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toma de muestra CM t</title>
    <link rel="stylesheet" type="text/css" href="../../css/style-muestra-sangre.css">
    <!-- <script src="https://kit.fontawesome.com/62ea397d3a.js" crossorigin="anonymous"></script> -->
    <script src="https://kit.fontawesome.com/7b8ec7838e.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../../images/endocrinologia/favicon-endo.svg">
</head>

<body>
    <!-- *header INICIO -->
    <!-- Todo: por el momento ninguno va a tener movimiento -->
    <section class="header">
        <div class="header__div-box">
            <img class="img" src="../../images/endocrinologia/endo-logo.svg" alt="imm-logo">
        </div>
    </section>
    <!-- *header FINAL -->

    <!-- *Aside INICIO -->
    <aside class="popups">
        <div class="popups-box">
            <div class="popup-img">
                <img src="../../images/recomendaciones/muestra_sangre/muestra-1.jpg" alt="img_remplazo" class="img">
            </div>
            <div class="popup-content">
                <h3 class="popup-title">Aviso importante</h3>
                <p class="popup-content">Si has recibido la vacuna contra el COVID-19 <strong>espera 7 días</strong>
                    para la toma de muestra de sangre.</p>
                <p class="popup-content b">Esto evitará alteraciones en los resultados de tus exámenes.</p>
                <button class="btn" id="btn_popup">CERRAR</button>
            </div>
            <!-- <i class="fas fa-circle-x"></i> -->
            <!-- <i class="fas fa-x" id="icon_close"></i> -->
            <div class="fas" id="icon_close">X</div>
            <img src="../../images/recomendaciones/muestra_sangre/points-ms-1.svg" alt="points_7" class="points_7">
            <img src="../../images/recomendaciones/muestra_sangre/points-ms-2.svg" alt="points_7" class="points_8">
            <img src="../../images/recomendaciones/muestra_sangre/points-ms-3.svg" alt="points_7" class="points_9">
        </div>
    </aside>
    <!-- *Aside FINAL -->

    <!-- *titulo y subtitlo INICIO -->
    <section class="section_tittle">
        <div class="box">
            <h2 class="tittle">Indicaciones</h2>
            <span class="span">para la toma de muestra de sangre</span>
        </div>
    </section>
    <!-- *titulo y subtitlo FIN -->

    <!-- *pacientes INICIO -->
    <section class="patients b">
        <div class="box">
            <div class="box_div-1">
                <img class="img_pills b" src="../../images/recomendaciones/muestra_sangre/sangre-7.svg" alt="pills">
                <h3 class="tittle">Ayuno entre 8 a 12 hrs</h3>
                <p class="subtittle">previas a la toma de muestra</p>
            </div>
            <img src="../../img/green-points.svg" alt="green-points" class="points_1">
        </div>
    </section>
    <!-- *pacientes FIN -->

    <!-- *recomendaciones INICIO -->
    <section class="recommendations b">
        <div class="div-1">
            <div class="box">
                <img src="../../images/recomendaciones/muestra_sangre/sangre-3.svg" alt="image-3">
                <p>Evitar esfuerzo físico
                    antes de la toma</p>
            </div>
            <div class="box">
                <img src="../../images/recomendaciones/muestra_sangre/sangre-4.svg" alt="image-4">
                <p>No estar atravesando un
                    proceso viral o bacteriano</p>
            </div>
            <img src="../../img/green-points.svg" alt="green-points" class="points_2">
        </div>
        <div class="div-2">
            <div class="box">
                <img src="../../images/recomendaciones/muestra_sangre/sangre-5.svg" alt="image-5">
                <p>Tomar la muestra de preferencia
                    entre las 7 y 9 de la mañana</p>
            </div>
            <div class="box">
                <img src="../../images/recomendaciones/muestra_sangre/sangre-6.svg" alt="image-6">
                <p>Cena o comida habitual por la
                    noche previo al ayuno</p>
            </div>
        </div>
    </section>
    <!-- *recomendaciones FIN -->

    <!-- *avoid INICIO -->
    <section class="avoid">
        <h2 class="tittle">Evitar los siguientes medicamentos</h2>
        <p class="subtittle">antes de tu toma de muestra</p>
        <div class="avoid_features">
            <div class="features_strong">
                <strong class="content">Anticonceptivos hormonales:</strong>
                <strong class="content">Corticoides en dosis altas:</strong>
                <strong class="content">Antibióticos:</strong>
            </div>
            <div class="features_p">
                <p class="content">2 meses</p>
                <p class="content">15 días</p>
                <p class="content">7 días</p>
            </div>
        </div>
        <p class="importante">¡Importante!</>
            <img src="../../img/green-points.svg" alt="green-points" class="points_3">
            <!-- <img src="../../img/green-points.svg" alt="green-points" class="points_4"> -->
    </section>
    <!-- *avoid FIN -->

    <!-- *import INICIO -->
    <section class="import">
        <div class="box">
            <div class="boxes">
                <h3 class="subtittle">1</h3>
                <div class="boxes_div">
                    <Strong>Horario de toma de muestra de sangre</Strong>
                    <p>Puede variar según las indicaciones de
                        tu médico</p>
                </div>
            </div>
            <div class="boxes">
                <h3 class="subtittle">2</h3>
                <div class="boxes_div">
                    <Strong>Tras un viaje de 12 hrs o más</Strong>
                    <p>Reposa una noche en Lima antes de la
                        toma de muestra</p>
                </div>
            </div>
            <div class="boxes">
                <h3 class="subtittle">3</h3>
                <div class="boxes_div">
                    <Strong>T3 reverso</Strong>
                    <p>Toma tu prueba 10 días antes de tu cita</p>
                </div>
            </div>
            <div class="boxes">
                <h3 class="subtittle">4</h3>
                <div class="boxes_div">
                    <Strong>Perfil hormonal femenino
                        (LH, FSH, Estradiol, Prolactina, AMH)</Strong>
                    <p>Toma de muestra durante el 3er o 4to
                        día del ciclo menstrual</p>
                </div>
            </div>
            <img src="../../img/green-points.svg" alt="green-points" class="points_4">
            <img src="../../img/green-points.svg" alt="green-points" class="points_5">
            <img src="../../img/green-points.svg" alt="green-points" class="points_6">
        </div>
        <div class="box_footer">
            <strong class="subtittle">Prueba de cortisol salival</strong>
            <p class="text">Recoge el material para la recolección de saliva previamente y trae la muestra el día de tu
                toma de muestra de sangre</p>
        </div>
    </section>
    <!-- *import INICIO -->

    <!-- *footer INICIO -->
    <footer class="footer">
        <nav class="ofrecemos-footer">
            <div class="ofrecemos_footer_div1">
                <div class="box">
                    <a target="_blank" href="https://imm.pe/contact_us"><i class="fas fa-map-marker-alt"></i></a>
                    <div class="footer-ul1">
                        <h2>Visítanos</h2>
                        <div>
                            <p>Av. Javier Prado Este 1476</p>
                        </div>
                        <div>
                            <p>San Isidro</p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <a class="links" id="btn_wsp" data-desktop-target="_blank" rel="noopener" target="_blank"
                    href="https://web.whatsapp.com/send?phone=51989266655" target="_blank"><i class="fab fa-whatsapp"></i></a>
                    <div class="footer-ul2">
                        <h2>Escríbenos</h2>
                        <div>
                            <p>+51 989 266 655</p>
                        </div>
                        <!-- <div>
                            <p>+51 920 361 464</p>
                        </div> -->
                    </div>
                </div>
                <div class="box">
                    <a href="#"><img src="../../img/footer-mail-green.svg" alt="mail" class="footer_img3"></a>
                    <div class="footer-ul3">
                        <p>citas.immetabolico@imm.com.pe</p>
                        <div>
                            <a target="_blank" href="https://www.facebook.com/immperu/"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="https://www.instagram.com/immperuoficial/"><i
                                    class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ofrecemos_footer_div2">
                <p>© 2022 Instituto Médico de la Mujer</p>
            </div>
        </nav>
    </footer>
    <!-- *footer final -->
    <script src="../../js/funcional/btn_wsp2.js"></script>
    <script src="../../js/others-js/popup.js"></script>
</body>

</html>